/*GET START*/
.wrapper-outer {
    margin: 10px auto;
    padding: 40px;
}
/*top banner*/
.intro {
    display: grid;
    max-width: 100%;
    justify-content: center;
    padding: 40px;
    margin: 0 0 30px 0;
    text-align: center;
    background: linear-gradient(105deg, #b3c5f9, #b1f5d9);
}
.intro h3{
    margin: 0;
    color: #000;
    font-size: 3rem;
    line-height: 1.2;
}
.banner-buttons {
    text-align: center;
    padding-top: 20px;
}
.banner-buttons a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 15px 10px;
    background: #80669d;
    border-radius: 3px;

}
.banner-buttons a:hover,.support-button .button:hover,
.button.buy-btn:hover,.button.demo-btn:hover,.button.doc-btn:hover{
    background: #000;
    border-color: #000;
}
/*columns*/
.left-main-box{
    float: left;
    width: 65%;
}
.right-main-box{
    float: right;
    width: 28%;
    background-color: #F5E8DD;
    padding: 30px

}
/*description box*/
.about-wrapper{
    background-color: #f8f8f8;
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 20px;
    padding: clamp(15px, 5vw, 25px);
}
.col-left p{
   font-size: 12px; 
}
.col-right{
    text-align: center;
    display: flex;
    justify-content: center;
}
.col-right img{
    width: 100%;
    max-width: 350px;
    display: inline-block;
    align-self: center;
}
/*support box*/
.support-wrapper{
    display: grid;
    grid-gap: 30px;
    margin: 30px 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.review-box,.support-box,.editor-box{
    padding: 30px;
    background-color: #e5e6f6;
}
.support-wrapper i ,.pro-box i{
    background: #fff;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 33px;
    border: 1px solid #ebe2e2;
    box-shadow: 0 0 10px #c8c2c2;
}
.support-wrapper h4 ,.pro-box h4{
    font-size: 20px;
    color: #000;
}
.support-wrapper p,.pro-box p{
    font-size: 14px;
}
.support-button .button{
    background: #80669d;
    border-color: #80669d;
}
/*pro box*/
.button.buy-btn{
    background: #f94c30;
    border-color: #f94c30;
}
.button.doc-btn{
    background: #17B169;
    border-color: #17B169;
}
.button.demo-btn{
    background: #6664e4;
    border-color: #6664e4;
}
ul.pro-list{
    padding-left: 24px;
}
.pro-list li{
    color: #000;
    font-size: 15px;
    list-style-type: circle;
}

/*media*/
@media screen and (max-width:1434px){
   .support-wrapper h4{
    line-height: 1.2;
   } 
}
@media screen and (max-width:1304px){
    .pro-buttons{
        display: grid;
        text-align: center;
    }
    .left-main-box{
        width: 70%;
    }
    .right-main-box{
        width: 20%;
    }
    .button.buy-btn,.button.demo-btn{
        margin-top: 15px;
    }
    .col-left p{
        font-size: 12px;
    }
    .wrapper-outer{
        padding: 20px;
    }
}
@media screen and (max-width:1100px){
    .pro-list li {
        font-size: 13px;
    }
    ul.pro-list{
        padding: 17px;
    }
    .support-wrapper,.about-wrapper{
        display: block;
    }
    .review-box, .support-box, .editor-box{
        margin-bottom: 10px;
    }
    .col-right{
        justify-content: center;
    }
}
@media screen and (max-width:1000px){
    .left-main-box,.right-main-box{
        width: 100%;
        float: none;
        padding: 0;
    }
    .pro-box {
        padding: 30px;
    }
    .pro-buttons{
        display: block;
        text-align: left;
    }
    .button.buy-btn, .button.demo-btn{
        margin-top: 0;
    }
    .button.buy-btn,.button.demo-btn{
        margin-top: 15px;
    }
}   
@media screen and (max-width:445px){
    .wrapper-outer {
        padding: 13px;
    }
    .pro-buttons{
        display: grid;
        text-align: center;
    }

}
/* theme activation*/
.welcome a{
    font-size: 21px;
    padding: 8px 17px 38px;
}
.notice p.dismiss-link {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
    padding: 0;
}
.notice {
    position: relative;
}
.site-edit{
    margin-left: 15px !important;
}