.site-nav li {
	display: block;
	font-size: 1rem;
}

.page-header {
	margin: 0 auto 0 auto;
}

.site-nav ul + ul a {
	color:#5C5C5C;
}

.oplb-bs button,
#wpadminbar button {
	min-width: initial;
}

@media (max-width: 620px) {
	.site-nav {
		padding-top: 220px;
	}
}
