%first-level{
    >li{
        >a{
            font-size: 1.2rem;           
        }
    }
}
%second-level{
    >li{
        ul{
            position: relative;
            @include media(lg){
                top: -30px;
                height: 0;
                overflow: hidden;
                @include transition();

            }
            li{
                a{
                    font-size: 1rem;
                }
                &:hover,
                &:focus-within{
                    >ul{
                       height: auto;
                       overflow: visible;
                       top: 0;
                    }
                }
            }
            
        }
        &:hover,
        &:focus-within{
            >ul{
               height: auto;
               overflow: visible;
               top: 0;
            }
        }

       

    }
}