.#{$prefix}-menu-description{
    display: inline-block;
    font-size: 12px;
    font-weight: $font_bold;
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
    border-radius: 3px;
    background-color: $color_primary;
    color: $color_white;
 }
 