/* FILE: blocks/_coblocks.scss */

// Layout.
.has-columns {
	align-items: flex-start;

	.alignfull & {
		padding-left: 0;
		padding-right: 0;
	}

}

.mb-0[class*="wp-block-coblocks-"] > .has-columns > [class*="wp-block-coblocks-"] {
	margin-bottom: 0;
}

// Shape Divider block.
.wp-block-coblocks-shape-divider__svg-wrapper {
	margin: 0;
}
