/* FILE: blocks/_cover.scss */

.wp-block-cover {
	height: auto;
	padding: var(--block_padding);
	overflow: visible;

	&.alignfull {
		padding-left: var(--body_padding);
		padding-right: var(--body_padding);
	}

	&:not(.has-text-color) {
		color: #fff;
	}

	&[class*="-gradient-background"] {
		background-size: cover;
	}

	> .has-background-dim,
	> .wp-block-cover__gradient-background {
		margin-bottom: 0;

		&.has-background-gradient {
			background-color: transparent;
		}

		// WP 5.9 fix:
		&::before {
			display: none;
		}

	}

	.wp-block-cover__inner-container {
		@extend %block_inner_container;
		@extend %clearfix;

		&.wp-block-cover__inner-container {
			color: inherit;
		}

		> .alignwide-wrap {
			padding-left: 0;
			padding-right: 0;
		}

	}

	&.has-custom-content-position {

		&.is-position-top-center,
		&.is-position-bottom-center {

			> .wp-block-cover__inner-container {
				width: 100%;
			}

		}

	}

	&.is-position-top-left,
	&.is-position-top-right,
	&.is-position-center-left,
	&.is-position-center-right,
	&.is-position-bottom-left,
	&.is-position-bottom-right {

		.wp-block-cover__inner-container {
			@if variable-exists( 'selector_editor_wrapper' ) {
			// Editor styles:
				max-width: $max_width_entry_content;
			} @else {
			// Front-end styles:
				max-width: var(--layout_width_entry_content);
			}
		}

	}

	&.is-style-scale-image {
		background-repeat: no-repeat;
		background-size: contain;

		img.wp-block-cover__image-background {
			object-fit: contain;
		}

	}

}
