/* FILE: blocks/_gallery.scss */

.wp-block-gallery,
.blocks-gallery-grid {

	// WP6.0+ fix
	&.alignfull {
		margin-#{$left}: calc( 50% - 50vw + ( var(--scrollbar_width) / 2 ) );
		margin-#{$right}: auto;
	}

}

.wp-block-gallery:not(.alignfull):not(.alignwide),
.blocks-gallery-grid {
	// Do not apply max-width in block editor!
	@if not variable-exists( 'selector_editor_wrapper' ) {
		max-width: 100%;
	}
}

.blocks-gallery-grid {
	width: 100%;
}

.wp-block-gallery {

	img,
	figcaption {
		margin-left: auto;
		margin-right: auto;
	}

}

[class*="wp-container-"] {

	&.blocks-gallery-grid,
	&.wp-block-gallery {
		gap: var(--wp--style--block-gap);
	}

}

.wp-block-gallery.wp-block-gallery.wp-block-gallery figure figcaption {
	@include gallery_caption();
}

.is-style-hide-caption figcaption {
	display:none;
}

.wp-block-gallery.is-style-no-gaps {

	.wp-block-image,
	.blocks-gallery-item {
		margin: 0 !important;
	}

}

.is-style-variable {

	@media (min-width: 600px) {

		figcaption {
			display: none;
		}

		&.wp-block-gallery figure.wp-block-image {
			flex-direction: row;
			align-items: flex-end;
			justify-content: flex-start;
		}

			&.columns-2 .wp-block-image:nth-child( 4n + 3 ),
			&.columns-2 .wp-block-image:nth-child( 4n + 4 ),
			&.columns-2 .blocks-gallery-item:nth-child( 4n + 3 ) figure,
			&.columns-2 .blocks-gallery-item:nth-child( 4n + 4 ) figure,
			&.columns-3 .wp-block-image:nth-child( 6n + 4 ),
			&.columns-3 .wp-block-image:nth-child( 6n + 5 ),
			&.columns-3 .wp-block-image:nth-child( 6n + 6 ),
			&.columns-3 .blocks-gallery-item:nth-child( 6n + 4 ) figure,
			&.columns-3 .blocks-gallery-item:nth-child( 6n + 5 ) figure,
			&.columns-3 .blocks-gallery-item:nth-child( 6n + 6 ) figure,
			&.columns-default .wp-block-image:nth-child( 6n + 4 ),
			&.columns-default .wp-block-image:nth-child( 6n + 5 ),
			&.columns-default .wp-block-image:nth-child( 6n + 6 ),
			&.columns-default .blocks-gallery-item:nth-child( 6n + 4 ) figure,
			&.columns-default .blocks-gallery-item:nth-child( 6n + 5 ) figure,
			&.columns-default .blocks-gallery-item:nth-child( 6n + 6 ) figure,
			&.columns-4 .wp-block-image:nth-child( 8n + 5 ),
			&.columns-4 .wp-block-image:nth-child( 8n + 6 ),
			&.columns-4 .wp-block-image:nth-child( 8n + 7 ),
			&.columns-4 .wp-block-image:nth-child( 8n + 8 ),
			&.columns-4 .blocks-gallery-item:nth-child( 8n + 5 ) figure,
			&.columns-4 .blocks-gallery-item:nth-child( 8n + 6 ) figure,
			&.columns-4 .blocks-gallery-item:nth-child( 8n + 7 ) figure,
			&.columns-4 .blocks-gallery-item:nth-child( 8n + 8 ) figure {
				align-items: flex-start;
			}

		&.is-cropped .wp-block-image img,
		&.is-cropped .blocks-gallery-item img {
			flex: initial !important;
			height: auto !important;
			object-fit: fill !important;
		}

		&.columns-2 {

			.wp-block-image:nth-child( 4n + 2 ) img,
			.blocks-gallery-item:nth-child( 4n + 2 ) img {
				max-width: 75%;
				margin-#{$left}: 0;
			}

			.wp-block-image:nth-child( 4n + 3 ) img,
			.blocks-gallery-item:nth-child( 4n + 3 ) img {
				max-width: 50%;
				margin-#{$right}: 0;
			}

		}

		&.columns-default,
		&.columns-3 {

			.wp-block-image:nth-child( 6n + 1 ) img,
			.blocks-gallery-item:nth-child( 6n + 1 ) img {
				max-width: 75%;
				margin-#{$right}: 0;
			}

			.wp-block-image:nth-child( 6n + 6 ) img,
			.blocks-gallery-item:nth-child( 6n + 6 ) img {
				max-width: 50%;
				margin-#{$left}: 0;
			}

		}

		&.columns-4 {

			.wp-block-image:nth-child( 8n + 1 ) img,
			.blocks-gallery-item:nth-child( 8n + 1 ) img {
				max-width: 50%;
				margin-#{$right}: 0;
			}

			.wp-block-image:nth-child( 8n + 8 ) img,
			.blocks-gallery-item:nth-child( 8n + 8 ) img {
				max-width: 75%;
				margin-#{$left}: 0;
			}

		}

	}

}
