/* FILE: blocks/_search.scss */

.wp-block-search {
	flex-wrap: wrap;

	.wp-block-search__input {
		padding: $form_field_padding_vertical 1em;
		padding-#{$left}: 1em !important; // It's easier to do it this way...
		font-size: 1em;
	}

	.wp-block-search__button {
		display: flex;
		align-items: center;
	}

	svg {
		fill: currentColor;
		width: auto !important;
		height: calc( var(--typography_font_size_base) * 1.5 ) !important;
		margin: ( math.div( -$ratio_maj, 2 ) + em ) 0;
		vertical-align: middle;
	}

	.wp-block-search__inside-wrapper .wp-block-search__button {
		padding-left: 0;
		padding-right: 0;
		border-left-width: 1em;
		border-right-width: 1em;
	}

	&.wp-block-search__button-inside .wp-block-search__inside-wrapper {
		padding: calc( var(--typography_font_size_base) * .25 );

		.wp-block-search__input,
		.wp-block-search__button {
			padding: calc( #{ $form_field_padding_vertical } - var(--typography_font_size_base) * .25 ) 0;
		}

		.has-icon {
			background: transparent;
			color: inherit;
			box-shadow: none;
			animation: none;
		}

	}

	.wp-block-search__input,
	&.wp-block-search__button-inside .wp-block-search__inside-wrapper {
		border-color: transparent;
		border-bottom-color: currentColor;
	}

}
