/* FILE: blocks/_spacer.scss */

.wp-block-spacer {
	margin-top: 0;
	margin-bottom: 0;

	&:not(:first-child) {
		margin-top: -$ratio +em;

		+ .wp-block-spacer {
			margin-top: 0;
		}

	}

	+ h1,
	+ h2,
	+ h3,
	+ h4 {
		margin-top: 0;
	}

}

.has-no-margin, .margin-none, .m0, .m-0,
.has-no-margin-bottom, .margin-bottom-none, .mb0, .mb-0,
.has-no-margin-vertical, .margin-vertical-none, .margin-top-bottom-none, .mtb0, .mtb-0,
.is-style-no-margin-vertical,
.is-style-no-gaps {

	+ .wp-block-spacer {
		margin-top: 0;
	}

}
