.comment-content .edit-comment-admin-links a {
	box-shadow: none;
}

.dataTables_paginate a.paginate_button {
	text-decoration: none;
}

.site-description {
	margin-bottom: .1em;
}

@media screen and (min-width: 44.375em) {
	body.admin-bar:not(.custom-background-image):before,
	body.admin-bar:not(.custom-background-image):after {
		position: absolute;
	}
}
