body {background: #515151 url(back-body.gif) repeat-x }

	h1 {font-size:26px; color: #007eff }
	
	h2 {font-size: 24px; color: #007eff; padding: 0 }
	
	h3 {font-size: 20px; color: #1070D2 }
	
	h4 {font-size: 18px; color: #4c5861 }
	
	h5 {font-size: 16px; color: #368ee7 }
	
	h6 {font-size: 14px; color: #000 }
	
	a:link {color: #007eff; text-decoration: none }
	a:visited {color: #0073e5;}
	a:hover, a:active {color: #1a8cff; text-decoration: underline }

#bg {background: url(back-bg.jpg) no-repeat center top }

#logo a:link, #logo a:visited, #logo a:hover, #logo a:active {color:#2F98FF }

#logo a span {color:#fff; }

#globalnav a:link, #globalnav a:visited {color:#fff }

#nav li a:hover, #nav li a:active, #nav li li a:hover, #nav li li a:active {color:#2F98FF }

.search_form #s {background:#3c3c3c }

#search-submit {background: url(btn-search.png) no-repeat }

.post {background:url(entrydate.png) no-repeat 12px 0 }

.comment-bubble {background:#0f6dcd }

#sidebar h2, #featured-wiz h2 {background: url(back-sidebar-title.png) no-repeat }
 
.categories a:link, .categories a:hover, .categories a:visited {background:#1072d6 }

.entry_header h1 a:link, .entry_header h1 a:visited, .entry_header h2.home a:link, .entry_header h2.home a:visited {color:#007eff }

#left-col .date {color:#fff }

#nav .current_page_item a:link, #nav .current_page_item a:visited {color:#2F98FF }

#left-col .catcenter {color:#fe2400 }

.comment-icon, .comment-reply-link {background:url(icon-comment.gif) no-repeat }

.btn {background:url(btn-comment-submit.png) no-repeat right top }

.btn span {background:url(btn-comment-submit.png) no-repeat left top }

#respond h5 {background:url(back-leave-comment.png) no-repeat }

.comment-author-admin .name, .bypostauthor .name {background:#1072d6; color:#fff; padding:3px; display:block; margin-top:3px }

.commentlist .children .comment-time-meta {background:url(icon-return.gif) no-repeat }

#sidebar li li {list-style-image:url(icon-sidebar-link.png) }