.#{$prefix}-masonary-gallery-with-space{
    @extend %clearfix;
    &.twp-3-col-masonary{
        &.#{$prefix}-post-with-bg-image{
            .#{$prefix}-gallery-post{
                @include media(sm){
                    margin-left: 7.5px;
                    margin-right: 7.5px;
                    width: calc(50% - 15px);
                }
               
                @include media(lg){
                    width: calc(33.33% - 15px);
                }
            }
        }
    }
}