<!-- wp:template-part {"slug":"header","tagName":"header","theme":"designer-blocks"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50)"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-title {"textAlign":"center","level":1,"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}},"typography":{"fontStyle":"normal","fontWeight":"200"}},"fontSize":"large"} /--></div>
<!-- /wp:group -->

<!-- wp:post-content {"style":{"typography":{"fontStyle":"normal","fontWeight":"200","fontSize":"1rem","letterSpacing":"1px","lineHeight":"2"}},"layout":{"type":"constrained","wideSize":"800px","justifyContent":"center","contentSize":"800px"},"fontFamily":"system-font"} /-->

<!-- wp:query {"queryId":16,"query":{"perPage":"4","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false,"taxQuery":{"category":[32,18]}},"displayLayout":{"type":"flex","columns":4},"align":"wide"} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide"} -->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"30px","right":"30px","bottom":"30px","left":"30px"}}},"layout":{"inherit":false}} -->
<div class="wp-block-group" style="padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px"><!-- wp:post-featured-image {"isLink":true,"height":"200px","align":"wide","style":{"border":{"radius":"10px"}}} /-->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"100","letterSpacing":"1px","fontSize":"1rem"}},"fontFamily":"system-font"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","theme":"designer-blocks"} /-->