/* clear the floats for all our IE friends*/
.clear, li.comment { zoom: 1; }
/*IE doesn't like the top border on our navigation list items */
#nav ul li a { zoom: 1; padding-top: .25em; }
#nav li.current_page_item a, #nav li.current_page_parent a, #nav li.current_page_ancestor a, #nav li.current-cat a, #nav li a:hover { padding-top: 0; }