/*
	READ THIS PLEASE!!
	You DO NOT want to make edits to this file.
	If you make edits to this file your layout will break
	when you upgrade the theme. Instead add your custom CSS to
	the style.css file in a child theme. Any new styles you add
	to the style.css in your Child Theme will automatically override
	this imported stylesheet. This will also make your life a whole
	lot easier when it comes time to upgrade the theme.
*/

/*Undo browser defaults
------------------------------------------------------------ */
:link, :visited { text-decoration: none; }
ul, ol { list-style: none; }
h1, h2, h3, h4, h5, h6, pre, code, p { font-size: 1em; }
ul, ol, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0; }
a img, :link img, :visited img { border: none; }
address { font-style: normal; }

/*Body & Links
------------------------------------------------------------ */
body {
	font-size: 62.5%;
	font-family: Georgia, "Times New Roman", Times, Serif;
	line-height: 2.2em;
	color: #333;
	background-color: #fff;
}
a:link, a:visited { color: #772124; }
a:hover {
	text-decoration: underline;
	color: #58181b;
}
/*Basic Structure
------------------------------------------------------------ */
#wrapper {
	width: 930px;
	margin: 0 auto;
	text-align: left;
}
#content {
	float: left;
	width: 600px;
	padding: 20px 30px 20px 0;
}
#sidebar {
	float: right;
	width: 300px;
	padding-bottom: 20px;
}
.thin-sidebar {
	float: left;
	width: 140px;
}
.spad { padding-right: 20px; }
#footer {
	clear: both;
	padding-top: 5px;
	border-top: 1px solid #eee;
}
.clear:after, li.comment:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
div.skip-content { display: none; }
/*Header
------------------------------------------------------------ */
#header {
	padding: 20px 0 10px 0;
	border-bottom: 5px solid #333;
}
h1#title, div#title {
	font-size: 4.6em;
	font-weight: bold;
	line-height: 1.3em;
}
div#title-logo { padding-bottom: 10px; }
h1#title a:link, h1#title a:visited, div#title a:link, div#title a:visited	{ color: #444; }
h1#title a:hover, div#title a:hover { color: #772124; text-decoration: none; }
/*Description
---------------------------------------*/
#description { float: left; }
#description h2 {
	font-size: 1.2em;
	font-weight: normal;
	color: #666;
}
/*Nav
---------------------------------------*/
#nav {
	float: right;
	font-size: 1.5em;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif;
}
#nav ul { position: relative; }
#nav ul li {
	float: left;
	margin: 0 0 0 15px;
}
#nav ul li:first-child { margin: 0; }
#nav li a {
	padding-top: .1em;
	color: #333;
	text-decoration: none;
}
#nav li.current_page_item a, #nav li.current_page_parent a, #nav li.current_page_ancestor a, #nav li.current-cat a, #nav li a:hover {
	color: #772124;
	text-decoration: none;
	border-top: 4px solid #772124;
}
/*Menu
------------------------------------------------------------ */
#menu { padding-bottom: 10px; }
#menu img { border: 2px solid #eee; }
.alert-box {
	margin: 0 0 20px 0;
	padding: 20px;
	background: #f3f3f2;
	border: 1px solid #e3e1db;
}
/*Post Styling
------------------------------------------------------------ */
/*Post Header
---------------------------------------*/
.post-header {
	border-bottom: 4px double #eee;
	padding-bottom: 7px;
}
.post-header h1, .post-header h2 {
	font-size: 2.6em;
	line-height: 1.1em;
	font-weight: normal;
}
.post-header h1 a:link, .post-header h1 a:visited,.post-header h2 a:link, .post-header h2 a:visited	 { color: #444; }
.post-header h1 a:hover, .post-header h2 a:hover { color: #772124; }
.comments {
	padding-top: 10px;
	font-size: 1.3em;
	color: #757575;
	text-transform: uppercase;
}
.comments a {
	display: block;
	color: #757575;
	padding: 0 0 0 25px;
	background: url(../images/comments-bubble.gif) no-repeat 0 4px;
}
.comments a:hover {
	color: #772124;
	background-position: 0 -24px;
}
.post .date {
	float: right;
	padding-top: 10px;
	color: #757575;
	font-size: 1.6em;
	font-weight: normal;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif;
	text-transform: uppercase;
}
.post .date span {
	color: #ddd;
	font-weight: bold;
}
#single-date { float: none; }
/*Post Meta
---------------------------------------*/
.meta {
	margin: 10px 0 20px 0;
	font-size: 1.2em;
	color: #666;
}
.meta a:link, .meta a:visited {
	color: #666;
	font-style: normal;
}
.meta a:hover { color: #772124; }
.tags {
	float: right;
	width: 400px;
	text-align: right;
	font-style: italic;
}
/*Post Body
---------------------------------------*/
.entry a:link, .entry a:visited, .alert-box a:link, .alert-box a:visited { text-decoration: underline; }
.entry a:hover, .alert-box a:hover { text-decoration: none; }
.entry { font-size: 1.3em; }
.entry p { margin-bottom: 10px; }
.entry p.notice {
	padding: 15px;
	background-color: #fffbcc;
	border: 1px solid #f8f4c7;
}
.alert-box p { margin: 10px 0 0 0; }
.entry h2, .entry h3, .entry h4 {
	font-size: 1.3em;
	padding: 15px 0 5px 0;
}
.entry h3 {
	padding-top: 10px;
	font-size: 1em;
}
.entry h4 {
	padding-top: 10px;
	font-size: .9em;
}
.alert-box h2, .alert-box h3, .alert-box h4 { margin: 0; padding: 0; }
pre {
	margin: 10px 0;
	padding: 1em 10px;
	overflow: auto;
	background-color: #f3f3f3;
	color: #000;
}
code {
	padding: 2px 3px;
	font: 1.1em Consolas, Courier New, sans-serif;
	background-color: #f3f3f3;
	color: #000;
}
pre code { font-size: 1.3em; }
blockquote {
	clear: both;
	display: block;
	padding: 20px 20px 10px 45px;
	margin: 20px 0;
	font-style: italic;
	font-size: 1.2em;
	color: #141310;
	background: #e7e6e2 url(../images/blockquote.gif) no-repeat top left;
}
.entry ul, .c-body ul { margin: 0 0 10px 10px; }
.entry ul li, .c-body ul li {
	display: block;
	margin: 5px 0 0 0;
	padding: 0 0 0 17px;
	background: url(../images/list-star.gif) no-repeat 0 .3em;
}
.entry ol, .c-body ol { margin: 0 0 15px 30px; }
.entry ol li ol li, .c-body ol li ol li {
	font-size: .9em;
	list-style-type: lower-roman;
}
.entry ol li, .c-body ol li {
	margin: 10px 0 0 0;
	list-style-type: decimal;
	list-style-position: outside;
}
.navigation {
	padding: 10px 0;
	font-size: 1.3em;
}
.index { padding: 0; }
.float-quote {
	float: left;
	width: 300px;
	padding: 15px;
	margin: 10px 10px 0 0;
	background: #eaeaea;
	border-top: 4px solid #333;
	border-bottom: 4px solid #333;
}
.entry .float-quote p {
	margin: 0;
	padding: 0 0 0 40px;
	font-size: 1.2em;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif;
	line-height: 1.3em;
	background: url(../images/float-quote.gif) no-repeat top left;
}
.highlight-box {
	float: right;
	margin: 0 0 10px 10px;
	width: 200px;
	padding: 10px;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif;
	border-top: 8px solid #000;
	background: #772124;
	color: #fff;
}
.highlight-box a:link, .highlight-box a:visited {
	color: #fff;
	text-decoration: underline;
}
.highlight-box a:hover { text-decoration: none; }
.entry .highlight-box p {
	margin: 10px 0;
	line-height: 1.4em;
	font-size: 1.1em;
}
.entry .highlight-box ul li {
	font-size: 1.1em;
	background: url(../images/list-square.gif) no-repeat 0 .4em;
}
.entry .highlight-box h2, .entry .highlight-box h3, .entry .highlight-box h4 {
	margin: 0;
	padding: 0;
	color: #fff;
}
.highlight-box h2 { text-transform: uppercase; }
/*Post Footer
---------------------------------------*/
.post-footer {
	padding-bottom: 2px;
	margin: 0 0 30px 0;
	font-size: 1.1em;
	font-style: italic;
	text-align: right;
	color: #666;
	border-bottom: 1px solid #eee;
}
.post-footer a:link, .post-footer a:visited {
	color: #333;
	font-style: normal;
}
.post-footer a:hover { color: #772124; }
/*Pages
---------------------------------------*/
h1.pagetitle, h2.pagetitle {
	margin-bottom: 20px;
	padding-bottom: 7px;
	font-size: 2.6em;
	line-height: 1.1em;
	border-bottom: 4px double #eee;
}
/*Archives List
---------------------------------------*/
img.archive-comment {
	float: right;
	margin: 0 .5em .5em 0;
}
.entries {
	font-size: 1.3em;
	clear: both;
}
.entries ul {
	margin: 0;
	padding: 0 0 1px 0;
	background: transparent url(../images/archives-dotted-line.gif) repeat-x bottom left;
}
.entries ul li {
	padding-top: 1px;
	background: transparent url(../images/archives-dotted-line.gif) repeat-x top left;
}
.entries ul li a {
	display: block;
	margin: 0;
	padding: 7px 0;
}
.entries ul li a:hover {
	background-color: #F8F8F7;
	text-decoration: none;
}
.entries span {
	display: block;
	text-align: right;
}
.entries span.archdate, .entries a:hover span.archdate	{
	float: left;
	margin-right: 3em;
	padding-left: .5em;
	width: 3em;
	color: #666;
}
.entries span.comments_number{
	float: right;
	margin-right: .5em;
	width: 3em;
	color: #666;
}
/*Sidebar
------------------------------------------------------------ */
#sidebar-image { padding-top: 20px; }
#sidebar-image { font-size: 1.3em; }
#sidebar-image p {
	margin-bottom: 15px;
	line-height: 1.6em;
}
h2.widgettitle {
	padding: 25px 0 3px 0;
	font-size: 1.4em;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1.05pt;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif;
	border-bottom: 1px solid #eee;
}
ul li.widget ul {
	margin: 0;
	font-size: 1.4em;
}
ul li.widget ul li ul {
	margin-left: 5px;
	font-size: 1em;
}
ul li.widget ul li {
	padding: 8px 0;
	border-bottom: 1px solid #eee;
}
ul li.widget ul li ul li { border-bottom: none; }
ul li.widget ul li a {
	display: block;
	padding: 0 0 0 15px;
	background: url(../images/list-item.gif) no-repeat 0 6px;
}
ul li.widget ul li a:hover { background-position: 0 -136px; }
ul li.widget ul#recentcomments li a {
	padding: 0;
	background: none;
}
div.textwidget p {
	font-size: 1.3em;
	margin: 10px 0 0 0;
}
li.widget select { margin-top: 10px; }
/*RSS Box
---------------------------------------*/
#rss-feed	 { padding-top: 10px; }
#rss-feed p {
	font-size: 1.3em;
	line-height: 1.6em;
}
#rss-feed a.rss, #rss-feed a.email, #rss-feed a.twitter {
	float: left;
	font-size: 1.3em;
	margin: 10px 10px 0 0;
	display: block;
	padding: 0 0 0 19px;
	background: url(../images/feed-icon.png) no-repeat 0 .25em;
}
#rss-feed a.email {
	padding: 0 0 0 25px;
	background: url(../images/mail-icon.png) no-repeat 0 .4em;
}
#rss-feed a.twitter {
	margin-right: 0;
	padding-left: 19px;
	background: url(../images/twitter-icon.png) no-repeat 0 .15em;
}
/*Search Box
---------------------------------------*/
#search_form input { margin: 10px 0 0 0; }
#search_form input {
	padding: 4px 2px;
	width: 132px;
	border: 2px solid #acacac;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background: #f4f4f4;
	color: #888;
}
#search_form input:focus { background: #fff; }
#search_form input#searchsubmit { padding: 2px 10px; }

/*Comments
------------------------------------------------------------ */
/*Top
---------------------------------------*/
.comment-number {
	display: block;
	font-size: 1.3em;
	padding: 0 0 10px 30px;
	background: url(../images/comments-bubble-big.gif) no-repeat 0 .1em;
}
.comment-number span {
	font-size: 1.3em;
	color: #777;
}
a#leavecomment { padding-left: 10px; }
/*Body
---------------------------------------*/
li.comment { padding: 20px 0 0 0; }
#comments ul.children {
	margin: 10px 0 0 96px;
	clear: both;
}
div.c-grav {
	float: left;
	width: 60px;
	margin: 0;
	text-align: right;
}
div.c-grav img {
	border: 4px solid #e3e3e3;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
div.c-body {
	float: right;
	width: 474px;
	font-size: 1.3em;
	background: #f3f3f3;
	padding: 20px 20px 0 20px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}
ul.children div.c-body { width: 378px; }
div.c-body p { margin: 10px 0 0 0; }
div.c-head { font-weight: bold; }
span.asterisk {
	float: right;
	color: #772124;
	font-size: 2.2em;
}
div.c-date {
	color: #bbb;
	font-size: .9em;
	line-height: 0;
	padding: 10px 0 5px 0;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif;
	font-weight: bold;
}
.c-permalink a:link, .c-permalink a:visited {
	margin-left: 5px;
	color: #ccc;
	font-size: .7em;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif;
	text-transform: uppercase;
}
div.reply, div.cancel-comment-reply { float: right; }
div.reply { padding: 10px 0; }
div.reply a:link, div.reply a:visited {
	color: #aaa;
	font-size: .9em;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif;
	text-transform: uppercase;
	border-bottom: 1px dotted;
}
div.reply a:hover {
	border-bottom: 1px solid;
	text-decoration: none;
}
/*Form
---------------------------------------*/
form#commentform { margin-bottom: 20px; }
#respond { font-size: 1.5em; }
h4#postcomment {
	margin: 20px 0;
	padding: 0 0 5px 0;
	font-size: 1.2em;
	color: #555;
	border-bottom: 1px solid #eee;
}
form#commentform label.comment-field {
	display: block;
	margin: 10px 0 5px 0;
}
input.text-input, form#commentform textarea {
	padding: 7px;
	background: #f8f8f8;
	font-family: inherit;
	font-size: .9em;
	border: 1px solid #e6e6e6;
	width: 591px;
}
input#author, input#email, input#url { width: 350px; }
form#commentform input:focus, form#commentform textarea:focus { background: #fff; }
form#commentform input#submit {
	padding: 5px;
	width: 150px;
}
form#commentform p.guidelines {
	margin: 10px 0;
	font-size: .8em;
	color: #777;
}
p.subscribe-to-comments, p.comments-rss {
	margin: 0 0 10px 0;
	font-size: .9em;
}
p.comments-rss a {
	padding: 0 0 0 19px;
	background: url(../images/feed-icon.png) no-repeat 0 .15em;
}
/*Note
---------------------------------------*/
p.note {
	font-style: italic;
	font-size: 1.3em;
}
/*Pingbacks/Trackbacks
---------------------------------------*/
h3.pinghead {
	font-size: 1.3em;
	color: #444444;
}
ol.pinglist {
	list-style-type: decimal;
	list-style-position: inside;
	margin: 0 0 10px 10px;
	font-size: 1.3em;
}

/*Default Alignment and Images
------------------------------------------------------------ */
.entry img.alignleft, .entry img.alignright, .entry img.aligncenter { border: 2px solid #eee; }
.noborder { border: none; }
.entry .alignright, .entry .alignright .float-quote { margin: 0 0 10px 15px; }
.entry .alignleft, .entry .alignleft .highlight-box { margin: 0 15px 10px 0; }
.wp-caption p {
	font-style: italic;
	color: #888;
}
/*Footer
------------------------------------------------------------ */
#footer {
	color: #666;
	font-size: 1.1em;
}
#footer p.right { float: right; }
#footer a:link, #footer a:visited {
	color: #666;
	text-decoration: underline;
}
#footer a:hover { color: #772124; }