/* FILE: comments/_single.scss */

.comment-respond {

	.comment-list & {
		margin: ( $ratio + em ) 0;
	}

	textarea,
	[type="text"],
	[type="email"],
	[type="url"] {
		width: 100%;
	}

	label:first-child {
		display: block;
		margin-bottom: $ratio_min + em;
	}

	textarea:invalid {
		max-height: 2em * $ratio + 2 * $ratio_maj; // 2x line height + vertical textarea padding.
		overflow-y: hidden;
	}

}

.comment-form {

	p {
		margin-bottom: 1em;
	}

	label {
		display: block;
		font-size: var(--typography_font_size_s_em);
	}

	[type="checkbox"] + label,
	[type="radio"] + label {
		display: inline;
	}

	&-url {
		clear: both;
	}

	@include media( map_get( $breakpoint, 's' ) ) {

		&-author,
		&-email {
			float: $left;
			width: 48%;
			margin-#{$left}: 4%;
		}

		&-author {
			margin-#{$left}: 0;
		}

	}

}

.comment-reply-title {
	margin-bottom: 2rem;
	font-size: var(--typography_heading_size_4_em);
}

#cancel-comment-reply-link {
	float: $right;
	font-size: var(--typography_font_size_s_em);
}
