/* FILE: comments/_list.scss */

.comment-list {
	clear: both;
	padding: 0;
	margin: 0 0 ( $ratio + em );

	&,
	.children {
		list-style: none;
	}

	.comments-closed + & {
		margin-top: $ratio + em;
	}

	> li,
	.children > li {
		position: relative;
		padding: ( $ratio + em ) 0 0;
		margin: 0;
		background: none;

		@include media( map_get( $breakpoint, 'm' ) ) {
			padding-#{$left}: 4em;
		}

	}

	.children {
		clear: both;
		margin: 0;
		margin-#{$left}: 1em;

		@include media( map_get( $breakpoint, 'm' ) ) {
			margin-#{$left}: -$ratio + em;
		}

	}

}
