# Exclude user generated content
wp-content/blogs.dir/
wp-content/uploads/*
wp-content/cache/*

# Exclude environment files
env.php

# Don't include .htaccess, which causes problems with the dev site
.htaccess

# Misc exclusions
*.bak
.DS_store
.DS_Store

# vim files
*.swp
