# Exclude user generated content
wp-content/blogs.dir
wp-content/uploads
wp-content/cache

sql/*
wiki/images/*

# Exclude environment files
env.php

# Don't include .htaccess, which causes problems with the dev site
.htaccess
!/wp-content/plugins/out-of-the-box/cache/.htaccess

# Don't include the dev site
openlabdev

# Don't include the error log
php_error.log
debug.log

# Grunt
node_modules

# Misc exclusions
*.bak
PHP_errors.log
error_log
php_error.log
.DS_store
.DS_Store
#maintenance.html
LocalSettings.old*
wp-content/plugins/custom-anti-spam/cas_*
*.php.orig
wp-content/plugins/cac-featured-content/cache/*
!wp-content/plugins/cac-featured-content/cache/index.html
wp-content/plugins/wp-post-to-pdf/tcpdf/cache
wp-content/mu-plugins/bbg-mail-debug.php
bb-config.php
\.cac-major-update.json
*config.rb
*.log
wp-content/plugins/buddypress/bp-forums/bbpress

.svn
wp-admin/error_log
.fseventsd/

# vim files
*.swp
tags

nbproject/*

wp-config.php

# Great job
wp-content/themes/astra/auth.json

#hiding vendor files
wp-content/themes/*/node_modules/
wp-content/themes/*/nbproject/

/vendor/

# We run a build copy of openlab-attributions and shouldn't accidentally commit dev assets.
wp-content/plugins/openlab-attributions/.github
wp-content/plugins/openlab-attributions/.gitignore
