[submodule "wp-content/plugins/openlab-badges"]
	path = wp-content/plugins/openlab-badges
	url = https://github.com/openlab-at-city-tech/openlab-badges.git
[submodule "wp-content/plugins/openlab-import-export"]
	path = wp-content/plugins/openlab-import-export
	url = git@github.com:openlab-at-city-tech/openlab-import-export
[submodule "wp-content/plugins/cac-network-info"]
	path = wp-content/plugins/cac-network-info
	url = git@github.com:cuny-academic-commons/cac-network-info
[submodule "wp-content/plugins/webwork-problem-embed"]
	path = wp-content/plugins/webwork-problem-embed
	url = git@github.com:openlab-at-city-tech/webwork-problem-embed
[submodule "wp-content/plugins/openlab-activity-block"]
	path = wp-content/plugins/openlab-activity-block
	url = git@github.com:openlab-at-city-tech/openlab-activity-block
[submodule "wp-content/plugins/openlab-email-embedded-media"]
	path = wp-content/plugins/openlab-email-embedded-media
	url = git@github.com:openlab-at-city-tech/openlab-email-embedded-media
