[submodule "wp-content/plugins/webwork"]
	path = wp-content/plugins/webwork
	url = git://github.com/livinglab/webwork-for-wordpress
[submodule "bpep"]
	path = wp-content/plugins/elasticpress-buddypress
	url = https://github.com/hard-g/elasticpress-buddypress
[submodule "wp-content/plugins/openlab-badges"]
	path = wp-content/plugins/openlab-badges
	url = git@github.com:livinglab/openlab-badges
