@import 'scale';
@import 'spin';
@import 'rotate';
@mixin animation($animation){
    -webkit-animation:$animation;
    -o-animation:$animation;
    -moz-animation:$animation;
    animation:$animation;
}
