/* FILE: content/entry/_meta.scss */

.entry-meta {
	font-size: var(--typography_font_size_s_em);
	text-transform: uppercase;
	letter-spacing: var(--letter_spacing);

	.entry-content + & {
		margin-top: 3rem;
		margin-bottom: 0;
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}

	}

	&-item {
		margin: .25em 0;

		.entry-meta + .entry-meta &:first-child {
			margin-top: 0;
		}

		&:not(:first-child)::before {
			content: '\2022 '; // &bull;
			display: inline-block;
			margin: 0 .5em;
		}

	}

	.entry-meta-item:not(.comments-link) &-description {
		@extend %screen_reader--hide;
	}

	.svg-icon {
		position: relative;
		width: $ratio_min + 1em;
		top: -.15em;
		margin-#{$right}: .25em;
		vertical-align: middle;
		fill: var(--color_accent);
	}

	.tags-links a {

		&::before {
			content: '#';
			font-weight: 400;
		}

	}

}

.entry-date,
.comments-link,
.entry-meta .author {
	white-space: nowrap;
}

.entry-date {

	.label-updated,
	.updated {
		display: none;
	}

}

body:not(.group-blog) .entry-meta .byline {
	@extend %screen_reader--hide;
}
