<!-- wp:template-part {"slug":"main-header","theme":"fse-freelancer-portfolio","tagName":"header"} /-->

<!-- wp:pattern {"slug":"fse-freelancer-portfolio/archive-header-with-background"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
  <!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}},"layout":{"inherit":true,"type":"constrained"}} -->
  <div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)">
    <!-- wp:columns {"align":"wide","className":"wp-block-sidebar-on-right"} -->
    <div class="wp-block-columns alignwide wp-block-sidebar-on-right">
      <!-- wp:column {"width":"68.572%"} -->
      <div class="wp-block-column" style="flex-basis:68.572%">
        <!-- wp:group -->
        <div class="wp-block-group">
          <!-- wp:query {"queryId":1,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"align":"full","className":"alignfull","layout":{"contentSize":null,"type":"constrained"}} -->
          <div class="wp-block-query alignfull">
            <!-- wp:post-template {"align":"full","layout":{"type":"default"}} -->
            <!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}},"border":{"width":"1px"}},"borderColor":"border-color","className":"archieve-post","layout":{"inherit":true,"type":"constrained"}} -->
            <div class="wp-block-group archieve-post has-border-color has-border-color-border-color" style="border-width:1px;padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--30)">
              <!-- wp:post-featured-image {"isLink":true,"align":"full"} /-->

              <!-- wp:group {"align":"wide","className":"alignfull wp-block-post-container"} -->
              <div class="wp-block-group alignwide alignfull wp-block-post-container">
                <!-- wp:post-title {"isLink":true} /-->

              <!-- wp:group {"className":"wp-block-post-meta","layout":{"type":"flex","allowOrientation":false}} -->
              <div class="wp-block-group wp-block-post-meta">
              <!-- wp:post-terms {"term":"category"} /-->

              <!-- wp:post-date {"isLink":true} /-->

              <!-- wp:post-author {"showAvatar":false} /-->
              </div>
              <!-- /wp:group -->

              <!-- wp:post-excerpt {"moreText":"Continue Reading"} /-->
            </div>
            <!-- /wp:group -->
          </div>
          <!-- /wp:group -->
          <!-- /wp:post-template -->

          <!-- wp:query-pagination {"align":"full","layout":{"type":"flex","justifyContent":"space-between"}} -->
          <!-- wp:query-pagination-previous {"fontSize":"small"} /-->

          <!-- wp:query-pagination-numbers /-->

          <!-- wp:query-pagination-next {"fontSize":"small"} /-->
          <!-- /wp:query-pagination -->
        </div>
        <!-- /wp:query -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:column -->

    <!-- wp:column {"width":"28.572%","className":"wp-block-column-sidebar"} -->
    <div class="wp-block-column wp-block-column-sidebar" style="flex-basis:28.572%">
      <!-- wp:template-part {"slug":"sidebar","theme":"fse-freelancer-portfolio","tagName":"div"} /-->
    </div>
    <!-- /wp:column -->
  </div>
  <!-- /wp:columns -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer-columns","theme":"fse-freelancer-portfolio","tagName":"footer"} /-->