<!-- wp:template-part {"slug":"main-header","theme":"fse-freelancer-portfolio","tagName":"header"} /-->

<!-- wp:pattern {"slug":"fse-freelancer-portfolio/archive-header-with-background"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)"><!-- wp:columns {"align":"wide","className":"wp-block-sidebar-on-right"} -->
<div class="wp-block-columns alignwide wp-block-sidebar-on-right"><!-- wp:column {"width":"70%"} -->
<div class="wp-block-column" style="flex-basis:70%"><!-- wp:group -->
<div class="wp-block-group"><!-- wp:query {"queryId":1,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"align":"full","className":"alignfull","layout":{"contentSize":null,"type":"constrained"}} -->
<div class="wp-block-query alignfull"><!-- wp:post-template {"align":"full","layout":{"type":"default"}} -->
<!-- wp:group {"className":"archieve-post","style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|80","right":"var:preset|spacing|30"}},"border":{"bottom":{"color":"var:preset|color|primary","width":"6px"},"top":[],"right":[],"left":[]}},"backgroundColor":"tertiary-bg-color","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group archieve-post has-tertiary-bg-color-background-color has-background" style="border-bottom-color:var(--wp--preset--color--primary);border-bottom-width:6px;padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--80)"><!-- wp:group {"className":"blog-date-box","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group blog-date-box" style="margin-top:0;margin-bottom:0"><!-- wp:post-date {"textAlign":"center","format":"j","isLink":true,"style":{"typography":{"fontSize":"1.88rem","fontStyle":"normal","fontWeight":"600"},"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"0","left":"0","right":"0"}}},"backgroundColor":"primary"} /-->

<!-- wp:post-date {"textAlign":"center","format":"M","isLink":true,"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}},"typography":{"fontStyle":"normal","fontWeight":"600","letterSpacing":"7px","fontSize":"0.88rem"}},"className":"blog-date-mon"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"var:preset|spacing|20","bottom":"0"}}},"className":"wp-block-post-meta alignwide","layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group wp-block-post-meta alignwide" style="margin-top:var(--wp--preset--spacing--20);margin-bottom:0;padding-top:0;padding-bottom:0"><!-- wp:post-terms {"term":"category"} /-->

<!-- wp:post-author {"showAvatar":false,"isLink":true} /--></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","className":"wp-block-post-container"} -->
<div class="wp-block-group alignwide wp-block-post-container"><!-- wp:post-title {"isLink":true} /-->

<!-- wp:post-featured-image {"isLink":true,"align":"full"} /-->

<!-- wp:post-excerpt {"moreText":"Continue Reading"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"align":"full","layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:query-pagination-previous {"fontSize":"small"} /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next {"fontSize":"small"} /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"30%","className":"wp-block-column-sidebar"} -->
<div class="wp-block-column wp-block-column-sidebar" style="flex-basis:30%"><!-- wp:template-part {"slug":"sidebar","theme":"fse-freelancer-portfolio","tagName":"div"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"fse-freelancer-portfolio","tagName":"footer"} /-->