<!-- wp:template-part {"slug":"main-header","theme":"fse-freelancer-portfolio","tagName":"header"} /-->

<!-- wp:pattern {"slug":"fse-freelancer-portfolio/post-header-with-background"} /-->

<!-- wp:group {"tagName":"main","className":"main-page"} -->
<main class="wp-block-group main-page"><!-- wp:post-content {"className":"page-content","fontFamily":"Poppins","layout":{"inherit":true,"contentSize":"80%","justifyContent":"center"}} /-->
  
</main>
<!-- /wp:group -->


<!-- wp:template-part {"slug":"footer-columns","theme":"fse-freelancer-portfolio","tagName":"footer"} /-->