<!-- wp:template-part {"slug":"main-header","theme":"fse-freelancer-portfolio","tagName":"header"} /-->

<!-- wp:pattern {"slug":"fse-freelancer-portfolio/post-header-with-background"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
  <!-- wp:group {"layout":{"inherit":true}} -->
  <div class="wp-block-group">
    <!-- wp:columns {"className":"wp-block-sidebar-on-right","align":"wide"} -->
    <div class="wp-block-columns alignwide wp-block-sidebar-on-right">
      <!-- wp:column {"width":"68.9999%"} -->
      <div class="wp-block-column" style="flex-basis: 68.9999%">
        <!-- wp:template-part {"slug":"post-content","tagName":"div"} /-->
      </div>
      <!-- /wp:column -->

      <!-- wp:column {"className":"wp-block-column-sidebar","width":"25.58%"} -->
      <div
        class="wp-block-column wp-block-column-sidebar"
        style="flex-basis: 25.58%"
      >
        <!-- wp:template-part {"slug":"sidebar","tagName":"div"} /-->
      </div>
      <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer-columns","theme":"fse-freelancer-portfolio","tagName":"footer"} /-->
