<!-- wp:template-part {"slug":"header","theme":"blocland-fse"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group">

    <!-- wp:pattern {"slug":"blocland-fse/hero-section"} /-->

    <!-- wp:pattern {"slug":"blocland-fse/icon-cards-section"} /-->

    <!-- wp:pattern {"slug":"blocland-fse/featured-section"} /-->

    <!-- wp:pattern {"slug":"blocland-fse/faq-section"} /-->

    <!-- wp:pattern {"slug":"blocland-fse/about-section"} /-->

    <!-- wp:pattern {"slug":"blocland-fse/info-box-section"} /-->

    <!-- wp:pattern {"slug":"blocland-fse/call-to-action-section"} /-->

    <!-- wp:pattern {"slug":"blocland-fse/blog-section"} /-->


</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"blocland-fse"} /-->