<!-- wp:template-part {"slug":"header-with-bg-color","theme":"blocland-fse"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group">
    <!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"
         style="padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">

        <!-- wp:post-title {"textAlign":"center","level":1,"style":{"spacing":{"margin":{"top":"1.5rem","bottom":"1.5rem"}}},"textColor":"secondary"} /-->
        <!-- wp:post-content {"align":"full","className":"mt-5","layout":{"inherit":false,"contentSize":"720px"}} /-->

    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"blocland-fse"} /-->