.home #content ul, .home-page #content ul {
	padding: 0; margin: 0; list-style: none;
}

.home #content p, .home-page #content p { margin: 0; }

.cutoff_img {
	height: 90px;
	overflow: hidden;
	border: 1px solid #cdd1d7;
	margin-bottom: 10px;
}

.cutoff_img.small {
	height: 70px;
	border: 1px solid #c8c6b3;
}

.cutoff_img img { margin-top: -100px; }
.cutoff_img.small img { margin-top: -35px; }

.home #content h3, .home-page #content h3 {
	font-weight: bold;
}

/* two column layout */

.twocol li, .fourcol li {
	float: left;
	width: 300px;
	margin-right: 15px;
}

.twocol li:last-child, .fourcol li:last-child {
	margin: 0;
}

.fourcol li {
	width: 137px;
}