a {
    color: #12619c;
}
#access {
    background: #222;
}
#access a {
    color: #fff;
}
#access .assistive-text{
    color: #fff;
}
#access a.assistive-text:focus,
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    color: #12619c;
}
#site-title a:hover,
#site-title a:focus,
#site-title a:active {
    color: #12619c;
}
.entry-title a:hover,
.entry-title a:focus,
.entry-title a:active {
    color: #12619c;
}
.entry-header .comments-link a:hover,
.entry-header .comments-link a:focus,
.entry-header .comments-link a:active {
    background-color: #12619c;
}
article.feature-image.small .entry-summary p a:hover {
    background: #12619c;
}
.feature-slider a.active {
    background: #12619c;
}
section.recent-posts .other-recent-posts .comments-link a:hover {
    color: #12619c;
    border-color: #12619c;
}
.widget_search #searchsubmit:active {
    background: #12619c;
}
#respond input#submit:active {
    background: #12619c;
}
#site-description {
    color: #000
}
#access li:hover > a,
#access a:focus {
    color: #000;
}
input.s {
    background: url(../css/images/search.png) no-repeat 5px 6px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 14px;
    height: 22px;
    line-height: 1.2em;
    padding: 4px 10px 4px 28px;
}
input.searchsubmit {
    display: none;
}

/* Search Form */
#branding .searchform {
    position: absolute;
    top: 3.8em;
    right: 7.6%;
    text-align: right;
}
#branding .searchform div {
    margin: 0;
}
#branding .s {
    float: right;
    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width, background;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 400ms;
    -o-transition-property: width, background;
    -o-transition-timing-function: ease;
    width: 72px;
}
#branding .s:focus {
    background-color: #f9f9f9;
    width: 196px;
}
#branding .searchsubmit {
    display: none;
}
#branding .only-search .searchform {
    top: 5px;
    z-index: 1;
}
#branding .only-search .s {
    background-color: #666;
    border-color: #000;
    color: #222;
}
#branding .only-search .s,
#branding .only-search .s:focus {
    width: 85%;
}
#branding .only-search .s:focus {
    background-color: #bbb;
}
#branding .with-image .searchform {
    top: auto;
    bottom: -27px;
    max-width: 195px;
}
#branding .only-search + #access div {
    padding-right: 205px;
}

/* Search Widget */
.widget_search form {
    margin: 0 0 1.625em;
}
.widget_search .s {
    width: 77%;
}
.widget_search .searchsubmit {
    background: #ddd;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
    box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
    color: #888;
    font-size: 13px;
    line-height: 25px;
    position: relative;
    top: -2px;
}
.widget_search .searchsubmit:active {
    background: #12619c;
    border-color: #0861a5;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
    color: #bfddf3;
}
.widget ul li {
    color: #000;
}

#respond .comment-form-author label, #respond .comment-form-email label, #respond .comment-form-url label, #respond .comment-form-comment label {
    position: unset;
}