/* FILE: global/elements/_base.scss */

html {
	border-top: var(--border_decorative_width) solid;
	border-bottom: var(--border_decorative_width) solid;
	border-color: var(--color_border_decorative);
}

body {
	background: var(--color_body_background);
	color: var(--color_body_text);
	border-color: var(--color_body_border);
}

abbr[title],
acronym[title],
dfn {
	cursor: help;
	text-decoration: none;
}

mark,
ins {
	padding: .15em 0;
	margin: 0 .25em;
	box-decoration-break: clone;
}

s,
del {
	text-decoration: line-through;
	color: inherit;
}

audio,
embed,
iframe,
img,
object,
video {
	max-width: 100%;
	vertical-align: middle;
}

figure {
	margin: 0;
}

figcaption {
	font-size: var(--typography_font_size_s_em);
	text-align: center;
}

img {
	height: auto;
	font-style: italic;
}

pre {
	position: relative;
	padding: 1em;
	font-size: var(--typography_font_size_s_em);
	overflow: auto;
	tab-size: 2;
	border-width: 1px;
	border-style: solid;
}
