/* FILE: global/elements/_hr.scss */

hr {
	clear: both;
	box-sizing: inherit; // This is required due to Normalize.
	width: 100%;
	max-width: var(--layout_width_entry_content);
	height: var(--hr_height);
	line-height: var(--hr_height);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background: none !important;
	border: 0 solid currentColor;

	&::before {
		content: '';
		display: inline-block;
		width: var(--hr_width);
		height: 100%;
		background: currentColor;
		border-radius: var(--border_radius);
		vertical-align: top;
		speak: none;
	}

	&.alignleft,
	&.alignright {
		float: none;
		margin-bottom: var(--gap);
	}

		&.alignleft.alignleft {
			margin-right: 0;
			text-align: left;
		}

		&.alignright.alignright {
			margin-left: 0;
			text-align: right;
		}

	&.aligncenter.aligncenter {
		text-align: center;
	}

	&.alignwide.alignwide {
		--hr_width: 100%;
		width: 100%;
		max-width: var(--layout_width_content);
	}

	&.alignfull.alignfull {
		--hr_width: 100%;
		width: calc( 100vw - var(--scrollbar_width) );
		max-width: none;
	}

}

	hr,
	.wp-block-separator {

		&[class*="-wide"] {
			--hr_width: 100%;
		}

	}
