/* FILE: global/elements/_links.scss */

a {
	// From @link  https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
	overflow-wrap: break-word;
	word-wrap: break-word;
	text-decoration-thickness: 1px;
	text-underline-offset: .15em;
	color: var(--wp--style--color--link);

	&:hover,
	&:active {
		outline: none;
	}

	&:hover {
		text-decoration-style: dotted;
		text-decoration-skip-ink: none;
	}

	&:focus {
		text-decoration: none;
	}

}

[href^="tel"] {
	white-space: nowrap;

	@include media( map_get( $breakpoint, 'm' ) ) {
		text-decoration: none;
		color: inherit;
	}

}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {

	a {
		text-decoration: none;
		text-underline-offset: .15em;
		color: inherit;

		&:hover,
		&:focus {
			text-decoration: underline;
		}

	}

}
