/* FILE: global/elements/_lists.scss */

menu,
ul,
ol {
	padding: 0;
}

	ul,
	ol {
		margin-#{$left}: $ratio +em;
	}

	li > ul,
	li > ol {
		margin-bottom: 0;
	}

	ul {
		list-style: disc;
	}

dl {
	margin-top: 0;
	margin-bottom: .5em;
}

dt {
	margin-top: .5em;
	font-weight: 700;

	&:first-child {
		margin-top: 0;
	}

}

dd {
	margin-#{$left}: 1.5em;
}
