/* FILE: global/elements/_quote.scss */

blockquote {
	clear: both;
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	font-family: var(--typography_font_alt);
	font-size: var(--typography_heading_size_4_em);
	font-weight: 300;
	color: var(--color_body_headings);

	@include media( map_get( $breakpoint, 'l' ) ) {
		font-size: 1.5em;
	}

	cite {
		font-size: var(--typography_font_size_base);
		font-weight: 400;
	}

		> cite {
			display: block;
			margin-top: $ratio_maj +em;
		}

	blockquote {
		font-size: 1em;
	}

	p {
		max-width: none;
	}

	p:first-child::before {
		content: '“';
		display: inline-block;
		margin-#{$left}: -.2em;
		margin-#{$right}: .1em;
		font-size: 3em;
		font-weight: 700;
		line-height: .1;
		vertical-align: bottom;
		opacity: .2;
	}

	p,
	p:last-child {
		margin-bottom: calc( var(--typography_font_size_base) * #{ $ratio_maj } );
	}

}

	.has-text-color,
	.wp-block-cover {

		blockquote {
			color: inherit;
		}

	}

	blockquote.alignfull,
	[data-align="full"] > blockquote {
		padding-left: var(--body_padding);
		padding-right: var(--body_padding);
	}

cite {
	font-family: var(--typography_font_global);
	font-style: normal;

	&::before {
		content: '\2014\2002'; // &mdash; + &ensp;
	}

}

q {

	&::before {
		content: open-quote;
	}

	&::after {
		content: close-quote;
	}

}
