/* FILE: _custom-properties/_others.scss */

:root {

	--border_opacity: .2;
	--pseudo_background_opacity: .05;

	--drop_shadow: 0 1vh 6vh #{ rgba( #000, .2 ) };

	--featured_posts_opacity_shaded: 1;
	--featured_posts_transition_speed: .3s;

}
