/* FILE: editor-classic/_colors.scss */

:root, html, html[lang],
.mce-content-body {
	background: var(--color_body_background);
	color: var(--color_body_text);
	border-color: var(--color_body_border);
}
