/* FILE: editor-classic/_layout.scss */

html {
	padding: 20px;
	border: 0 !important;
}

.mce-content-body {
	width: 100%;
	min-height: 40px;
	max-width: var(--layout_width_entry_content);
	margin: 0 auto;
}
