/**
 * Screen Stylesheet
 */

/* all content is inside the wrap */
/*#wrap { width: 960px; } */

/* #header -- Contains the top level navigation and the logo */
/* #header ul#nav {
        float: right;
        list-style: none;
        margin: 30px 0 30px 0;
        padding: 0;
}
#header ul#nav li {
        float: left;
        margin-right: 20px;
}
#header ul#nav li a {
        display: block;
        background: #eee;
        padding: 4px 12px;
}
#header h1#logo {
        float: left;
        margin: 30px 0 30px 15px;
}
#header h1#logo a {
        font-size: 2em;
        color: #ccc;
        font-style: italic;
        font-family: Georgia, times, serif;
        display: block;
}
#header .widget {
	border: none;
} */

/* BuddyPress navigation */
/* ul#bpauto {
	width: auto;
} */

/* #bpnav ul li,
	.directory .item-list-tabs ul li,
	#bpsubnav ul li,
	#object-nav ul li {
		border-right: 2px solid #F0F0F0;
		float: left;
		list-style-type: none;
		margin: 0;
} */

/* #bpnav ul li.last,
	.directory .item-list-tabs ul li.last,
	.internal-page #content ul li.last {
		float:right;
} */

/*#bpnav ul#nav li.selected,
	.internal-page #object-nav ul li.current,
	.internal-page #bpsubnav ul li.current {
		background: #F0F0F0;
}*/
/*#bpnav ul li a,
	.internal-page #object-nav ul li a,
	.internal-page #bpsubnav ul li a {
		display: block;
}*/
/* #bpnav ul li a,
	.directory .item-list-tabs ul li a,
	.item-list-tabs ul li a {
		color: #838383;
		display: block;
		font-size: 13px;
		padding: 2px 15px;
		position: relative;
} */

/* #nav #search-bar, #subnav #search-bar, #bpnav #search-bar { float: right; }
#nav .padder, #subnav .padder, #bpnav .padder { padding: 5px; } */

/* .internal-page -- buddypress body class
    #content --  Holds the main content on every page */

/* #inner .bp-content-top .wrap {
	width: 100%;
} */



/*.internal-page #content ul li.current {
	background: #EAEAEA;
}*/

/* .internal-page #content .padder,
	.widget .padder {
	    padding: 15px;
	} */

/* .internal-page #content ul li p a,
	.internal-page #content ul li .activity-meta a,
	.internal-page #content ul li .activity-inner a {
		display: inline;
} */


/* 
.internal-page #item-nav #user-nav ul li.current { background: #fff; }
 */
/* 
.internal-page #item-header { width: 100%; }
 */
/* 
.internal-page #item-header h2 { font-size: 1em; }
 */
/* 
.internal-page #item-header h2 a { font-size: 2em; }
 */
/* 
.internal-page #item-header img.avatar {
	float: left;
	margin: 0px 15px 15px 0px;
	height: 100px;
	width: 100px;
}
 */
/* 
.internal-page #item-header span.activity,
	.internal-page .item-meta span.activity {
		font-size: 1em;
		vertical-align: top;
}
 */
/* 
.internal-page #item-header ul li { float: right; }
 */
/* 
.internal-page #item-header ul li img.avatar {
	margin: 2px;
	float: right;
	height: 50px;
	width: 50px;
}
 */

/* Main column within the #content div */
/* 
.internal-page #item-body h5 {
    font-size: 1em;
    margin: 5px 0px;
}
 */
/* 
.internal-page #bpsubnav, #create-group-form {
    font-size: 1em;
    margin: 5px 0px;
    clear: both;
}
 */
/* 
.internal-page #item-body .item-list-tabs ul li.last { float: right; }
 */
/* .internal-page #item-body div.item { width: 50% }
.internal-page #item-body .item-list li { width: 100% }
.internal-page #item-body ul li div { float: left; } */
/* 
.internal-page #item-body div.action {
	float: right;
}
 */
/* 
.internal-page #item-body .radio ul { margin-bottom: 1.5em; }
 */
/* 
.internal-page #content #item-body .radio ul li,
	.internal-page #content .item-body .radio ul li,
	.internal-page #content #item-body .radio label,
	.internal-page #content .item-body .radio label {
		clear: left;
		float: none;
		display: block;
}
 */

/* 
.internal-page .acomment-meta { display: block; }
 */
/* what's new form */
/* 
.internal-page #whats-new-form, .directory #whats-new-form {
    clear: both;
    padding: 1px;
    margin-bottom: 15px;
}
 */
/* 
.internal-page #whats-new-avatar, .directory #whats-new-avatar {
    float: left;
    margin: 0px 10px 10px 0px;
}
 */
/* 
.internal-page textarea#whats-new #internal-page textarea#ac-input-2, .directory textarea#whats-new {
    height: 6em;
    width: 100%;
}
 */
/* 
.internal-page #whats-new-submit, .directory #whats-new-submit { float: right; margin-top: 5px; }
.internal-page #whats-new-content, .directory #whats-new-content { margin-left: 76px; }
 */

/* item list tabs */

/* 
.internal-page .item-list-tabs ul li {
	float: left;
}
 */
/* 
.internal-page .item-list-tabs ul li.last {
	margin: 4px 5px 4px 0;
}
 */
/* 
.internal-page .activity {
	clear: both;
	padding-top: 1px;
}
 */
/* 
.internal-page .activity-comments { width: 100%; }
 */
/* 
.internal-page #content .activity ul li a {
		padding: 4px 8px;
		display: inline;
}
 */
/* 
.internal-page #content .activity ul li .acomment-avatar a { padding: 0px; }
.internal-page #content .activity ul li .activity-content {
	margin-left: 80px;
	float: none;
}
 */
/* 
.internal-page #content .activity ul li .activity-content p { line-height: 2.2em; }
 */

/* BuddyPress Directories */
/* .dir-form h2 { width: 300px; } */
/* 
.dir-search {
    float: right;
    margin-top: -2em;
}
 */
/* 
.dir-list {
    clear: left;
    margin-top: 10px;
}
 */
/* create groups/forums */
/* 
#content #group-create-tabs {
	background: #eee;
}
 */
/* 
#content #group-create-tabs ul li a {
	background: #f7f7f7;
}
 */
/* 
#content #group-create-tabs ul li span {
        display: block;
        background: #eee;
        padding: 6px 10px 5px;
}
 */

/* widgets */
/* 
#content .bp-content-top .widget {
	border:1px solid #E6E6E6;
	padding-bottom: 10px;
	margin-bottom: 15px;
}
 */
/* 
#content .bp-content-top .widget h4 {
	background: #f7f7f7;
	padding: 5px 5px 5px 10px;
}
 */
/* 
#content .bp-content-top .widget ul,
	#content .bp-content-top .widget ol {
	list-style-type: square;
	margin: 10px 0 0;
	padding: 0 10px 0 25px;
}
 */
/* 
#content .bp-content-top .widget ul li {
	display: inline-block;
	float: none;
}
 */
/* 
#content .bp-content-top .widget ul li a {
	display: inline;
	padding: 0px;
}
 */

/* 
.widget ul#members-list {
	list-style-type: none;
	padding: 0px 5px 20px;
}
.widget ul.item-list li {
	border-bottom: none;
	padding-top: 5px;
	clear: left;
}
.widget ul.item-list li .item {
	clear: none;
}
.widget .item-avatar img.avatar {
	float: left;
	border: none;
	padding: 3px;
}
.widget .avatar-block {
	overflow: auto;
}
 */





/* Horizonal listing of content, for example random friends or groups on the profile page */
/* 
ul.horiz-gallery {
		list-style: none;
		overflow: auto;
		width: 100%;
		margin: 0;
		padding: 0;
	}
*/
/* 
		ul.horiz-gallery li {
			float: left;
			padding-right: 25px;
			text-align: center;
		}
			ul.horiz-gallery li h5 { font-size: 1em; }
 */



/* 
div#item-header div#item-actions {
	float: right;
	width: 20%;
	margin: 0 0 15px 15px;
	text-align: right;
}
 */
/* 
div#item-header ul h5, div#item-header ul span, div#item-header ul hr {	display: none; }
 */


/* 
body.activity-permalink ul.item-list li { padding-top: 0; }
 */


/***********************************************************************************
 * Component specific styles
 */


/*** Profiles ****************/

/* 
div#profile-name h1, #group-name h1 {
	font-size: 3em;
	margin: 10px 0 25px 0;
	font-family: Georgia, times, serif;
}
 */


/*** Status Updates *****************************/

/* 
#user-status {
	margin-bottom: 20px;
}

#user-status p {
	margin: 15px 0;
	padding: 10px 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
	#user-status .time-since {
		font-size: 0.9em;
		color: #888;
	}

	#user-status a#status-clear-status {
		color: red;
		font-size: 0.9em;
	}
 */

/*** Forums *************************************/
/* 
table.forum {
	width: 100%;
}
 */
/* 
table.forum td {
	text-align: center;
}
 */
/* 
.internal-page table tr td, .internal-page table tr th, .directory table tr td, .directory table tr th {
	padding: 8px;
	vertical-align: middle;
}
 */
/* 
.forum #content ul li .poster-meta a {
	display: inline;
	background:#F7F7F7 none repeat scroll 0%;
	border:1px solid #E6E6E6;
	font-size: 1em;
	padding: 3px 5px;
	margin: 0 5px 0 0;
}
 */
/* 
.forums #global-forum-topic-filters ul {
	margin: 0.3em 0px 0.5em;
	list-style-type: none;
	height: 1.3em;
}
 */
/* 
.forums #global-forum-topic-filters ul li {
	float: left;
	list-style-type: none;
	padding: 0px 0.2em;
}
 */
/* 
ul#forum-topic-list li {
	position: relative;
	min-height: 0;
	padding-bottom: 0;
	overflow: hidden;
	width: 100%;
}
 */
/* 
ul#forum-topic-list li.sticky {
	background: #ffffdd;
}

ul#forum-topic-list li.closed a.topic-title {
	background: url( ../images/closed_topic.png ) no-repeat center left;
	padding: 0 0 0 20px;
}

ul#forum-topic-list li span.latest {
	display: block;
	margin-left: 50px;
}

ul#forum-topic-list li div.admin-links, ul#topic-post-list li div.admin-links {
	position: absolute;
	top: 1em;
	right: 1em;
	background: #eee;
	display: none;
	padding: 0.1em 0.5em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-left: 50px;
	margin-bottom: 15px;
	font-size: 11px;
	color: #888;
}

ul#forum-topic-list li div.admin-links a, ul#topic-post-list li div.admin-links a {
	display: inline;
}

ul#forum-topic-list li:hover div.admin-links, ul#topic-post-list:hover li div.admin-links { display: inline-block; }
 */


/* 
div.latest-post {
	font-size: 0.9em;
	color: #888;
	margin-left: 70px;
}
 */

/* 
div#post-new-topic label, div#edit-topic label, div#edit-post lable div#post-topic-reply label {
	display: block;
	margin: 10px 0 3px 0;
}
 */




/* 
table.forum .td-poster .avatar {
	float: left;
}
 */

/* 
.ass-email-type label input {
	margin: 0 10px 0 0;
}

.ass-email-type .ass-email-explain {
    margin-left: 23px;
}
 */

/* 
.ass-email-type {
    font-size: 11px;
}

.ass-email-type .ass-email-explain {
    font-size: 10px;
}
 */

/* 
.ass-sub-note {
    clear: both;
    float: left;
    font-size: 10px;
    margin-top: 20px;
}
 */


/* 
form#sidebar-login-form.standard-form label {
    margin-top: 5px;
}
 */


/* 
table {
    width: 100%;
}
table thead tr {
    background: none repeat scroll 0 0 #EAEAEA;
}
 */

/*
div#sidebar table {
    margin: 0 -16px;
    width: 117%;
}
 
table tr td, table tr th {
    padding: 8px;
    vertical-align: middle;
}
table tr td.label {
    border-right: 1px solid #EAEAEA;
    font-weight: bold;
    width: 25%;
}
 */
/* 
table tr td.thread-info p {
    margin: 0;
}
table tr td.thread-info p.thread-excerpt {
    color: #888888;
    font-size: 11px;
    margin-top: 3px;
}
 */
/* 
div#sidebar table td, table.forum td {
    text-align: center;
}
 */
/* 
table tr.alt {
    background: none repeat scroll 0 0 #F4F4F4;
}
 */
/* 
table.notification-settings {
    margin-bottom: 20px;
    text-align: left;
}
table.notification-settings th.icon, table.notification-settings td:first-child {
    display: none;
}
table.notification-settings th.title {
    width: 80%;
}
table.notification-settings .yes, table.notification-settings .no {
    text-align: center;
    width: 40px;
}
 */
/* 
table.forum {
    width: auto;
}
table.forum tr.sticky td {
    background: none repeat scroll 0 0 #FFF9DB;
    border-bottom: 1px solid #FFE8C4;
    border-top: 1px solid #FFE8C4;
}
table.forum tr.closed td.td-title {
    background-image: url("../images/closed.png");
    background-position: 15px 50%;
    background-repeat: no-repeat;
    padding-left: 35px;
}
table.forum td p.topic-text {
    color: #888888;
    font-size: 11px;
}
table.forum tr > td:first-child, table.forum tr > th:first-child {
    padding-left: 15px;
}
table.forum tr > td:last-child, table.forum tr > th:last-child {
    padding-right: 15px;
}
table.forum tr th#th-title, table.forum tr th#th-poster, table.forum tr th#th-group, table.forum td.td-poster, table.forum td.td-group, table.forum td.td-title {
    text-align: left;
}
table.forum td.td-freshness {
    color: #888888;
    font-size: 11px;
}
table.forum td img.avatar {
    margin-right: 5px;
}
table.forum td.td-poster, table.forum td.td-group {
    min-width: 130px;
}
table.forum th#th-title {
    width: 40%;
}
table.forum th#th-postcount {
    width: 1%;
}
 */

/* 
.home-page form#whats-new-form {
    border-bottom: medium none;
    padding-bottom: 0;
}
 */

/*
.activity-list .activity-header a:first-child, span.highlight {
    background: none repeat scroll 0 0 #EBF7FF;
    border-bottom: 1px solid #A1DCFA;
    border-radius: 4px 4px 4px 4px;
    border-right: 1px solid #A1DCFA;
    color: #059AE7;
    margin-right: 3px;
    padding: 3px 8px;
    text-decoration: none;
}
*/

/* 
li span.unread-count, tr.unread span.unread-count {
    background: none repeat scroll 0 0 #DD0000;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 2px 8px;
}
div.item-list-tabs ul li a span.unread-count {
    color: #FFFFFF;
    padding: 1px 6px;
}
 */
