.website-links li li a {
	line-height: 14px !important;
	}
.website-links li li {
	margin-bottom: -17px;
	}

.ass-email-explain {margin-left: 21px!important;}

.course-create tr#wds-website-clone th, .course-create tr#wds-website th, .course-create tr#wds-website-existing th, .course-create tr#wds-website-external th {
    width: 225px;
}