@font-face {
  font-family: 'johannes-font';
  src:  url('../fonts/johannes-font.eot?');
  src:  url('../fonts/johannes-font.eot?#iefix') format('embedded-opentype'),
    url('../fonts/johannes-font.ttf?') format('truetype'),
    url('../fonts/johannes-font.woff?') format('woff'),
    url('../fonts/johannes-font.svg?#johannes-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa,
.o-envelope-1 {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


[class^="jf"], [class*=" jf-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'johannes-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jf-search:before {
  content: "\e900";
}
.jf-menu:before {
  content: "\e901";
}
.jf-social:before {
  content: "\e902";
}
.jf-close:before {
  content: "\e903";
}
.jf-arrow-left:before {
  content: "\e904";
}
.jf-arrow-right:before {
  content: "\e905";
}
.jf-chevron-down:before {
  content: "\e906";
}
.jf-chevron-up:before {
  content: "\e907";
}
.jf-chevron-left:before {
  content: "\e908";
}
.jf-chevron-right:before {
  content: "\e909";
}
.jf-chevron-small-down:before {
  content: "\e90a";
}
.jf-chevron-small-up:before {
  content: "\e90b";
}
.jf-chevron-small-left:before {
  content: "\e90c";
}
.jf-chevron-small-right:before {
  content: "\e90d";
} 
.jf-cart:before {
  content: "\e90e";
}
.jf-website:before {
  content: "\e90f";
}
.jf-sticky:before {
  content: "\e910";
}
.jf-video:before {
  content: "\e911";
}
.jf-audio:before {
  content: "\e912";
}
.jf-gallery:before {
  content: "\e913";
}
.jf-image:before {
  content: "\e914";
}

.fa-twitter:before {
  content: "\f099";
}

.fa-play:before {
  content: "\f04b";
  margin-right: -2px;
}

.fa-music:before {
  content: "\f001";
}

.fa-camera:before {
  content: "\f030";
}

.fa-facebook:before {
  content: "\f09a";
}

.fa-google-plus:before {
  content: "\f0d5";
}

.fa-pinterest:before {
  content: "\f0d2";
}

.fa-linkedin:before {
  content: "\f0e1";
}

.fa-reddit:before {
  content: "\f1a1";
}

.fa-stumbleupon:before {
  content: "\f1a4";
}

.fa-vk:before {
  content: "\f189";
}

.fa-whatsapp:before {
  content: "\f232";
}

.fa-instagram:before {
  content: "\f16d";
}
.o-envelope-1:before {
  content: "\f003";
}