body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td,
nav,
a {
    direction: rtl;
    unicode-bidi: inherit;
}

input[type="checkbox"], input[type="radio"]{
    margin-left: 7px;
    margin-right: auto;
}

td, th{
    text-align: right;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid{
    margin-left: auto;
    margin-right: auto;
}

.row, .wp-block-columns{
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.no-gutters{
    margin-left: 0;
    margin-right: 0;
}

.no-gutters > .col, .no-gutters > [class*="col-"]{
    padding-left: 0;
    padding-right: 0;
}

.offset-1{
    margin-right: 8.33333%;
    margin-left: auto;
}

.offset-2{
    margin-right: 16.66667%;
    margin-left: auto;
}

.offset-3{
    margin-right: 25%;
    margin-left: auto;
}

.offset-4{
    margin-right: 33.33333%;
    margin-left: auto;
}

.offset-5{
    margin-right: 41.66667%;
    margin-left: auto;
}

.offset-6{
    margin-right: 50%;
    margin-left: auto;
}

.offset-7{
    margin-right: 58.33333%;
    margin-left: auto;
}

.offset-8{
    margin-right: 66.66667%;
    margin-left: auto;
}

.offset-9{
    margin-right: 75%;
    margin-left: auto;
}

.offset-10{
    margin-right: 83.33333%;
    margin-left: auto;
}

.offset-11{
    margin-right: 91.66667%;
    margin-left: auto;
}

.col, [class*="col-"], .wp-block-column{
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.text-left, .section-head.text-left{
    text-align: right;
}

.slot-l{
    margin-left: 0;
    margin-right: 0;
}

.slot-r{
    margin-right: 0;
    margin-left: 0;
}

.slot-r ul + ul, .slot-r nav + ul, .slot-r div + ul{
    margin-right: 30px;
    margin-left: 0;
}

.slot-l ul + ul, .slot-l nav + ul, .slot-l div + ul{
    margin-left: 30px;
    margin-right: 0;
}

.slot-l .johannes-search{
    margin-left: 30px;
    margin-right: 0;
}

.slot-l > nav > ul > li{
   padding-right: 15px;
    padding-left: 15px;
}

.slot-r > nav > ul > li, .slot-r > div > nav > ul > li{
   padding-right: 15px;
    padding-left: 15px;
}

.slot-c > nav > ul > li{
    padding-right: 15px;
    padding-left: 15px;
}

.slot-r > nav > ul > li:last-child{
    padding-left: 0;
}

.slot-l > nav > ul > li:first-child{
    padding-right: 0;
}

.header-bottom .slot-r nav > ul > li{
    padding-right: 15px;
    padding-left: 15px;
}

.header-bottom .johannes-site-branding + nav{
    margin-right: 30px;
    margin-left: 0;
}

.header-bottom .slot-r ul + ul, .header-bottom .slot-r nav + ul{
    margin-right: 30px;
    margin-left: 0;
}

.header-bottom .slot-c nav > ul > li{
    padding-right: 15px;
    padding-left: 15px;
}

.header-bottom .slot-c nav + ul, .header-bottom .slot-c ul + ul{
    margin-right: 30px;
    margin-left: 0;
}

.header-bottom .slot-c .johannes-menu-social{
    margin-right: 30px;
    margin-left: 0;
}

.header-bottom .slot-c > nav > ul > li:first-child{
    padding-right: 0;
}

.header-bottom .slot-c > nav > ul > li:last-child{
    padding-left: 0;
}

.header-sticky .slot-r > div > nav > ul > li:last-child{
    padding-left: 0;
}

.johannes-header-multicolor .header-middle .slot-l, .johannes-header-multicolor .header-sticky .header-sticky-main .container > .slot-l, .johannes-header-multicolor .header-mobile .slot-l{
    padding: 0 0px 0 40px ;
    margin-left: 20px;
    margin-right: auto;
}

.johannes-header-multicolor .slot-l .johannes-site-branding:after, .johannes-header-multicolor .header-sticky .slot-l .johannes-site-branding:after, .johannes-header-multicolor .header-mobile .slot-l .johannes-site-branding:after{
    right: 0;
    left: auto;
}

.header-layout-3 .slot-l .johannes-site-branding{
    margin-left: 30px;
    margin-right: auto;
}

.header-sticky{
    right: 0;
    left: auto;
}

.header-sticky-contextual .meks_ess a:last-child{
    padding-left: 0;
}

.header-sticky-contextual .johannes-share-label{
    margin-left: 7px;
    margin-right: auto;
}

.johannes-header .sub-menu a{
    padding: 0 30px 15px 0 ;
}

.johannes-header .sub-menu{
    padding: 25px 0 10px 0 ;
    right: -30px;
    left: auto;
}

.johannes-header .sub-menu .sub-menu{
    right: 100%;
    left: auto;
}

.johannes-header nav > ul > li.menu-item-has-children > a:after{
    margin: 0 4px 0 0 ;
}

.johannes-header nav .sub-menu > li.menu-item-has-children > a:after{
    margin: 0 0 0 30px ;
    float: left;
}

.johannes-menu-action .jf{
    text-align: left;
    margin-right: 5px;
    margin-left: auto;
}


.johannes-menu-action .search-form button[type="submit"]{
    left: 0;
    right: auto;
}

.johannes-header li .sub-menu.johannes-rev{
    right: auto !important;
    left: 100%;
}

.johannes-menu-mobile li.header-el-label{
    margin: 0 0 0 10px ;
}

.johannes-header ul.johannes-menu .johannes-mega-menu > .sub-menu{
    padding: 48px 48px 48px 48px ;
    right: 48px;
    left: auto;
}

.johannes-header ul.johannes-menu .johannes-mega-menu > .sub-menu .sub-menu{
    border-right: none;
    border-left: none;
}

.johannes-header ul.johannes-menu .johannes-mega-menu .sub-menu > li a{
    padding-right: 0;
}

.johannes-header ul.johannes-menu .johannes-mega-menu > .sub-menu > li{
    padding-left: 24px;
    padding-right: 0;
}

.johannes-header ul.johannes-menu .johannes-mega-menu > .sub-menu > li:last-child{
    padding-left: 0;
}

.johannes-header ul.johannes-menu .johannes-mega-menu .sub-menu > li:hover .sub-menu, .johannes-header ul.johannes-menu .johannes-mega-menu .sub-menu .sub-menu{
    right: 0;
    left: auto;
}

.johannes-modal{
    right: 0;
    left: auto;
}

.no-right-padding{
    padding-left: 0;
}

.entry-format{
    float: right;
    margin-left: 5px;
    margin-right: auto;
}

.single-layout-2 .johannes-breadcrumbs span:first-child, .johannes-offset-bg .johannes-breadcrumbs span:first-child, .single-layout-5 .johannes-breadcrumbs span:first-child{
    padding-right: 0;
}
.section-head .johannes-content{
    margin-right: auto;
    margin-left: auto;
}

.container-404 input[type=search]{
    border-right: none;
    border-left: none;
}

.container-404 .search-alt{
    text-align: right;
}

.author-list .author-avatar{
    margin-right: 0;
}



.mks_dropcap_letter{
    margin: 0 0 0 20px ;
}

.mks_dropcap{
    margin: 5px 0 0 20px ;
}

body.single-post.johannes-sidebar-none .single-md-content, body.page.johannes-sidebar-none .single-md-content{
    margin-right: auto;
    margin-left: auto;
}

.mks_tabs.vertical .mks_tab_nav_item{
    margin: 0 1px -1px 0 ;
}

.johannes-offset-bg:after{
    right: -75%;
    left: auto;
}

.johannes-offset-bg .section-meta, .johannes-offset-bg .johannes-breadcrumbs{
    text-align: right;
}

.johannes-offset-bg .johannes-content{
    margin-right: 0;
    margin-left: 0;
    text-align: right;
}

.johannes-offset-bg .johannes-content .search-alt{
    text-align: right;
}

.johannes-offset-bg .section-description .search-alt button[type=submit]{
    margin-right: 0;
    margin-left: 0;
}

.johannes-offset-bg .section-description .search-alt input[type=text]{
    text-align: right;
}

.johannes-offset-bg .section-avatar, .johannes-offset-bg .section-title{
    text-align: right;
}
.entry-media a:after{
    right: 0;
    left: auto;
}

.white-bg-alt-1 .johannes-bg-alt-1 .tagcloud a, .white-bg-alt-2 .johannes-bg-alt-2 .tagcloud a{
    border-color: rgba(255, 0.5) 255, 255, ;
}

.white-bg-alt-1 .johannes-bg-alt-1 select, .white-bg-alt-2 .johannes-bg-alt-2 select{
    border-color: rgba(255, 0.5) 255, 255, ;
}
.johannes-overlay .entry-media a:after, .johannes-cover .section-bg:after{
    right: 0;
    left: auto;
}

.category-pill .entry-category a{
    margin-left: 3px;
    margin-right: auto;
}

.overlay-content-left, .overlay-content-left-small{
    text-align: right;
}

.overlay-content-left .entry-header{
    padding: 0 20px 20px 20px ;
}

.overlay-content-left-small .entry-header{
    padding: 0 20px 20px 20px ;
}

.has-arrows .owl-stage-outer:after{
    right: 50%;
    left: auto;
}

.media-shadow-radius.media-shadow:after, .media-shadow-radius img{
    border-radius: 37% 63% 50% 50% /;
}

.media-shadow-radius.media-shadow:after{
    right: 40%;
    left: auto;
}

.wa-layout-4.johannes-cover .section-head{
    text-align: right;
}

.johannes-slider .johannes-layout-fa-e .offset-md-1.section-head-alt{
    padding-left: 20px;
    padding-right: 0;
}



.meks_ess a{
    margin-left: 5px;
    margin-right: 0;
}

.meks_ess a:last-child{
    margin-left: 0;
}

.author-avatar{
    margin-right: 0;
    margin-left: 0;
}

.johannes-author-button{
    margin-left: 5px;
    margin-right: auto;
}
.johannes-sidebar-left .author-avatar{
    margin-right: 0;
}

.single-md-content .entry-summary span{
    float: right;
    margin-left: 5px;
    margin-right: auto;
}

.author-description .johannes-button-square{
    margin-left: 5px;
    margin-right: auto;
}

.johannes-section .johannes-share-label{
    right: 0;
    left: auto;
}

.offset-md-1.section-head-alt{
    padding-left: 0;
}

.section-head-alt-page, .section-head-alt-post{
    text-align: right;
}

.entry-media .wp-caption-text, .section-bg .wp-caption-text{
    left: 15px;
    right: auto;
}

.johannes-sidebar-none .entry-content .alignwide, 
.johannes-sidebar-none .entry-content .is-style-wide{
    right: 50%;
    left: auto;
}
.johannes-sidebar-none .entry-content .alignwide, .johannes-sidebar-none .entry-content .is-style-wide {
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.johannes-sidebar-none .alignfull, .johannes-layout-fa-a .alignfull{
    right: 50%;
    left: 50%;
    margin-right: -50vw;
    margin-left: -50vw;
}

.entry-content .alignleft, .entry-content .mks_pullquote_left, body.johannes-sidebar-left .entry-content .alignleft, body.johannes-sidebar-left .entry-content .mks_pullquote_left, body.johannes-sidebar-right .entry-content .alignleft, body.johannes-sidebar-right .entry-content .mks_pullquote_left{
    margin-left: 0;
}

.johannes-sidebar-none .entry-content .alignleft, .johannes-sidebar-none .entry-content .mks_pullquote_left{
    margin-right: 0;
}

.entry-content .alignright, .entry-content .mks_pullquote_right, body.johannes-sidebar-left .entry-content .alignright, body.johannes-sidebar-left .entry-content .mks_pullquote_right, body.johannes-sidebar-right .entry-content .alignright, body.johannes-sidebar-right .entry-content .mks_pullquote_right{
    margin-right: 0;
}

.johannes-sidebar-none .entry-content .alignright, .johannes-sidebar-none .entry-content .mks_pullquote_right{
    margin-left: 0;
}

p.has-drop-cap:not(:focus)::first-letter{
    float: right;
    margin-left: 20px;
    margin-right: auto;
}

.entry-content li > ol, .comment-content li > ol{
    padding: 0 2rem 0 0 ;
}

.entry-content li > ul, .comment-content li > ul{
    padding: 0 2rem 0 0 ;
}

.entry-content > ul li:before, .entry-content > ol ul li:before, .comment-content > ul li:before, .comment-content > ol ul li:before{
    margin-left: 5px;
    margin-right: auto;
}

.wp-block-separator.is-style-dots:before{
    padding-right: 0;
}

.wp-block-quote:before, blockquote:before{
    right: 0;
    left: auto;
}

.wp-block-quote, blockquote, .wp-block-quote.is-style-large{
    margin-right: 0;
    margin-left: 0;
}

.wp-block-quote.is-large cite, .wp-block-quote.is-large footer, .wp-block-quote.is-style-large cite, .wp-block-quote.is-style-large footer{
    text-align: right;
}

.wp-block-button.alignleft, .wp-block-button.mks_pullquote_left, .johannes-sidebar-none .wp-block-button.alignleft, .johannes-sidebar-none .wp-block-button.mks_pullquote_left{
    margin-right: 0;
    float: right;
    margin-left: 20px;
}

.wp-block-button.alignright, .wp-block-button.mks_pullquote_right, .johannes-sidebar-none .wp-block-button.alignright, .johannes-sidebar-none .wp-block-button.mks_pullquote_right{
    margin-left: 0;
    float: left;
    margin-right: 20px;
}

.wp-block-pullquote{
    text-align: right;
}

body.johannes-sidebar-left .wp-block-pullquote, body.johannes-sidebar-right .wp-block-pullquote{
    margin-right: 0;
    margin-left: 0;
}

.wp-block-pullquote.alignfull.is-style-default > *, .wp-block-pullquote.alignwide > *, .wp-block-pullquote.alignwide.is-style-solid-color > *, .wp-block-pullquote.alignfull.is-style-solid-color > *, .wp-block-pullquote.is-style-solid-color blockquote{
    margin-right: auto;
    margin-left: auto;
}

.wp-block-pullquote.alignwide{
    margin-right: 0;
    margin-left: 0;
}

.wp-block-column:not(:last-child), .wp-block-column:nth-child(odd){
    margin-left: 0;
}

.wp-block-column:not(:first-child), .wp-block-column:nth-child(even){
    margin-right: 0;
}

.wp-block-cover-image:after{
    right: 0;
    left: auto;
}

.johannes-sidebar-none .alignwide.wp-block-cover.has-parallax{
    margin-right: 0;
    right: 0;
    left: auto;
}

.wp-block-media-text .wp-block-media-text__content{
    padding: 0 48px 0 0 ;
}

.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content{
    padding: 0 0 0 48px ;
}

.wp-block-media-text.alignfull .wp-block-media-text__content, .wp-block-media-text.alignwide .wp-block-media-text__content{
    padding: 0 10% 0 10% ;
}

.johannes-button-white{
    margin-left: 10px;
    margin-right: auto;
}

.johannes-button-circle{
    margin-left: 10px;
    margin-right: auto;
}

.johannes-menu-social li:last-child{
    margin-left: 0;
}

.mc-field-group input[type=text], .mc-field-group input[type=email]{
    text-align: right;
    border-right: 0;
    border-left: 0;
}

.success, .error, #usp-success-message{
    float: right;
}

span.wpcf7-not-valid-tip{
    left: 3px;
    right: auto;
}

.form-submit{
    margin-left: 20px;
    margin-right: auto;
}

.comment-author img{
    float: right;
    margin-left: 15px;
    margin-right: auto;
}

.comment-content{
    margin-right: 0;
    padding-right: 75px;
    padding-left: 0;
}

.comment-body .reply{
    margin-right: 75px;
    margin-left: auto;
}

.comment-reply-link{
    margin-right: 0;
}

.comment > .children{
    padding: 0 38.4px 0 0 ;
}

.pingback .comment-content, .trackback .comment-content{
    margin-right: 0;
    padding-right: 0;
}

.comment-respond .section-title + small{
    left: 0;
    right: auto;
    padding-right: 5px;
    padding-left: 0;
}

.bypostauthor .fn:after{
    margin-right: 7px;
    margin-left: auto;
}

.comment-respond .section-title small a:before{
    margin-left: 13px;
    margin-right: 13px;
}

.comment-form-cookies-consent label{
    margin: 0 5px 0 0 ;
}

.johannes-pagination a.next{
    left: 0;
    right: auto;
}

.johannes-pagination a.prev{
    right: 0;
    left: auto;
}

.johannes-pagination .next a:after, .johannes-pagination a.next:after{
    margin-right: 2px;
    margin-left: -9px;
}

.johannes-pagination .prev a:before, .johannes-pagination a.prev:before{
    margin-left: 2px;
    margin-right: -9px;
}

.johannes-loader{
    margin-right: -33px;
    margin-left: auto;
    right: 50%;
    left: auto;
}

.johannes-ellipsis div:nth-child(1){
    right: 6px;
    left: auto;
}

.johannes-ellipsis div:nth-child(2){
    right: 6px;
    left: auto;
}

.johannes-ellipsis div:nth-child(3){
    right: 26px;
    left: auto;
}

.johannes-ellipsis div:nth-child(4){
    right: 45px;
    left: auto;
}

.johannes-link-pages{
    text-align: right;
}

.sticky .entry-title a:before{
    margin-left: 10px;
    margin-right: auto;
}

.widget_calendar table tfoot tr #next{
    text-align: left;
}

.widget_calendar table caption{
    right: 0;
    left: auto;
}

ul.flickr li, .widget ul.flickr li{
    margin: 6px 3px 0 3px !important;
}

.widget.mks_ads_widget .small li, .widget.mks_adswidget_ul.small li{
    margin-left: 6px;
    margin-right: 6px;
}

.widget .count{
    left: 0;
    right: auto;
    padding-right: 10px;
    padding-left: 0;
}

.widget_categories ul li a, .widget_archive ul li a{
    padding-left: 10px;
    padding-right: 0;
}

.widget .johannes-accordion-nav + .count{
    left: 20px;
    right: auto;
}

.widget .mks_themeforest_widget_ul li{
    margin: 0 0 10px 5px ;
}

.tagcloud a{
    margin-right: 4px;
    margin-left: 4px;
}

.widget .sub-menu, .widget .children{
    margin: 10px 0 10px 0;
}

.widget .menu-item-has-children .johannes-accordion-nav, .widget .page_item_has_children .johannes-accordion-nav, .widget .cat-parent .johannes-accordion-nav{
    left: -10px;
    right: auto;
}

.johannes-widget-posts-small .entry-media{
    margin-left: 24px;
    margin-right: auto;
}

.johannes-action-overlay{
    left: 0;
    right: 0;
}

.johannes-action-overlay:after{
    right: 0;
    left: auto;
}

.overlay-lock{
    padding-left: 17px;
    padding-right: 0;
}


body .overlay-bg{
    right: 0;
    left: 0;
}

.johannes-action-overlay .johannes-action-close{
    left: 20px;
    right: auto;
}

.johannes-section-instagram .meks-instagram-follow-link{
    margin-right: auto;
    margin-left: auto;
}

.johannes-section-instagram.has-arrows .owl-nav{
    background: right  0;
}

_:-ms-fullscreen, :root .johannes-overlay .entry-header{
    right: 0;
    left: auto;
}

@media (min-width: 359px){
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }

    .row,  .wp-block-columns{
        margin-left: -7.5px;
        margin-right: -7.5px;
    }

    .offset-sm-0{
        margin-right: 0;
    }

    .offset-sm-1{
        margin-right: 8.33333%;
        margin-left: auto;
    }

    .offset-sm-2{
        margin-right: 16.66667%;
        margin-left: auto;
    }

    .offset-sm-3{
        margin-right: 25%;
        margin-left: auto;
    }

    .offset-sm-4{
        margin-right: 33.33333%;
        margin-left: auto;
    }

    .offset-sm-5{
        margin-right: 41.66667%;
        margin-left: auto;
    }

    .offset-sm-6{
        margin-right: 50%;
        margin-left: auto;
    }

    .offset-sm-7{
        margin-right: 58.33333%;
        margin-left: auto;
    }

    .offset-sm-8{
        margin-right: 66.66667%;
        margin-left: auto;
    }

    .offset-sm-9{
        margin-right: 75%;
        margin-left: auto;
    }

    .offset-sm-10{
        margin-right: 83.33333%;
        margin-left: auto;
    }

    .offset-sm-11{
        margin-right: 91.66667%;
        margin-left: auto;
    }

    .col,  [class*="col-"],  .wp-block-column{
        padding-left: 7.5px;
        padding-right: 7.5px;
    }

}

@media only screen and (min-width: 359px){
    .overlay-content-left .entry-header{
        padding: 0 30px 30px 30px ;
    }

    .overlay-content-left-small .entry-header{
        padding: 0 30px 30px 30px ;
    }

}

@media (min-width: 600px){
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }

    .row,  .wp-block-columns{
        margin-left: -15px;
        margin-right: -15px;
    }

    .offset-md-0{
        margin-right: 0;
    }

    .offset-md-1{
        margin-right: 8.33333%;
        margin-left: auto;
    }

    .offset-md-2{
        margin-right: 16.66667%;
        margin-left: auto;
    }

    .offset-md-3{
        margin-right: 25%;
        margin-left: auto;
    }

    .offset-md-4{
        margin-right: 33.33333%;
        margin-left: auto;
    }

    .offset-md-5{
        margin-right: 41.66667%;
        margin-left: auto;
    }

    .offset-md-6{
        margin-right: 50%;
        margin-left: auto;
    }

    .offset-md-7{
        margin-right: 58.33333%;
        margin-left: auto;
    }

    .offset-md-8{
        margin-right: 66.66667%;
        margin-left: auto;
    }

    .offset-md-9{
        margin-right: 75%;
        margin-left: auto;
    }

    .offset-md-10{
        margin-right: 83.33333%;
        margin-left: auto;
    }

    .offset-md-11{
        margin-right: 91.66667%;
        margin-left: auto;
    }

    .col,  [class*="col-"],  .wp-block-column{
        padding-left: 15px;
        padding-right: 15px;
    }

    .offset-md-15{
        margin-right: 4.33333%;
        margin-left: auto;
    }

}

@media only screen and (min-width: 600px){
    .error404 .h0{
        text-align: right;
    }

    .error404 .title-404{
        right: 30%;
        left: auto;
    }

    .johannes-offset-bg,  .johannes-offset-bg .section-title{
        text-align: right;
    }

    .johannes-offset-bg:after{
        right: -45%;
        left: auto;
    }

    .category-pill .entry-category a{
        margin-left: 5px;
        margin-right: auto;
    }

    .media-shadow:after{
        right: 30px;
        left: auto;
    }

    .author-avatar{
        margin-left: 30px;
        margin-right: auto;
    }

    .entry-content .alignleft,  .entry-content .mks_pullquote_left{
        float: right;
        margin-left: 30px;
        margin-right: auto;
    }

    .entry-content .alignright,  .entry-content .mks_pullquote_right{
        float: left;
        margin-right: 30px;
        margin-left: auto;
    }

    .entry-content > ol li:before,  .comment-content > ol li:before{
        padding-left: 10px;
        padding-right: 0;
    }

   .johannes-layout-fa-e .offset-md-1.section-head-alt{
        padding-right: 0;
    }

    .author-avatar{
        margin-left: 30px;
        margin-right: auto;
    }

    .entry-media .wp-caption-text,  .section-bg .wp-caption-text{
        left: 20px;
        right: auto;
    }

    .entry-content .alignleft,  .entry-content .mks_pullquote_left,  body.johannes-sidebar-left .entry-content .alignleft,  body.johannes-sidebar-left .entry-content .mks_pullquote_left,  body.johannes-sidebar-right .entry-content .alignleft,  body.johannes-sidebar-right .entry-content .mks_pullquote_left{
        float: right;
        margin-left: 30px;
        margin-right: auto;
    }

    .entry-content .alignright,  .entry-content .mks_pullquote_right,  body.johannes-sidebar-left .entry-content .alignright,  body.johannes-sidebar-left .entry-content .mks_pullquote_right,  body.johannes-sidebar-right .entry-content .alignright,  body.johannes-sidebar-right .entry-content .mks_pullquote_right{
        float: left;
        margin-right: 30px;
        margin-left: auto;
    }

    .entry-content > ul li:before,  .entry-content > ol ul li:before,  .comment-content > ul li:before,  .comment-content > ol ul li:before{
        margin-left: 10px;
        margin-right: auto;
    }

    .wp-block-quote:before,  blockquote:before{
        right: -44px;
        left: auto;
    }

    .wp-block-button.alignleft,  .wp-block-button.mks_pullquote_left,  .johannes-sidebar-none .wp-block-button.alignleft,  .johannes-sidebar-none .wp-block-button.mks_pullquote_left{
        margin-right: 0;
        margin-left: 36px;
    }

    .wp-block-button.alignright,  .wp-block-button.mks_pullquote_right,  .johannes-sidebar-none .wp-block-button.alignright,  .johannes-sidebar-none .wp-block-button.mks_pullquote_right{
        margin-left: 0;
        margin-right: 36px;
    }

    .wp-block-button.alignleft + .alignleft,  .wp-block-button.mks_pullquote_left + .alignleft,  .wp-block-button.alignleft + .mks_pullquote_left,  .wp-block-button.mks_pullquote_left + .mks_pullquote_left{
        margin-right: -24px;
        margin-left: auto;
    }

  .wp-block-pullquote{
        margin-right: -30px;
        margin-left: -30px;
    }
}

@media (min-width: 900px){
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }

    .row,  .wp-block-columns{
        margin-left: -15px;
        margin-right: -15px;
    }

    .offset-lg-0{
        margin-right: 0;
    }

    .offset-lg-1{
        margin-right: 8.33333%;
        margin-left: auto;
    }

    .offset-lg-3{
        margin-right: 25%;
        margin-left: auto;
    }

    .offset-lg-4{
        margin-right: 33.33333%;
        margin-left: auto;
    }

    .offset-lg-5{
        margin-right: 41.66667%;
        margin-left: auto;
    }

    .offset-lg-6{
        margin-right: 50%;
        margin-left: auto;
    }

    .offset-lg-7{
        margin-right: 58.33333%;
        margin-left: auto;
    }

    .offset-lg-8{
        margin-right: 66.66667%;
        margin-left: auto;
    }

    .offset-lg-9{
        margin-right: 75%;
        margin-left: auto;
    }

    .offset-lg-10{
        margin-right: 83.33333%;
        margin-left: auto;
    }

    .offset-lg-11{
        margin-right: 91.66667%;
        margin-left: auto;
    }

    .col,  [class*="col-"],  .wp-block-column{
        padding-left: 15px;
        padding-right: 15px;
    }

}

@media only screen and (min-width: 900px){
    .johannes-header-bottom-boxed.johannes-header-bottom-color .header-bottom-slots{
        padding-right: 30px;
        padding-left: 30px;
    }

    .error404 .h0{
        text-align: right;
    }

    .error404 .title-404{
        right: 30%;
        left: auto;
    }

    .johannes-offset-bg:after{
        right: -35%;
        left: auto;
    }

    .overlay-content-left .entry-header{
        padding: 0 40px 40px 40px ;
    }

    .overlay-content-left-small .entry-header{
        padding: 0 30px 30px 30px ;
    }

    .media-shadow:after{
        right: 50px;
        left: auto;
    }

    .author-avatar{
        margin-right: -100px;
        margin-left: 30px;
    }

   .entry-media .wp-caption-text,  .section-bg .wp-caption-text{
        left: 30px;
        right: auto;
    }

      .entry-content .alignleft,  .entry-content .mks_pullquote_left,  body.johannes-sidebar-left .entry-content .alignleft,  body.johannes-sidebar-left .entry-content .mks_pullquote_left,  body.johannes-sidebar-right .entry-content .alignleft,  body.johannes-sidebar-right .entry-content .mks_pullquote_left{
        margin-left: 48px;
        margin-right: 30px;
    }

    .johannes-sidebar-none .entry-content .alignleft,  .johannes-sidebar-none .entry-content .mks_pullquote_left{
        margin-right: -148px;
        margin-left: 30px;
    }

   .entry-content .alignright,  .entry-content .mks_pullquote_right,  body.johannes-sidebar-left .entry-content .alignright,  body.johannes-sidebar-left .entry-content .mks_pullquote_right,  body.johannes-sidebar-right .entry-content .alignright,  body.johannes-sidebar-right .entry-content .mks_pullquote_right{
        margin-right: 48px;
        margin-left: 30px;
    }

    .johannes-sidebar-none .entry-content .alignright,  .johannes-sidebar-none .entry-content .mks_pullquote_right{
        margin-left: -148px;
        margin-right: 30px;
    }

    .wp-block-button.alignleft,  .wp-block-button.mks_pullquote_left,  .johannes-sidebar-none .wp-block-button.alignleft,  .johannes-sidebar-none .wp-block-button.mks_pullquote_left{
        margin-right: 0;
    }

    .wp-block-button.alignright,  .wp-block-button.mks_pullquote_right,  .johannes-sidebar-none .wp-block-button.alignright,  .johannes-sidebar-none .wp-block-button.mks_pullquote_right{
        margin-left: 0;
    }

    .wp-block-pullquote{
  margin-right: -48px;
        margin-left: -48px;
    }
   .johannes-sidebar-none .alignwide.wp-block-cover.has-parallax{
        margin-right: -465px;
        margin-left: auto;
        right: 50%;
        left: auto;

    }

}

@media (min-width: 1050px){
    .alignfull.owl-carousel .owl-item > div{
        padding-left: 18px;
        padding-right: 0;
    }

}

@media (min-width: 1128px){
    .container{
        padding-left: 48px;
        padding-right: 48px;
    }

    .row,  .wp-block-columns{
        margin-left: -24px;
        margin-right: -24px;
    }

    .offset-xl-0{
        margin-right: 0;
    }

    .offset-xl-1{
        margin-right: 8.33333%;
        margin-left: auto;
    }

    .offset-xl-2{
        margin-right: 16.66667%;
        margin-left: auto;
    }

    .offset-xl-3{
        margin-right: 25%;
        margin-left: auto;
    }

    .offset-xl-4{
        margin-right: 33.33333%;
        margin-left: auto;
    }

    .offset-xl-5{
        margin-right: 41.66667%;
        margin-left: auto;
    }

    .offset-xl-6{
        margin-right: 50%;
        margin-left: auto;
    }

    .offset-xl-7{
        margin-right: 58.33333%;
        margin-left: auto;
    }

    .offset-xl-8{
        margin-right: 66.66667%;
        margin-left: auto;
    }

    .offset-xl-9{
        margin-right: 75%;
        margin-left: auto;
    }

    .offset-xl-10{
        margin-right: 83.33333%;
        margin-left: auto;
    }

    .offset-xl-11{
        margin-right: 91.66667%;
        margin-left: auto;
    }

    .col,  [class*="col-"],  .wp-block-column{
        padding-left: 24px;
        padding-right: 24px;
    }

}

@media only screen and (min-width: 1128px){
    .johannes-header-bottom-boxed.johannes-header-bottom-color .header-bottom-slots{
        padding-right: 30px;
        padding-left: 30px;
    }

    .overlay-content-left .entry-header{
        padding: 0 57.6px 57.6px 57.6px ;
    }

    .overlay-content-left-small .entry-header{
        padding: 0 38.4px 38.4px 38.4px ;
    }

    .johannes-sidebar-none .johannes-author{
        margin-right: -48px;
        margin-left: -48px;
    }

    .wp-block-pullquote{
        margin-right: -48px;
        margin-left: -48px;
    }

  .johannes-sidebar-none .alignwide.wp-block-cover.has-parallax{
        margin-right: -564px;
        margin-left: auto;
        right: 50%;
        left: auto;
    }

    .johannes-sidebar-none .wp-block-preformatted,  .johannes-sidebar-none .wp-block-verse,  .johannes-sidebar-none pre,  .johannes-sidebar-none address{
        margin-right: -48px;
        margin-left: -48px;
    }

}

@media (max-width: 600px){
    .single-layout-4 .johannes-offset-bg{
        text-align: right;
    }

    .johannes-sidebar-none .entry-content .wp-block-pullquote.alignwide,  .johannes-sidebar-none .entry-content .wp-block-columns.alignwide{
        margin-right: 0;
        margin-left: 0;
        right: 0;
        left: auto;
    }

    .section-archive-1 .section-head,  .section-archive-1 .section-head .section-title{
        text-align: right;
    }

  .author-list .author-avatar{
        margin-left: 15px;
        margin-right: auto;
    }

    .section-description .search-alt input[type=text]{
        text-align: right;
    }

}


/* Additional Fixes */

.johannes-sidebar-hidden{
    left: 0;
    right: auto;
}
.section-content.row,
.row, .wp-block-columns,
.wp-block-gallery{
    direction: ltr;
}
.johannes-layout-e,
.johannes-layout-fa-e,
.johannes-layout-f,
.single-layout-5 .row{
    direction: rtl;
}
.johannes-header nav .sub-menu>li.menu-item-has-children>a:after {
    content: "\e908";
}
.johannes-pagination .next a:after, .johannes-pagination a.next:after {
    content: "\e908";
}
.johannes-pagination .prev a:before, .johannes-pagination a.prev:before {
    content: "\e909";
}
.has-arrows .owl-nav{
    flex-flow: row-reverse;
}


.johannes-offset-bg:after{
    -webkit-box-shadow: 300px 0 0 rgba(0,0,0,.4), 600px 0 0 rgba(0,0,0,.4), 900px 0 0 rgba(0,0,0,.4), 1200px 0 0 rgba(0,0,0,.4), 1500px 0 0 rgba(0,0,0,.4);
    box-shadow: 300px 0 0 rgba(0,0,0,.4), 600px 0 0 rgba(0,0,0,.4), 900px 0 0 rgba(0,0,0,.4), 1200px 0 0 rgba(0,0,0,.4), 1500px 0 0 rgba(0,0,0,.4);
}
@media only screen and (min-width: 1128px){
    .johannes-sidebar-hidden{
        -webkit-transform: translate3D(-460px,0,0);
    -ms-transform: translate3D(-460px,0,0);
    transform: translate3D(-460px,0,0);

    }
}