%reset-ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
%clearfix{
    &:before,
    &:after{
        clear: both;
        content:'';
        display: block;

    }
}
%primary-bg{
    background-color: $color_primary;
}
%primary-border{
    border-color: $color_primary;
}
%primary-color{
    color: $color_primary;
}
%perspective{
    transform:  perspective(1px) translateZ(0);
}
%overlay{
    position: relative;
    z-index: 1;
    &:before{
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
}

%btn{
    display: inline-block;
    line-height: 1;
    @include border();
    padding: 10px 30px;
    font-size: 0.9rem;
    text-transform: uppercase;
}
%btn-hover{
    @extend %perspective;
    overflow: hidden;
    &:after{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        display: block;
        z-index: -1;
        left: 0;
        background-color: $color_primary;
        animation: scale-out-hor-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        content: '';
    }
    &:hover{
        border-color: $color_primary;
        color: $color_white;
        &:after{
            animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
    }
}
