/* FILE: comments.scss */
@use 'sass:math';

//
// Comments styles.
//
// @package    Michelle
// @copyright  WebMan Design, Oliver Juhas
//
// @since    1.0.0
// @version  1.5.0
//

$left: left;
$right: right;
$rtl_multiplier: 1; // For `translateX` transform, for example.

@import '_tools/_index';
@import '_setup/_index';

@import 'comments/_index';
