/* FILE: comments-rtl.scss */

//
// Comments styles, RTL.
//
// @package    Michelle
// @copyright  WebMan Design, Oliver Juhas
//

$left: right;
$right: left;
$rtl_multiplier: -1; // For `translateX` transform, for example.

@import '_tools/_index';
@import '_setup/_index';

@import 'comments/_index';
