/* FILE: customize-controls.scss */

//
// Customize controls styles.
//
// @package    Michelle
// @copyright  WebMan Design, Oliver Juhas
//
// @since    1.0.0
// @version  1.3.7
//

$left: left;
$right: right;
$rtl_multiplier: 1; // For `translateX` transform, for example.

@import 'customize-controls/_index';
