/* FILE: customize-controls-rtl.scss */
@use 'sass:math';

//
// Customize controls RTL styles.
//
// @package    Michelle
// @copyright  WebMan Design, Oliver Juhas
//

$left: right;
$right: left;
$rtl_multiplier: -1; // For `translateX` transform, for example.

@import 'customize-controls/_index';
