/* FILE: global-rtl.scss */
@use 'sass:math';

//
// Global theme styles, RTL.
//
// @package    Michelle
// @copyright  WebMan Design, Oliver Juhas
//

$left: right;
$right: left;
$rtl_multiplier: -1; // For `translateX` transform, for example.

body {
	direction: rtl;
	unicode-bidi: embed;
}

@import '_tools/_index';
@import '_setup/_index';

@import 'custom-properties';

@import 'global/_index';

