$primary-color: #06c;
$primary-color-light: #1c8efc;
$dark-gray: #474747;
$light-gray: #aaa;

$base-font-stack: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$base-font-color: $dark-gray;
