<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"inherit":true},"style":{"spacing":{"margin":{"top":"3em"}}}} -->
<div class="wp-block-group" style="margin-top:3em">
	<!-- wp:heading {"level":1,"textAlign":"center"} -->
	<h1 class="has-text-align-center">Page not found</h1>
	<!-- /wp:heading -->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"3em","bottom":"3em"}}},"className":"site-content"} -->
<main id="primary" class="wp-block-group site-content" style="margin-top:3em;margin-bottom:3em">

	<!-- wp:group {"layout":{"inherit":true}} -->
	<div class="wp-block-group">
		<!-- wp:paragraph {"align":"center"} -->
		<p class="has-text-align-center">The page you are looking for does not exist or may have been moved or renamed.</p>
		<!-- /wp:paragraph -->
		<!-- wp:paragraph {"align":"center"} -->
		<p class="has-text-align-center">Please try a search.</p>
		<!-- /wp:paragraph -->
		<!-- wp:search {"label":"Search","showLabel":false,"width":360,"widthUnit":"px","buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true,"align":"center","style":{"border":{"width":"0px","style":"none","radius":"3px"}},"backgroundColor":"dark-bg","textColor":"fg"} /-->
	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
