<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px"}}},"className":"site-content"} -->
<main id="primary" class="wp-block-group site-content" style="margin-top:0px">

	<!-- wp:group {"layout":{"inherit":true},"className":"entry-content"} -->
	<div class="wp-block-group entry-content">

		<!-- wp:spacer {"height":"2rem"} -->
		<div style="height:2rem" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:pattern {"slug":"aeonium/large-intro"} /-->

		<!-- wp:spacer {"height":"4rem"} -->
		<div style="height:4rem" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:pattern {"slug":"aeonium/services-boxes"} /-->

		<!-- wp:spacer {"height":"8rem"} -->
		<div style="height:8rem" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:pattern {"slug":"aeonium/media-text"} /-->

		<!-- wp:spacer {"height":"8rem"} -->
		<div style="height:8rem" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:pattern {"slug":"aeonium/media-text-alt"} /-->

		<!-- wp:spacer {"height":"8rem"} -->
		<div style="height:8rem" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:pattern {"slug":"aeonium/team"} /-->

		<!-- wp:spacer {"height":"8rem"} -->
		<div style="height:8rem" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:pattern {"slug":"aeonium/latest-posts"} /-->

		<!-- wp:spacer {"height":"8rem"} -->
		<div style="height:8rem" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->