<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"inherit":true},"backgroundColor":"dark-bg","style":{"spacing":{"margin":{"top":"0px"}}}} -->
<div class="wp-block-group has-dark-bg-background-color has-background" style="margin-top:0px">
	<!-- wp:group {"align":"wide","layout":{"contentSize":"66rem"}} -->
	<div class="wp-block-group alignwide">
		<!-- wp:post-title {"level":1} /-->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"3em"}}},"className":"site-content"} -->
<main id="primary" class="wp-block-group site-content" style="margin-top:3em">
	<!-- wp:post-content {"layout":{"inherit":true}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->