<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"inherit":true},"backgroundColor":"dark-bg","style":{"spacing":{"margin":{"top":"0px"}}}} -->
<div class="wp-block-group has-dark-bg-background-color has-background" style="margin-top:0px">
	<!-- wp:group {"align":"wide","layout":{"contentSize":"66rem"}} -->
	<div class="wp-block-group alignwide">
		<!-- wp:post-title {"level":1} /-->

		<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px"}}},"layout":{"type":"flex","flexWrap":"wrap"}} -->
		<div class="wp-block-group" style="margin-top:0px">
			<!-- wp:post-author {"showAvatar":false,"showBio":false} /-->
			<!-- wp:paragraph {"style":{"typography":{"fontWeight":"300"}},"textColor":"accent","fontSize":"medium"} -->
			<p class="has-accent-color has-text-color has-medium-font-size" style="font-weight:300">|</p>
			<!-- /wp:paragraph -->
			<!-- wp:post-date /-->
		</div>
		<!-- /wp:group -->

	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"top":"0px"}}}} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"3em"}}},"className":"site-content"} -->
<main id="primary" class="wp-block-group site-content" style="margin-top:3em">
	<!-- wp:post-content {"layout":{"inherit":true}} /-->
</main>
<!-- /wp:group -->

<!-- wp:group {"layout":{"inherit":true},"style":{"spacing":{"margin":{"top":"3em"}}}} -->
<div class="wp-block-group" style="margin-top:3em">
	<!-- wp:post-terms {"term":"category"} /-->
	<!-- wp:post-terms {"term":"post_tag"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"comments","tagName":"comments"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->