<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"site-content","layout":{"inherit":true}} -->
<main id="primary" class="wp-block-group site-content"><!-- wp:columns {"isStackedOnMobile":false,"style":{"spacing":{"blockGap":"0px"}}} -->
<div class="wp-block-columns is-not-stacked-on-mobile"><!-- wp:column {"width":"4px","backgroundColor":"accent"} -->
<div class="wp-block-column has-accent-background-color has-background" style="flex-basis:4px"></div>
<!-- /wp:column -->

<!-- wp:column {"width":"5px","backgroundColor":"accent-2"} -->
<div class="wp-block-column has-accent-2-background-color has-background" style="flex-basis:5px"></div>
<!-- /wp:column -->

<!-- wp:column {"width":"6px","backgroundColor":"accent-3"} -->
<div class="wp-block-column has-accent-3-background-color has-background" style="flex-basis:6px"></div>
<!-- /wp:column -->

<!-- wp:column {"width":""} -->
<div class="wp-block-column"><!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|accent-2"}}},"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"backgroundColor":"fg","textColor":"bg"} -->
<div class="wp-block-group has-bg-color has-fg-background-color has-text-color has-background has-link-color" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:group {"backgroundColor":"very-light-bg"} -->
<div class="wp-block-group has-very-light-bg-background-color has-background"><!-- wp:post-title {"level":1,"textColor":"bg"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px"}}},"layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group" style="margin-top:0px"><!-- wp:post-author {"showAvatar":false,"showBio":false,"textColor":"dark-bg"} /-->

<!-- wp:paragraph {"style":{"typography":{"fontWeight":"300"}},"textColor":"accent-2","fontSize":"medium"} -->
<p class="has-accent-2-color has-text-color has-medium-font-size" style="font-weight:300">|</p>
<!-- /wp:paragraph -->

<!-- wp:post-date {"textColor":"dark-bg"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"backgroundColor":"fg"} -->
<div class="wp-block-group has-fg-background-color has-background"><!-- wp:post-featured-image /-->

<!-- wp:post-content {"layout":{"inherit":true}} /-->

<!-- wp:post-terms {"term":"category"} /-->

<!-- wp:post-terms {"term":"post_tag"} /--></div>
<!-- /wp:group -->

</div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"10px","backgroundColor":"very-light-bg"} -->
<div class="wp-block-column has-very-light-bg-background-color has-background" style="flex-basis:10px"></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"comments","tagName":"comments"} /-->

<!-- wp:spacer {"height":"2em"} -->
<div style="height:2em" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->