a:focus, a:not([href]):not([tabindex]):focus, button:focus {
	outline: auto;
}

/* Don't let Typology dictate width of toolbar buttons */
.oplb-bs button,
#wpadminbar button {
	min-width: unset;
}

/* Unsure why this is necessary, but we have to adjust for side padding */
@media screen and (max-width: 600px) {
	.oplb-bs.navbar-location-oplb-bs {
		width: calc( 100% - 15px );
	}
}

/* Inline Comments - Derp */
.incom-bubble,
.incom-bubble.incom-bubble-active {
	z-index: 99999; /* Derp Derp */
}

.incom-comments-wrapper {
	z-index: 99998; /* Herpty Derp */
}
