:root {
	.has-theme-palette-1-background-color, .has-theme-palette1-background-color {
		background-color: var(--global-palette1);
	}
	.has-theme-palette-1-color, .has-theme-palette1-color {
		color: var(--global-palette1);
	}
	.has-theme-palette-2-background-color, .has-theme-palette2-background-color {
		background-color: var(--global-palette2);
	}
	.has-theme-palette-2-color, .has-theme-palette2-color {
		color: var(--global-palette2);
	}
	.has-theme-palette-3-background-color, .has-theme-palette3-background-color {
		background-color: var(--global-palette3);
	}
	.has-theme-palette-3-color, .has-theme-palette3-color {
		color: var(--global-palette3);
	}
	.has-theme-palette-4-background-color, .has-theme-palette4-background-color {
		background-color: var(--global-palette4);
	}
	.has-theme-palette-4-color, .has-theme-palette4-color {
		color: var(--global-palette4);
	}
	.has-theme-palette-5-background-color, .has-theme-palette5-background-color {
		background-color: var(--global-palette5);
	}
	.has-theme-palette-5-color, .has-theme-palette5-color {
		color: var(--global-palette5);
	}
	.has-theme-palette-6-background-color, .has-theme-palette6-background-color {
		background-color: var(--global-palette6);
	}
	.has-theme-palette-6-color, .has-theme-palette6-color {
		color: var(--global-palette6);
	}
	.has-theme-palette-7-background-color, .has-theme-palette7-background-color {
		background-color: var(--global-palette7);
	}
	.has-theme-palette-7-color, .has-theme-palette7-color {
		color: var(--global-palette7);
	}
	.has-theme-palette-8-background-color, .has-theme-palette8-background-color {
		background-color: var(--global-palette8);
	}
	.has-theme-palette-8-color, .has-theme-palette8-color {
		color: var(--global-palette8);
	}
	.has-theme-palette-9-background-color, .has-theme-palette9-background-color {
		background-color: var(--global-palette9);
	}
	.has-theme-palette-9-color, .has-theme-palette9-color {
		color: var(--global-palette9);
	}
}