/**
 * Custom vars
 */
:root{
    --global-gray-400: #CBD5E0;
    --global-gray-500: #A0AEC0;
	--global-xs-spacing: 1em;
    --global-sm-spacing: 1.5rem;
    --global-md-spacing: 2rem;
    --global-lg-spacing: 2.5em;
    --global-xl-spacing: 3.5em;
    --global-xxl-spacing: 5rem;
    --global-edge-spacing: 1.5rem;
    --global-boxed-spacing: 2rem;
    --global-font-size-small: clamp(0.8rem, 0.73rem + 0.217vw, 0.9rem);
    --global-font-size-medium: clamp(1.1rem, 0.995rem + 0.326vw, 1.25rem);
    --global-font-size-large: clamp(1.75rem, 1.576rem + 0.543vw, 2rem);
    --global-font-size-larger: clamp(2rem, 1.6rem + 1vw, 2.5rem);
    --global-font-size-xxlarge: clamp(2.25rem, 1.728rem + 1.63vw, 3rem);
}