/**
 * Custom vars
 */
 :root body[class*=" elementor-kit-"] {
    --e-global-color-kadence1: var(--global-palette1);
	--e-global-color-kadence2: var(--global-palette2);
	--e-global-color-kadence3: var(--global-palette3);
	--e-global-color-kadence4: var(--global-palette4);
	--e-global-color-kadence5: var(--global-palette5);
	--e-global-color-kadence6: var(--global-palette6);
	--e-global-color-kadence7: var(--global-palette7);
	--e-global-color-kadence8: var(--global-palette8);
	--e-global-color-kadence9: var(--global-palette9);
}