@import "_custom-properties.scss";
body.rtl {
    direction: rtl;
  	unicode-bidi: embed;
}

// Read More.
.rtl a.post-more-link .kadence-svg-iconset {
    margin-left: 0;
    margin-right: 0.5em;
    transform: rotate(180deg);
}
.rtl a.post-more-link .svg-baseline svg {
    top:auto;
    bottom: .125em;
}

// Lists.
.rtl .single-content ul, .rtl .single-content ol {
    padding-left: 0;
    padding-right: 2em;
}

// Post meta
.rtl {
	.entry-meta .posted-by .meta-label {
		margin-left: .2rem;
		margin-right: 0;
	}
	.entry-meta .posted-by .author-avatar {
		margin-right: 0;
		margin-left: 0.5rem;
	}

	.entry-meta>.posted-by:after {
		order: 3;
	}
	.entry-tags a.tag-link {
		margin-left: 0.5em;
		margin-right: 0;
	}
	.entry-tags a.tag-link:last-child {
		margin-left: 0;
	}
	.title-align-right .entry-meta {
		justify-content: flex-start;
	}
	.title-align-left .entry-meta {
		justify-content: flex-end;
	}
}

// Pagination
.rtl .pagination .page-numbers .kadence-svg-iconset {
    transform: rotate(180deg);
}

.rtl .pagination .page-numbers .kadence-svg-iconset.svg-baseline svg {
    top:auto;
    bottom: .125em;
}

// Comments
.rtl {
	.comment-form input:placeholder-shown+label, .comment-form textarea:placeholder-shown+label {
		transform: translate(-0.5em, 2.5rem) scale(1);
	}
	.comment-form input:not(:placeholder-shown)+label, .comment-form input:focus+label, .comment-form textarea:not(:placeholder-shown)+label, .comment-form textarea:focus+label {
		transform: translate(0, 0) scale(0.75);
	}
	.comment-form .comment-form-cookies-consent label:not(:placeholder-shown) {
		transform:none;
		font-size: 90%;
	}
	.comment-form .comment-form-cookies-consent label {
		padding-left: 0;
		padding-right: .6em;
	}

	.comment-meta {
		margin-left: 0;
		margin-right: 70px;
	}
	.comment .avatar {
		right: -70px;
		left: auto;
	}

	.children {
		margin-left: 0;
		margin-right: 1em;
	}
	@media screen and (min-width: $tablet-plus-query) {
		.children {
			margin-left: 0;
			margin-right: 2em;
		}
	}
}
@media screen and (min-width: 767px) {
	.rtl .reply {
		left: 0;
		right: auto;
	}
}

// Next Previous
.rtl {
	.comment-navigation .nav-previous a, .post-navigation .nav-previous a {
		padding-right: 0;
		padding-left: var(--global-xs-spacing);
	}
	.comment-navigation .nav-previous .kadence-svg-iconset, .post-navigation .nav-previous .kadence-svg-iconset {
		transform: rotate(180deg);
		svg{
			top:auto;
			bottom: .125em;
		}
	}
	.comment-navigation .nav-next a, .post-navigation .nav-next a {
		padding-left: 0;
		padding-right: var(--global-xs-spacing);
	}
	.comment-navigation .nav-next .kadence-svg-iconset, .post-navigation .nav-next .kadence-svg-iconset {
		transform: rotate(180deg);
		svg{
			top:auto;
			bottom: .125em;
		}
	}
	.comment-navigation .nav-previous:after, .post-navigation .nav-previous:after {
		right: auto;
		left: 0;
	}
	.comment-navigation .nav-next, .post-navigation .nav-next {
		text-align: left;
	}
}

// Woo Header.
.rtl {
	.header-cart-button {
		.header-cart-label {
			padding-left: 5px;
			padding-right: 0px;
		}
		.header-cart-label:empty {
			padding-left: 0px;
		}
	}
}

//woocommerce
.rtl.woocommerce {
	div.product form.cart .variations .label {
		padding-left: 1em;
		padding-right: 0;
		text-align: right;
	}
}
// fixes rtl mobile layout for single product pages
@media screen and (max-width: 719px) {
	.rtl.woocommerce.single-product div.product div.images,
	.rtl.woocommerce.single-product div.product div.summary,
	.rtl.woocommerce.single-product #content div.product div.images,
	.rtl.woocommerce.single-product #content div.product div.summary,
	.rtl.woocommerce-page.single-product div.product div.images,
	.rtl.woocommerce-page.single-product div.product div.summary,
	.rtl.woocommerce-page.single-product #content div.product div.images,
	.rtl.woocommerce-page.single-product #content div.product div.summary {
		float: none;
		width: 100%;
	}
}

//blocks
.rtl {
	.wc-block-grid .wc-block-grid__products:not(.thisisforspecificity), .wc-block-carousel {
		.wc-block-grid__product {
			text-align: right;

			.wc-block-grid__product-rating {
				float: left;
			}
		}
	}
}