/* Toolbar / Top Nav */
/**Currently there are no custom less variables for this stylesheet**/
#wpadminbar {
  background: #444;
  color: #fff;
  height: 50px;
  min-width: 0;
}
#wpadminbar #wp-toolbar {
  line-height: normal;
  margin: 0 auto;
  max-width: 1140px;
}
#wpadminbar #wp-toolbar > ul > li {
  position: relative;
}
#wpadminbar #wp-toolbar > ul > li > .ab-item {
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  line-height: 140%;
  margin-right: 0;
  padding: 14px 14px 16px;
  font-size: 14px;
  text-decoration: none;
}
#wpadminbar #wp-toolbar > ul > li > .ab-item:before {
  margin: 0;
  content: '';
}
#wpadminbar #wp-toolbar > ul > li > .ab-item .fa-caret-down {
  font-size: 12px;
  padding-left: 8px;
}
@media (max-width: 992px) {
  #wpadminbar #wp-toolbar > ul > li > .ab-item {
    font-size: 13px;
  }
}
#wpadminbar #wp-toolbar > ul > li > .fa {
  font-family: FontAwesome;
  font-size: 14px;
  width: 14px;
  margin: 0 auto;
}
#wpadminbar #wp-toolbar > ul > li .toolbar-item-count {
  background: #ff5959;
  color: #fff;
  border-radius: 8px;
  display: inline-block;
  font-size: 10px;
  font-weight: 400;
  height: 16px;
  line-height: 164%;
  text-align: center;
  vertical-align: middle;
  width: 16px;
  opacity: 1;
}
#wpadminbar #wp-toolbar > ul > li .toolbar-item-count.sub-count {
  position: absolute;
  right: 8px;
  top: 11px;
}
#wpadminbar #wp-toolbar > ul > li.hover > a,
#wpadminbar #wp-toolbar > ul > li:hover > a,
#wpadminbar #wp-toolbar > ul > li.hover > .ab-item,
#wpadminbar #wp-toolbar > ul > li:hover > .ab-item {
  background: #333;
  color: #63dfd2;
}
#wpadminbar #wp-toolbar .admin-bar-menu li {
  font-size: 14px;
}
#wpadminbar #wp-toolbar .admin-bar-menu li a {
  color: #333;
  padding: 6px 12px;
  text-decoration: none;
}
#wpadminbar #wp-toolbar .admin-bar-menu li a:hover {
  background: #63dfd2;
}
#wpadminbar #wp-toolbar .ab-sub-wrapper {
  background: #fff;
  border-radius: 0 0 4px 4px;
  margin-top: 4px;
  width: 600%;
}
#wpadminbar #wp-toolbar .ab-sub-wrapper .ab-submenu {
  padding: 0;
  background: #fff;
  border-radius: inherit;
}
#wpadminbar #wp-toolbar .ab-sub-wrapper .ab-submenu p {
  color: #333;
  margin-bottom: 8px;
  font-size: 12px;
}
#wpadminbar #wp-toolbar .ab-sub-wrapper .ab-submenu p:last-child {
  margin-bottom: 0;
}
#wpadminbar #wp-toolbar .ab-sub-wrapper .ab-submenu .submenu-title {
  background: #b8e2df;
  margin-bottom: 16px;
  color: #333;
}
#wpadminbar #wp-toolbar .ab-sub-wrapper .ab-submenu .submenu-title .ab-item {
  padding: 5px 10px;
  font-size: 14px;
}
#wpadminbar #wp-toolbar .ab-sub-wrapper .ab-submenu .menu-bottom-link {
  background: #b8e2df;
  padding: 9px 16px;
  text-align: right;
  border-radius: inherit;
}
#wpadminbar #wp-toolbar .ab-sub-wrapper .ab-submenu .menu-bottom-link a {
  color: #333;
}
#wpadminbar #wp-toolbar .ab-sub-wrapper .ab-submenu .menu-bottom-link a:hover,
#wpadminbar #wp-toolbar .ab-sub-wrapper .ab-submenu .menu-bottom-link a:focus {
  color: #49cabe;
  text-decoration: underline;
}
#wpadminbar #wp-toolbar .ab-sub-wrapper .ab-submenu .nav-content-item {
  padding-bottom: 16px;
  margin-top: 16px;
  border-bottom: 1px solid #e5e5e5;
}
#wpadminbar #wp-toolbar .ab-sub-wrapper .ab-submenu .nav-content-item .ab-item {
  width: 90%;
  margin: 0 auto;
}
#wpadminbar #wp-toolbar .ab-sub-wrapper .ab-submenu .nav-content-item .ab-item .actions .btn {
  float: left;
  font-size: 14px;
  margin-right: 2%;
  position: relative;
  width: auto;
}
#wpadminbar #wp-toolbar .ab-sub-wrapper .ab-submenu .nav-content-item .inline-links a {
  display: inline-block;
}
#wpadminbar #wp-toolbar .ab-sub-wrapper .ab-submenu .nav-content-item .inline-links a.activity-action {
  display: block;
  margin-top: 8px;
}
#wpadminbar #wp-toolbar #wp-admin-bar-my-hamburger .ab-item {
  padding: 9px 12%;
}
#wpadminbar #wp-toolbar #wp-admin-bar-my-hamburger .ab-item .navbar-toggle {
  margin: 0;
  float: none;
}
#wpadminbar #wp-toolbar #wp-admin-bar-my-hamburger .ab-item .navbar-toggle .icon-bar {
  background: #ccc;
}
#wpadminbar #wp-toolbar #wp-admin-bar-openlab > .ab-item {
  background: url('images/openlab_admin_bar_logo.png') #ffffff no-repeat 44% 58%;
  padding: 49px 0 0;
  width: 127px;
  overflow: hidden;
  height: 0;
}
#wpadminbar #wp-toolbar #wp-admin-bar-openlab .ab-sub-wrapper {
  width: 170px;
}
#wpadminbar #wp-toolbar #wp-admin-bar-my-openlab,
#wpadminbar #wp-toolbar #wp-admin-bar-site-name {
  border-left: 1px #000 solid;
  border-right: 1px #000 solid;
}
#wpadminbar #wp-toolbar #wp-admin-bar-my-openlab .ab-sub-wrapper,
#wpadminbar #wp-toolbar #wp-admin-bar-site-name .ab-sub-wrapper {
  width: 170%;
}
#wpadminbar #wp-toolbar #wp-admin-bar-my-account .ab-sub-wrapper {
  width: 150%;
}
#wpadminbar #wp-toolbar #wp-admin-bar-my-account .ab-sub-wrapper p {
  color: #333;
}
#wpadminbar #wp-toolbar #wp-admin-bar-my-account .ab-sub-wrapper p.actions {
  padding-top: 6px;
}
#wpadminbar #wp-toolbar #wp-admin-bar-top-logout {
  background: #000;
  border-left: 1px #666666 solid;
  border-right: 1px #666666 solid;
}
#wpadminbar #wp-toolbar #wp-admin-bar-bp-login {
  max-width: 70px;
}
#wpadminbar #wp-toolbar #wp-admin-bar-bp-login .ab-sub-wrapper {
  color: #333;
  width: 350%;
  left: -250%;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
#wpadminbar #wp-toolbar #wp-admin-bar-bp-login .ab-sub-wrapper #sidebar-login-form {
  padding: 3% 5%;
}
/**Bootstrap/custom stylesheet styles - these are here to help out admin, which currently does not load main theme stylesheet**/
body.adminbar-manual-bootstrap #wpadminbar .container-fluid,
body.adminbar-manual-bootstrap #openlab-footer .container-fluid {
  max-width: 1155px;
  margin: 0 auto;
  padding-left: 7.5px;
  padding-right: 7.5px;
}
body.adminbar-manual-bootstrap #wpadminbar #wp-admin-bar-menu-toggle .ab-item,
body.adminbar-manual-bootstrap #openlab-footer #wp-admin-bar-menu-toggle .ab-item {
  padding: 0 14px;
}
body.adminbar-manual-bootstrap #wpadminbar #wp-toolbar .ab-sub-wrapper,
body.adminbar-manual-bootstrap #openlab-footer #wp-toolbar .ab-sub-wrapper {
  margin-top: 0;
}
body.adminbar-manual-bootstrap #wpadminbar *,
body.adminbar-manual-bootstrap #openlab-footer * {
  box-sizing: border-box;
}
body.adminbar-manual-bootstrap #wpadminbar *:before,
body.adminbar-manual-bootstrap #openlab-footer *:before,
body.adminbar-manual-bootstrap #wpadminbar *:after,
body.adminbar-manual-bootstrap #openlab-footer *:after {
  box-sizing: border-box;
}
body.adminbar-manual-bootstrap #wpadminbar button,
body.adminbar-manual-bootstrap #openlab-footer button,
body.adminbar-manual-bootstrap #wpadminbar html input[type="button"],
body.adminbar-manual-bootstrap #openlab-footer html input[type="button"],
body.adminbar-manual-bootstrap #wpadminbar input[type="reset"],
body.adminbar-manual-bootstrap #openlab-footer input[type="reset"],
body.adminbar-manual-bootstrap #wpadminbar input[type="submit"],
body.adminbar-manual-bootstrap #openlab-footer input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
body.adminbar-manual-bootstrap #wpadminbar h2,
body.adminbar-manual-bootstrap #openlab-footer h2,
body.adminbar-manual-bootstrap #wpadminbar .h2,
body.adminbar-manual-bootstrap #openlab-footer .h2 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.1em;
  margin: 20px 0 15px;
}
body.adminbar-manual-bootstrap #wpadminbar h2,
body.adminbar-manual-bootstrap #openlab-footer h2,
body.adminbar-manual-bootstrap #wpadminbar .h2,
body.adminbar-manual-bootstrap #openlab-footer .h2 {
  font-size: 18px;
}
body.adminbar-manual-bootstrap #wpadminbar p,
body.adminbar-manual-bootstrap #openlab-footer p {
  line-height: normal;
  margin: 0;
}
body.adminbar-manual-bootstrap #wpadminbar a,
body.adminbar-manual-bootstrap #openlab-footer a {
  color: inherit;
  text-decoration: underline;
}
body.adminbar-manual-bootstrap #wpadminbar a.no-deco,
body.adminbar-manual-bootstrap #openlab-footer a.no-deco {
  text-decoration: none;
}
body.adminbar-manual-bootstrap #wpadminbar .fa,
body.adminbar-manual-bootstrap #openlab-footer .fa {
  font-size: 16px;
  margin: 0 4px;
}
body.adminbar-manual-bootstrap #wpadminbar .row,
body.adminbar-manual-bootstrap #openlab-footer .row {
  margin-left: -7.5px;
  margin-right: -7.5px;
}
body.adminbar-manual-bootstrap #wpadminbar .clearfix:before,
body.adminbar-manual-bootstrap #openlab-footer .clearfix:before,
body.adminbar-manual-bootstrap #wpadminbar .clearfix:after,
body.adminbar-manual-bootstrap #openlab-footer .clearfix:after,
body.adminbar-manual-bootstrap #wpadminbar .row:before,
body.adminbar-manual-bootstrap #openlab-footer .row:before,
body.adminbar-manual-bootstrap #wpadminbar .row:after,
body.adminbar-manual-bootstrap #openlab-footer .row:after,
body.adminbar-manual-bootstrap #wpadminbar .nav:before,
body.adminbar-manual-bootstrap #openlab-footer .nav:before,
body.adminbar-manual-bootstrap #wpadminbar .nav:after,
body.adminbar-manual-bootstrap #openlab-footer .nav:after,
body.adminbar-manual-bootstrap #wpadminbar .navbar:before,
body.adminbar-manual-bootstrap #openlab-footer .navbar:before,
body.adminbar-manual-bootstrap #wpadminbar .navbar:after,
body.adminbar-manual-bootstrap #openlab-footer .navbar:after,
body.adminbar-manual-bootstrap #wpadminbar .navbar-header:before,
body.adminbar-manual-bootstrap #openlab-footer .navbar-header:before,
body.adminbar-manual-bootstrap #wpadminbar .navbar-header:after,
body.adminbar-manual-bootstrap #openlab-footer .navbar-header:after,
body.adminbar-manual-bootstrap #wpadminbar .navbar-collapse:before,
body.adminbar-manual-bootstrap #openlab-footer .navbar-collapse:before,
body.adminbar-manual-bootstrap #wpadminbar .navbar-collapse:after,
body.adminbar-manual-bootstrap #openlab-footer .navbar-collapse:after {
  content: " ";
  display: table;
}
body.adminbar-manual-bootstrap #wpadminbar .clearfix:after,
body.adminbar-manual-bootstrap #openlab-footer .clearfix:after,
body.adminbar-manual-bootstrap #wpadminbar .container:after,
body.adminbar-manual-bootstrap #openlab-footer .container:after,
body.adminbar-manual-bootstrap #wpadminbar .container-fluid:after,
body.adminbar-manual-bootstrap #openlab-footer .container-fluid:after,
body.adminbar-manual-bootstrap #wpadminbar .row:after,
body.adminbar-manual-bootstrap #openlab-footer .row:after,
body.adminbar-manual-bootstrap #wpadminbar .nav:after,
body.adminbar-manual-bootstrap #openlab-footer .nav:after,
body.adminbar-manual-bootstrap #wpadminbar .navbar:after,
body.adminbar-manual-bootstrap #openlab-footer .navbar:after,
body.adminbar-manual-bootstrap #wpadminbar .navbar-header:after,
body.adminbar-manual-bootstrap #openlab-footer .navbar-header:after,
body.adminbar-manual-bootstrap #wpadminbar .navbar-collapse:after,
body.adminbar-manual-bootstrap #openlab-footer .navbar-collapse:after {
  clear: both;
}
body.adminbar-manual-bootstrap #wpadminbar .visible-xs,
body.adminbar-manual-bootstrap #openlab-footer .visible-xs,
body.adminbar-manual-bootstrap #wpadminbar .visible-sm,
body.adminbar-manual-bootstrap #openlab-footer .visible-sm,
body.adminbar-manual-bootstrap #wpadminbar .visible-md,
body.adminbar-manual-bootstrap #openlab-footer .visible-md,
body.adminbar-manual-bootstrap #wpadminbar .visible-lg,
body.adminbar-manual-bootstrap #openlab-footer .visible-lg {
  display: none !important;
}
body.adminbar-manual-bootstrap #wpadminbar .col-sm-4,
body.adminbar-manual-bootstrap #openlab-footer .col-sm-4,
body.adminbar-manual-bootstrap #wpadminbar .col-sm-6,
body.adminbar-manual-bootstrap #openlab-footer .col-sm-6,
body.adminbar-manual-bootstrap #wpadminbar .col-sm-8,
body.adminbar-manual-bootstrap #openlab-footer .col-sm-8,
body.adminbar-manual-bootstrap #wpadminbar .col-sm-16,
body.adminbar-manual-bootstrap #openlab-footer .col-sm-16,
body.adminbar-manual-bootstrap #wpadminbar .col-sm-14,
body.adminbar-manual-bootstrap #openlab-footer .col-sm-14,
body.adminbar-manual-bootstrap #wpadminbar .col-sm-18,
body.adminbar-manual-bootstrap #openlab-footer .col-sm-18 {
  float: left;
  min-height: 1px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  position: relative;
}
@media (max-width: 479px) {
  body.adminbar-manual-bootstrap #wpadminbar .col-sm-4,
  body.adminbar-manual-bootstrap #openlab-footer .col-sm-4,
  body.adminbar-manual-bootstrap #wpadminbar .col-sm-6,
  body.adminbar-manual-bootstrap #openlab-footer .col-sm-6,
  body.adminbar-manual-bootstrap #wpadminbar .col-sm-8,
  body.adminbar-manual-bootstrap #openlab-footer .col-sm-8,
  body.adminbar-manual-bootstrap #wpadminbar .col-sm-16,
  body.adminbar-manual-bootstrap #openlab-footer .col-sm-16,
  body.adminbar-manual-bootstrap #wpadminbar .col-sm-14,
  body.adminbar-manual-bootstrap #openlab-footer .col-sm-14,
  body.adminbar-manual-bootstrap #wpadminbar .col-sm-18,
  body.adminbar-manual-bootstrap #openlab-footer .col-sm-18 {
    width: 100%;
    float: none;
  }
}
body.adminbar-manual-bootstrap #wpadminbar .col-sm-4,
body.adminbar-manual-bootstrap #openlab-footer .col-sm-4 {
  width: 16.6667%;
}
body.adminbar-manual-bootstrap #wpadminbar .col-sm-6,
body.adminbar-manual-bootstrap #openlab-footer .col-sm-6 {
  width: 25%;
}
body.adminbar-manual-bootstrap #wpadminbar .col-sm-8,
body.adminbar-manual-bootstrap #openlab-footer .col-sm-8 {
  width: 33.3333%;
}
body.adminbar-manual-bootstrap #wpadminbar .col-sm-14,
body.adminbar-manual-bootstrap #openlab-footer .col-sm-14 {
  width: 58.3333%;
}
body.adminbar-manual-bootstrap #wpadminbar .col-sm-16,
body.adminbar-manual-bootstrap #openlab-footer .col-sm-16 {
  width: 66.6667%;
}
body.adminbar-manual-bootstrap #wpadminbar .col-sm-18,
body.adminbar-manual-bootstrap #openlab-footer .col-sm-18 {
  width: 75%;
}
body.adminbar-manual-bootstrap #wpadminbar .img-responsive,
body.adminbar-manual-bootstrap #openlab-footer .img-responsive {
  max-width: 100%;
  display: block;
  height: auto;
}
body.adminbar-manual-bootstrap #wpadminbar .bold,
body.adminbar-manual-bootstrap #openlab-footer .bold {
  font-weight: 700;
}
body.adminbar-manual-bootstrap #wpadminbar .semibold,
body.adminbar-manual-bootstrap #openlab-footer .semibold {
  font-weight: 600;
}
body.adminbar-manual-bootstrap #wpadminbar .regular,
body.adminbar-manual-bootstrap #openlab-footer .regular {
  font-weight: 400;
}
body.adminbar-manual-bootstrap #wpadminbar .btn,
body.adminbar-manual-bootstrap #openlab-footer .btn {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
body.adminbar-manual-bootstrap #wpadminbar a.link-btn,
body.adminbar-manual-bootstrap #openlab-footer a.link-btn {
  margin-top: 5px;
  text-align: left;
  text-decoration: none;
}
body.adminbar-manual-bootstrap #wpadminbar .btn-primary,
body.adminbar-manual-bootstrap #openlab-footer .btn-primary {
  background-color: #444444;
  border-color: #373737;
  color: #ffffff;
}
body.adminbar-manual-bootstrap #wpadminbar .btn-default,
body.adminbar-manual-bootstrap #openlab-footer .btn-default {
  background-color: #ffffff;
  border-color: #cccccc;
  color: #333333;
}
body.adminbar-manual-bootstrap #wpadminbar .btn-default:hover,
body.adminbar-manual-bootstrap #openlab-footer .btn-default:hover,
body.adminbar-manual-bootstrap #wpadminbar .btn-default:focus,
body.adminbar-manual-bootstrap #openlab-footer .btn-default:focus,
body.adminbar-manual-bootstrap #wpadminbar .btn-default:active,
body.adminbar-manual-bootstrap #openlab-footer .btn-default:active,
body.adminbar-manual-bootstrap #wpadminbar .btn-default.active,
body.adminbar-manual-bootstrap #openlab-footer .btn-default.active {
  background-color: #e6e6e6;
  border-color: #adadad;
  color: #63dfd2;
  text-decoration: none;
}
body.adminbar-manual-bootstrap #wpadminbar .btn-primary:hover,
body.adminbar-manual-bootstrap #openlab-footer .btn-primary:hover,
body.adminbar-manual-bootstrap #wpadminbar .btn-primary:focus,
body.adminbar-manual-bootstrap #openlab-footer .btn-primary:focus,
body.adminbar-manual-bootstrap #wpadminbar .btn-primary:active,
body.adminbar-manual-bootstrap #openlab-footer .btn-primary:active,
body.adminbar-manual-bootstrap #wpadminbar .btn-primary.active,
body.adminbar-manual-bootstrap #openlab-footer .btn-primary.active {
  background-color: #2b2b2b;
  border-color: #191919;
  color: #63dfd2;
}
body.adminbar-manual-bootstrap #wpadminbar .sr-only,
body.adminbar-manual-bootstrap #openlab-footer .sr-only {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
body.adminbar-manual-bootstrap #wpadminbar .navbar-toggle,
body.adminbar-manual-bootstrap #openlab-footer .navbar-toggle {
  position: relative;
  float: right;
  margin-right: 7px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
body.adminbar-manual-bootstrap #wpadminbar .navbar-toggle:focus,
body.adminbar-manual-bootstrap #openlab-footer .navbar-toggle:focus {
  outline: 0;
}
body.adminbar-manual-bootstrap #wpadminbar .navbar-toggle .icon-bar,
body.adminbar-manual-bootstrap #openlab-footer .navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
body.adminbar-manual-bootstrap #wpadminbar .navbar-toggle .icon-bar + .icon-bar,
body.adminbar-manual-bootstrap #openlab-footer .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
body.adminbar-manual-bootstrap #wpadminbar .collapse,
body.adminbar-manual-bootstrap #openlab-footer .collapse {
  display: none;
}
body.adminbar-manual-bootstrap #wpadminbar .collapse.in,
body.adminbar-manual-bootstrap #openlab-footer .collapse.in {
  display: block;
}
body.adminbar-manual-bootstrap #wpadminbar .navbar-collapse,
body.adminbar-manual-bootstrap #openlab-footer .navbar-collapse {
  overflow-x: visible;
  padding-right: 7px;
  padding-left: 7px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}
body.adminbar-manual-bootstrap #wpadminbar .navbar-collapse.in,
body.adminbar-manual-bootstrap #openlab-footer .navbar-collapse.in {
  overflow-y: auto;
}
body.adminbar-manual-bootstrap #wpadminbar #wp-admin-bar-my-hamburger,
body.adminbar-manual-bootstrap #openlab-footer #wp-admin-bar-my-hamburger {
  display: none !important;
}
@media (min-width: 768px) and (max-width: 991px) {
  body.adminbar-manual-bootstrap #wpadminbar .hidden-sm,
  body.adminbar-manual-bootstrap #openlab-footer .hidden-sm {
    display: none !important;
  }
  body.adminbar-manual-bootstrap #wpadminbar .visible-sm,
  body.adminbar-manual-bootstrap #openlab-footer .visible-sm {
    display: block !important;
  }
}
@media (max-width: 767px) {
  body.adminbar-manual-bootstrap #wpadminbar .hidden-xs,
  body.adminbar-manual-bootstrap #openlab-footer .hidden-xs {
    display: none !important;
  }
  body.adminbar-manual-bootstrap #wpadminbar .visible-xs,
  body.adminbar-manual-bootstrap #openlab-footer .visible-xs {
    display: block !important;
  }
}
/**footer - also a sitewide component**/
#openlab-footer {
  padding-top: 30px;
  background: #f0f0f0;
}
#openlab-footer p,
#openlab-footer a {
  font-size: 12px;
}
#openlab-footer .col-logos {
  display: inline-block;
}
#openlab-footer .col-logos p {
  color: #444;
}
#openlab-footer .col-logos a img {
  padding-top: 5px;
  margin-right: 15px;
}
#openlab-footer .col-links {
  color: #797979;
}
#openlab-footer .col-links h2 {
  color: #333;
}
#openlab-footer .col-links a {
  color: #797979;
  font-weight: inherit;
}
#openlab-footer .col-share a {
  display: inline-block;
  background: url('images/share_icons.png') no-repeat 0 0;
  padding-top: 22px;
  width: 22px;
  height: 0;
  overflow: hidden;
  margin-right: 6px;
}
#openlab-footer .col-share a.rss-link {
  background-position: -32px 0;
}
#openlab-footer .row-copyright {
  margin-top: 42px;
}
#openlab-footer .row-copyright p {
  color: #797979;
}
#openlab-footer .row-copyright p a {
  color: inherit;
}
