
/* Toolbar / Top Nav */

#wpadminbar * {
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	position: static;
	text-transform: none;
	letter-spacing: normal;
	font-weight: normal;
	line-height: 1;
	font-size: 11px;
	font-family: 'Arvo',Arial,serif;
	color: #717171;
	text-shadow: none;
}

#wpadminbar {
	background: #f0f0f0;
	height: 40px;
	border-bottom: 1px solid #E1E1E1;

}

#wpadminbar .ab-top-secondary {
	background: #f0f0f0;
}

#wpadminbar .login-click {
	background:none;
}

#wpadminbar .quicklinks {
	margin: 0 10px;
}

#wpadminbar .quicklinks > ul > li {
	list-style: none;
	text-align: center;
	cursor: pointer;
	font-size: 11px;
	font-family: 'Arvo',arial,serif;
	margin-top: 12.5px;
	border-right: 2px solid #CFCFCF;
	height:16px;
	/*border-left: 2px solid #CFCFCF;*/
}

#wpadminbar .quicklinks .menupop ul li .ab-item, #wpadminbar .quicklinks .menupop ul li a strong, #wpadminbar .quicklinks .menupop.hover ul li .ab-item, #wpadminbar.nojs .quicklinks .menupop:hover ul li .ab-item, #wpadminbar .shortlink-input {
	line-height: 26px;
	height: 26px;
	text-shadow: none;
	white-space: normal;
	min-width: 50px;
}

#wpadminbar .quicklinks #wp-admin-bar-openlab, #wpadminbar .quicklinks #wp-admin-bar-my-openlab,  #wpadminbar .quicklinks #wp-admin-bar-my-account, #wpadminbar .quicklinks #wp-admin-bar-top-logout, #wpadminbar #wp-admin-bar-site-name {
	/* min-width: 110px; */
	padding: 0 10px;
}

#wpadminbar .quicklinks #wp-admin-bar-openlab {
	padding-right: 0;
	margin-right: 0;
	width: 109px;
}

#wpadminbar .quicklinks #wp-admin-bar-openlab > a {
	padding-right: 0;
	margin-right: 0;
}

/*#wpadminbar .quicklinks #wp-admin-bar-openlab > a {
	background:url(images/cuny-sw-logo.png) no-repeat;
	text-indent: -9999px;
	
	height: 29px;
	margin: -10px 0 0 0;
	padding: 0;
	
}*/

#wpadminbar .quicklinks #wp-admin-bar-my-openlab { 
	border-right: none;
	padding-left: 0;
	width:109px;
}

#wpadminbar .quicklinks > ul > li > a, #wpadminbar .quicklinks > ul > li > .ab-empty-item {
	border-right: none;
}

#wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item, #wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
	background: none;
	text-shadow: none;
}

#wpadminbar .hover .ab-label,#wpadminbar.nojq .ab-item:focus .ab-label{color:#fff;}

#wpadminbar .quicklinks .ab-top-secondary > li {
	float: left; /* Annoying that WP floats right */
	border-left: 2px solid #CFCFCF;
}

#wpadminbar .quicklinks .ab-top-secondary > li > a, #wpadminbar .quicklinks .ab-top-secondary > li > .ab-empty-item {
	border-left: 0;
	border-right: 0;
}

#wpadminbar .quicklinks a, #wpadminbar .quicklinks .ab-empty-item, #wpadminbar .shortlink-input {
	height: 16px;
	display: block;
	padding: 0 12px 0 0;
	margin: 0;	
}

#wpadminbar .ab-item {
	clear:both;
}


#wpadminbar .item-avatar, #wp-admin-bar-user-info img {
	float:left;
	margin: 0 5px 5px 0;
	
}

#wpadminbar .item-avatar img {
	width: 50px;
	height: 50px;
}

#wp-admin-bar-user-info .avatar {
	width: 50px;
	height: 50px;
	position: relative;
	float:left;
	left: 0;
	top: 0;
	margin: 0 5px 5px 0;
}

#wpadminbar a.button {
	
}

#wpadminbar a.button:hover, #wpadminbar a.button:focus, #wpadminbar .quicklinks a:hover, #wpadminbar .quicklinks .ab-top-secondary > li > a:hover, #wpadminbar .quicklinks .ab-top-menu > li > a:hover {
	background: none;

}

#wpadminbar .menupop li:hover,#wpadminbar .menupop li.hover,#wpadminbar .quicklinks .menupop .ab-item:focus,#wpadminbar .quicklinks .ab-top-menu .menupop .ab-item:focus{
	background:none;
	color: #717171;
}

#wpadminbar .quicklinks .menupop .ab-sub-secondary>li:hover,#wpadminbar .quicklinks .menupop .ab-sub-secondary>li.hover,#wpadminbar .quicklinks .menupop .ab-sub-secondary>li .ab-item:focus{
	background:none;
	color: #717171;
}

#wpadminbar .ab-top-menu>li:hover>.ab-item,#wpadminbar .ab-top-menu>li.hover>.ab-item,#wpadminbar .ab-top-menu>li>.ab-item:focus,#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus{
	background:none;
	color: #717171;
}


#wpadminbar .quicklinks .item-avatar a {
	padding: 0;
	display: inline;
	height: auto;
}

#wp-admin-bar-messages-default > li.nav-message {
	overflow: visible;
	/*min-height: 200px;  Temp */
}

#wpadminbar .quicklinks #wp-admin-bar-openlab > a, #wpadminbar .quicklinks #wp-admin-bar-openlab > a > span {
	text-transform: uppercase;
	color: #C84C35;
}

#wpadminbar .quicklinks #wp-admin-bar-openlab > a > span {
	font-weight: bold;
}

#wpadminbar #wp-admin-bar-site-name {
	min-width: 10px;
	border-left: 2px solid #CFCFCF;
	border-right: none;
}

#wpadminbar #wp-admin-bar-site-name > a {
	padding: 0 15px;
}


/* notification icons */

#wpadminbar .quicklinks .toolbar-item-name,  #wpadminbar #wp-admin-bar-new-content > a {
	text-indent: -9999px;
	overflow: hidden;
	display: block;
	width: 20px;
}

#wpadminbar #wp-admin-bar-invites, #wpadminbar #wp-admin-bar-messages, #wpadminbar #wp-admin-bar-activity, #wpadminbar #wp-admin-bar-comments, #wpadminbar #wp-admin-bar-new-content  {
	border:none;
	background: url('images/admin-bar-sprites.png') no-repeat;
	opacity: .75;
	filter:alpha(opacity=75);
	width: 25px;
	margin: 12.5px 5px;
	height: 22px;
	padding-right: 4px;
	position: relative;
	top: -5px;
}

#wpadminbar #wp-admin-bar-invites:hover, #wpadminbar #wp-admin-bar-messages:hover, #wpadminbar #wp-admin-bar-activity:hover, #wpadminbar #wp-admin-bar-comments:hover, #wpadminbar #wp-admin-bar-new-content:hover {
	opacity: 1;
	filter:alpha(opacity=1);		
}

#wpadminbar #wp-admin-bar-messages {
	background-position: -28px 0;
}

#wpadminbar #wp-admin-bar-activity {
	background-position: -55px 0;
	padding-right: 10px;
	/*border-right: 2px solid #CFCFCF;
	width: 35px;*/
}

#wpadminbar #wp-admin-bar-comments {
	background-position: -106px 0;
	width: 20px;
	margin-left:20px;
}

#wpadminbar #wp-admin-bar-new-content {
	background-position: -138px 0;
}

#wpadminbar #wp-admin-bar-comments  > .ab-item .ab-icon, #wpadminbar #wp-admin-bar-new-content > .ab-item .ab-icon {
	background: none;
}

#wpadminbar #wp-admin-bar-my-account {
	
}

#wpadminbar #wp-admin-bar-my-account, #wpadminbar #wp-admin-bar-bp-register {
	border-left: none;
}

#wpadminbar #wp-admin-bar-my-account > a {
	color: #C84C35;
	text-align: right;
	padding:0;
}

#wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions > li {
margin: 0;
}

/* notification counts */


#wpadminbar .quicklinks .toolbar-item-count, #wpadminbar #wp-admin-bar-comments .pending-count {
	color: #FFF;
	background-color: #0fceba;
	border-radius: 12px;
	font-size: 10px;
	font-weight: bold;
	min-width: 11px;
	height: 11px;
	display:inline-block;
	padding: 1px;
	text-align: center;
	margin-left: 3px;
}

#wpadminbar .quicklinks #wp-admin-bar-invites .toolbar-item-count, #wpadminbar .quicklinks #wp-admin-bar-messages .toolbar-item-count, #wpadminbar .quicklinks #wp-admin-bar-activity .toolbar-item-count, #wpadminbar #wp-admin-bar-comments .pending-count {
	position:absolute;
	top: -5px;
	right: 0px;
	color: #FFF;
	display:block;
	border: 1px solid #f0f0f0;
	margin-left: 0px;
}

#wpadminbar .quicklinks  #wp-admin-bar-invites .toolbar-item-count.count-0, #wpadminbar #wp-admin-bar-comments .pending-count.count-0 {
	display:none;
}

/* Dropdown menus */

#wpadminbar .menupop .ab-sub-wrapper, #wpadminbar #sidebar-login-form {
	display: none;
	position: absolute;
	background: url('images/admin-bar-arrow.png') no-repeat center top #838383;
	margin-top: 2px;
	opacity: 0.95;
	padding: 10px 0 10px 10px;
	/*width: 100px;*/
	text-transform: none;
	moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border:none;
	overflow: visible;
}

#wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
	min-width: 0;
}


#wpadminbar .menupop #wp-admin-bar-openlab-default {
	width: 100px;
}

#wpadminbar .menupop #wp-admin-bar-my-openlab-default {
	width: 110px;
}

#wpadminbar .menupop #wp-admin-bar-site-name-default {
	width: 100px;
}

#wpadminbar #wp-admin-bar-invites .ab-sub-wrapper, #wpadminbar #wp-admin-bar-messages .ab-sub-wrapper,#wpadminbar #wp-admin-bar-activity .ab-sub-wrapper, #wpadminbar #wp-admin-bar-my-account .ab-sub-wrapper {
	left: -105px;
	padding:12px 1px 0 1px;
}

#wpadminbar #wp-admin-bar-my-account .ab-sub-wrapper {
	width: 225px;
	left: -122px;
	background-position: 75% top;
}

#wpadminbar #wp-admin-bar-new-content .ab-sub-wrapper {
	width: 100px;
	left: -45px;
}

#wpadminbar #wp-admin-bar-invites .ab-sub-wrapper, #wpadminbar #wp-admin-bar-messages .ab-sub-wrapper,#wpadminbar #wp-admin-bar-activity .ab-sub-wrapper, #wpadminbar #wp-admin-bar-comments .ab-sub-wrapper, #wpadminbar #wp-admin-bar-new-content .ab-sub-wrapper {
	margin-top: 8px;
}

#wpadminbar .menupop #wp-admin-bar-invites-default, #wpadminbar .menupop #wp-admin-bar-messages-default, #wpadminbar .menupop #wp-admin-bar-activity-default {
	width: 100%;
	
}

#wpadminbar .menupop #wp-admin-bar-invites-default {
	padding: 0;
}

#wpadminbar #wp-admin-bar-friend-requests-title .ab-item, #wpadminbar #wp-admin-bar-invitations-title .ab-item, #wpadminbar #wp-admin-bar-friend-requests-title .ab-item:hover, #wpadminbar #wp-admin-bar-invitations-title .ab-item:hover, #wpadminbar #wp-admin-bar-friend-requests-title .ab-item:focus, #wpadminbar #wp-admin-bar-invitations-title .ab-item:focus {
	color: #FFF;
	text-decoration: none;
	line-height: 26px;
	height: auto;
	padding: 0 0 0 5px;
}

#wpadminbar #wp-admin-bar-friend-requests-none .ab-item, #wpadminbar #wp-admin-bar-group-invites-none .ab-item, #wpadminbar #wp-admin-bar-messages-none .ab-item, #wpadminbar #wp-admin-bar-messages-default .nav-message, #wpadminbar #wp-admin-bar-activity-default .nav-activity, #wpadminbar #wp-admin-bar-user-actions {
	float:left;
	clear:both;
	background: #f0f0f0;
	margin-bottom: 1px;
	padding: 5px;
	width:218px;
}

#wpadminbar #wp-admin-bar-user-actions {
 	width: 215px;
}



#wpadminbar #wp-admin-bar-friend-requests-none *, #wpadminbar #wp-admin-bar-group-invites-none *, #wpadminbar #wp-admin-bar-messages-none .ab-item *, #wpadminbar #wp-admin-bar-messages-default .nav-message *, #wpadminbar #wp-admin-bar-activity-default .nav-activity *, #wp-admin-bar-user-actions * {
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
}

#wpadminbar #wp-admin-bar-messages-default .nav-message:hover, #wpadminbar #wp-admin-bar-activity-default .nav-activity:hover {
	text-decoration: none;

}

#wpadminbar .nav-message .item-title a {
	font-weight: bold;
}

#wpadminbar  #wp-admin-bar-messages-default .nav-message a,  #wpadminbar #wp-admin-bar-activity-default .nav-activity a, #wpadminbar #wp-admin-bar-user-actions a {
	color: #6d6d6d;
}

#wpadminbar #wp-admin-bar-edit-profile {
	border-right: 1px solid;
	
}

#wpadminbar #wp-admin-bar-logout {
	padding-left: 10px;
}

#wpadminbar #wp-admin-bar-user-actions a {
	line-height: 15px;
	display: inline;
	text-decoration: underline;
}

#wpadminbar #wp-admin-bar-user-actions #wp-admin-bar-user-info a {
	text-decoration: none;

}

#wpadminbar #wp-admin-bar-user-actions #wp-admin-bar-user-info .display-name {
	font-weight: bold;
}

#wpadminbar  #wp-admin-bar-messages-default .message-excerpt {
	float:left;
	padding: 0 0 5px 0;
}

#wpadminbar  #wp-admin-bar-messages-default .message-excerpt > a, #wpadminbar #wp-admin-bar-activity-default .nav-activity a {
	display: inline;
	padding: 0;
	text-decoration: underline;
	white-space: normal;
}

#wpadminbar #wp-admin-bar-activity-default .nav-activity p, #wpadminbar  #wp-admin-bar-messages-default .item {
	line-height: 15px;
	padding: 0 0 5px 0;
}


#wpadminbar  #wp-admin-bar-messages-default #wp-admin-bar-messages-more, #wpadminbar #wp-admin-bar-activity-default #wp-admin-bar-activity-more {
	text-align: right;
	width:223px;
}

#wpadminbar #wp-admin-bar-activity-default .nav-activity .ab-item {
	white-space: normal;
	float: left;
	height: auto;
}


#wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop ul li a strong, #wpadminbar .quicklinks .menupop.hover ul li a, #wpadminbar.nojs .quicklinks .menupop:hover ul li a{
	color: #FFF;
}



#wpadminbar .menupop li:hover, #wpadminbar .menupop li.hover, #wpadminbar .quicklinks .menupop .ab-item:focus, #wpadminbar .quicklinks .ab-top-menu .menupop .ab-item:focus {
	background: none;
	text-decoration: underline;
}

#wpadminbar .ab-top-menu>li:hover>.ab-item,#wpadminbar .ab-top-menu>li.hover>.ab-item,#wpadminbar .ab-top-menu>li>.ab-item:focus,#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus {
	color: #717171;
	/*text-decoration: underline;*/
}

#wpadminbar #wp-admin-bar-user-actions #wp-admin-bar-edit-profile, #wpadminbar #wp-admin-bar-user-actions #wp-admin-bar-logout {
	float:left;
}


/* login form
----------------------------------------------------------------------------------------*/

li.wp-admin-bar-bp-login {position:relative;}

#wpadminbar ul li#wp-admin-bar-bp-login {
	width: 70px;
}

#wpadminbar ul li#wp-admin-bar-bp-login form * {
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	line-height: 15px;
}



#wpadminbar ul li#wp-admin-bar-bp-login form {
	width: 200px;
	padding: 10px;
	background-position: 87% top;
}

#wpadminbar ul li#wp-admin-bar-bp-login form a {
	color:#FFF;
	text-decoration: underline;
}

#wpadminbar form#sidebar-login-form textarea, #wpadminbar form#sidebar-login-form input[type="text"],
#wpadminbar form#sidebar-login-form select, #wpadminbar form#sidebar-login-form input[type="password"],
#wpadminbar form#sidebar-login-form input[type="submit"] { 
	color: #444;
	text-shadow: none; line-height: 11px;
}

#sidebar-login-form input[type="text"], #sidebar-login-form input[type="password"] {padding:4px; width:190px}

form#sidebar-login-form input[type="submit"] {padding:3px 10px; text-decoration:none; vertical-align:bottom; border:1px solid #ddd; cursor:pointer; text-shadow: none;}

input#sidebar-rememberme {margin-left:0;}

form#sidebar-login-form p.forgetmenot {float:none;}

form#sidebar-login-form a.lost-pw {padding-right:2px !important; float:right; font-size:.9em !important; background:none !important;}
	#wp-admin-bar li a.lost-pw:hover {text-decoration:underline !important; background:none !important;}

form#sidebar-login-form #sidebar-wp-submit {
	background:#fff; 
	text-transform: uppercase;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-image: -o-linear-gradient(bottom, rgb(207,207,207) 16%, rgb(240,240,240) 65%, rgb(207,207,207) 91%);
	background-image: -moz-linear-gradient(bottom, rgb(207,207,207) 16%, rgb(240,240,240) 65%, rgb(207,207,207) 91%);
	background-image: -webkit-linear-gradient(bottom, rgb(207,207,207) 16%, rgb(240,240,240) 65%, rgb(207,207,207) 91%);
	background-image: -ms-linear-gradient(bottom, rgb(207,207,207) 16%, rgb(240,240,240) 65%, rgb(207,207,207) 91%);
	background-image: linear-gradient(bottom, rgb(207,207,207) 16%, rgb(240,240,240) 65%, rgb(207,207,207) 91%);
}

form#sidebar-login-form {
	position:absolute; background:url(<?php echo get_stylesheet_directory_uri() . '/images/bg_trans.png' ?>) repeat 0 0 !important; width:200px; padding:10px; display:none; margin-left: -155px; text-align: left;}
	li.bp-login:hover form {display:block; cursor:default;}

form#sidebar-login-form label, form#sidebar-login-form span.label {display:block; color:#fff; margin:5px 0;}

/* dashboard override */

body.wp-admin #wpbody {
position: relative;
margin-top: 13px;
}
