/* Toolbar / Top Nav */
/**Currently there are no custom less variables for this stylesheet**/
#wpadminbar{
    background: #444;
    color: #fff;
    height: 50px;
    min-width: 0;
    #wp-toolbar{
        line-height: normal;
        margin: 0 auto;
        max-width: 1140px;
        > ul{
            > li{
                position: relative;
                > .ab-item{
                    color: #ffffff;
                    cursor: pointer;
                    text-align: center;
                    line-height: 140%;
                    margin-right: 0;
                    padding: 14px 14px 17px;
                    font-size: 14px;
                    text-decoration: none;
                    &:before{
                        margin: 0;
                        content: '';
                    }
                    .fa-caret-down{
                        font-size: 12px;
                        padding-left: 8px;
                    }
                    @media(max-width: 992px){
                        font-size: 13px;
                    }
                }
                > .fa{
                    font-family: FontAwesome;
                    font-size: 14px;
                    width: 14px;
                    margin: 0 auto;
                }
                .toolbar-item-count{
                    background: #ff5959;
                    color: #fff;
                    border-radius: 8px;
                    display: inline-block;
                    font-size: 10px;
                    font-weight: 400;
                    height: 16px;
                    line-height: 164%;
                    text-align: center;
                    vertical-align: middle;
                    width: 16px;
                    opacity: 1;
                    &.sub-count{
                        position: absolute;
                        right: 8px;
                        top: 11px;
                    }
                }
                &.hover,
                &:hover{
                    > a,
                    > .ab-item{
                        background: #333;
                        color: #63dfd2;
                    }
                }
            }
        }
        .admin-bar-menu{
            li{
                font-size: 14px;
                a{
                    color: #333;
                    padding: 6px 12px;
                    text-decoration: none;
                    &:hover{
                        background: #63dfd2;
                    }
                }
            }
        }
        .ab-sub-wrapper{
            background: #fff;
            border-radius: 0 0 4px 4px;
            margin-top: 3px;
            width: 600%;
            .ab-submenu{
                padding: 0;
                background: #fff;
                border-radius: inherit;
                p{
                    color: #333;
                    margin-bottom: 8px;
                    font-size: 12px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                .submenu-title{
                    background: #b8e2df;
                    margin-bottom: 16px;
                    color: #333;
                    .ab-item{
                        padding: 5px 10px;
                        font-size: 14px;
                    }
                }
                .menu-bottom-link{
                    background: #b8e2df;
                    padding: 9px 16px;
                    text-align: right;
                    border-radius: inherit;
                }
                .nav-content-item{
                    padding-bottom: 16px;
                    margin-top: 16px;
                    border-bottom: 1px solid #e5e5e5;
                    .ab-item{
                        width: 90%;
                        margin: 0 auto;
                        .actions{
                            .btn{
                                float: left;
                                font-size: 14px;
                                margin-right: 2%;
                                position: relative;
                                width: auto;
                            }
                        }
                    }
                    .inline-links{
                        a{
                            display: inline-block;
                            &.activity-action{
                                display: block;
                                margin-top: 8px;
                            }
                        }
                    }
                }
            }
        }
        #wp-admin-bar-my-hamburger{
            .ab-item{
                padding: 9px 12%;
                .navbar-toggle{
                    margin: 0;
                    float: none;
                    .icon-bar{
                        background: #ccc;
                    }
                }
            }
        }
        #wp-admin-bar-openlab{
            > .ab-item{
                background: url('images/openlab_admin_bar_logo.png') #fff no-repeat 44% 58%;
                padding: 49px 0 0;
                width: 127px;
                overflow: hidden;
                height: 0;
            }
            .ab-sub-wrapper{
                width: 170px;
            }
        }
        #wp-admin-bar-my-openlab,
        #wp-admin-bar-site-name
        {
            border-left: 1px #000 solid;
            border-right: 1px #000 solid;
            .ab-sub-wrapper{
                width: 170%;
            }
        }
        #wp-admin-bar-my-account{
            .ab-sub-wrapper{
                width: 150%;
                p{
                    color: #333;
                    &.actions{
                        padding-top: 6px;
                    }
                }
            }
        }
        #wp-admin-bar-top-logout{
            background: #000;
            border-left: 1px #666666 solid;
            border-right: 1px #666666 solid;
        }
        #wp-admin-bar-bp-login{
            max-width: 70px;
            .ab-sub-wrapper{
                color: #333;
                width: 350%;
                left: -250%;
                -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.2);
                box-shadow: 0 3px 5px rgba(0,0,0,0.2);
                #sidebar-login-form{
                    padding: 3% 5%;
                }
            }
        }
    }
}

/**Bootstrap/custom stylesheet styles - these are here to help out admin, which currently does not load main theme stylesheet**/
body.wp-admin{
    #wpadminbar{
        #wp-admin-bar-menu-toggle{
            .ab-item{
                padding: 0 14px;
            }
        }
        #wp-toolbar{
            .ab-sub-wrapper{
                margin-top: 0;
            }
        }
        * {
            box-sizing: border-box;
        }
        *:before, *:after {
            box-sizing: border-box;
        }
        button,
        html input[type="button"],
        input[type="reset"],
        input[type="submit"] {
            -webkit-appearance: button;
            cursor: pointer;
        }
        p{
            line-height: normal;
            margin: 0;
        }
        a {
            color: #333333;
            text-decoration: underline;
        }
        .fa {
            font-size: 16px;
            margin: 0 4px;
        }
        .row {
            margin-left: -7.5px;
            margin-right: -7.5px;
        }
        .clearfix:before, .clearfix:after, .row:before, .row:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after {
            content: " ";
            display: table;
        }
        .clearfix:after, .container:after, .container-fluid:after, .row:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after {
            clear: both;
        }
        .visible-xs, .visible-sm, .visible-md, .visible-lg {
            display: none !important;
        }
        .col-sm-6, .col-sm-8, .col-sm-16, .col-sm-18 {
            float: left;
            min-height: 1px;
            padding-left: 7.5px;
            padding-right: 7.5px;
            position: relative;
        }
        .col-sm-6 {
            width: 25%;
        }
        .col-sm-8 {
            width: 33.3333%;
        }
        .col-sm-16 {
            width: 66.6667%;
        }
        .col-sm-18 {
            width: 75%;
        }
        .img-responsive{
            max-width: 100%;
            display: block;
            height: auto;
        }
        .bold {
            font-weight: 600;
        }
        .regular {
            font-weight: 400;
        }
        .btn {
            -moz-user-select: none;
            background-image: none;
            border: 1px solid rgba(0, 0, 0, 0);
            border-radius: 4px;
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.42857;
            margin-bottom: 0;
            padding: 6px 12px;
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
        }
        a.link-btn{
            margin-top: 5px;
            text-align: left;
            text-decoration: none;
        }
        .btn-primary{
            background-color: #444444;
            border-color: #373737;
            color: #ffffff;
        }
        .btn-default {
            background-color: #ffffff;
            border-color: #cccccc;
            color: #333333;
        }
        .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active{
            background-color: #e6e6e6;
            border-color: #adadad;
            color: #63dfd2;
            text-decoration: none;
        }
        .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
            background-color: #2b2b2b;
            border-color: #191919;
            color: #63dfd2;
        }
        .sr-only {
            border: 0 none;
            clip: rect(0px, 0px, 0px, 0px);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
        .navbar-toggle {
            position: relative;
            float: right;
            margin-right: 7px;
            padding: 9px 10px;
            margin-top: 8px;
            margin-bottom: 8px;
            background-color: transparent;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }
        .navbar-toggle:focus {
            outline: 0;
        }
        .navbar-toggle .icon-bar {
            display: block;
            width: 22px;
            height: 2px;
            border-radius: 1px;
        }
        .navbar-toggle .icon-bar + .icon-bar {
            margin-top: 4px;
        }
        .collapse {
            display: none;
        }
        .collapse.in {
            display: block;
        }
        .navbar-collapse {
            overflow-x: visible;
            padding-right: 7px;
            padding-left: 7px;
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
            -webkit-overflow-scrolling: touch;
        }
        .navbar-collapse.in {
            overflow-y: auto;
        }
        #wp-admin-bar-my-hamburger{
            display: none !important;
        }
        @media (min-width: 768px) and (max-width: 991px) {
            .hidden-sm {
                display: none !important;
            }
            .visible-sm {
                display: block !important;
            }
        }
        @media (max-width: 767px) {
            .hidden-xs {
                display: none !important;
            }
            .visible-xs {
                display: block !important;
            }
        }
    }
}