.alt-tag-warning {
	float: left;
	font-size: 12pt;
	padding: 20px 10px 0 0;
}

/* Classic */
label.setting.has-error input {
	box-shadow:
		0 0 0 1px #f00,
		0 0 2px 1px rgba(190,0,0,.8);
	outline: none;
	color: #124964;
}

/* Block */
span.setting.has-error input {

}
