
/* Toolbar / Top Nav */

#wpadminbar * {
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	position: static;
	text-transform: none;
	letter-spacing: normal;
	font-weight: normal;
	line-height: 1;
	font-size: 11px;
	font-family: 'Arvo',Arial,serif;
	color: #717171;
	text-shadow: none;
}

#wpadminbar {
	background: #f0f0f0;
	height: 40px;

}

#wpadminbar .ab-top-secondary {
	background: #f0f0f0;
}

#wpadminbar .login-click {
	background:none;
}

#wpadminbar .quicklinks > ul > li {
	list-style: none;
	text-align: center;
	cursor: pointer;
	font-size: 11px;
	font-family: 'Arvo',arial,serif;
	margin-top: 12.5px;
	border-right: 2px solid #CFCFCF;
	height:15px;
	/*border-left: 2px solid #CFCFCF;*/
}

#wpadminbar .quicklinks #wp-admin-bar-openlab, #wpadminbar .quicklinks #wp-admin-bar-my-openlab {
	width: 110px;
}

#wpadminbar .quicklinks > ul > li > a, #wpadminbar .quicklinks > ul > li > .ab-empty-item {
	border-right: none;
}

#wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item, #wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
	background: none;
	text-shadow: none;
}

#wpadminbar .quicklinks .ab-top-secondary > li {
	float: left; /* Annoying that WP floats right */
	border-left: 2px solid #CFCFCF;
}

#wpadminbar .quicklinks .ab-top-secondary > li > a, #wpadminbar .quicklinks .ab-top-secondary > li > .ab-empty-item {
	border-left: 0;
	border-right: 0;
}

#wpadminbar .quicklinks a, #wpadminbar .quicklinks .ab-empty-item, #wpadminbar .shortlink-input {
	height: 15px;
	display: block;
	padding: 0 12px;
	margin: 0;	
}

#wpadminbar .item-avatar {
	float: left;
	width: 50px;
}

#wpadminbar .item-avatar img {
	width: 50px;
}

#wpadminbar a.button {
	
}

#wpadminbar a.button:hover,
#wpadminbar a.button:focus, #wpadminbar .quicklinks a:hover, #wpadminbar .quicklinks .ab-top-secondary > li > a:hover, #wpadminbar .quicklinks .ab-top-menu > li > a:hover {
	background: none;

}

#wpadminbar .menupop li:hover,#wpadminbar .menupop li.hover,#wpadminbar .quicklinks .menupop .ab-item:focus,#wpadminbar .quicklinks .ab-top-menu .menupop .ab-item:focus{
	background:none;
	color: #717171;
}

#wpadminbar .quicklinks .menupop .ab-sub-secondary>li:hover,#wpadminbar .quicklinks .menupop .ab-sub-secondary>li.hover,#wpadminbar .quicklinks .menupop .ab-sub-secondary>li .ab-item:focus{
	background:none;
	color: #717171;
}

#wpadminbar .ab-top-menu>li:hover>.ab-item,#wpadminbar .ab-top-menu>li.hover>.ab-item,#wpadminbar .ab-top-menu>li>.ab-item:focus,#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus{
	background:none;
	color: #717171;
}


#wpadminbar .quicklinks .item-avatar a {
	padding: 0;
	display: inline;
	height: auto;
}

#wp-admin-bar-messages-default > li.nav-message {
	overflow: visible;
	min-height: 200px; /* Temp */
}

#wpadminbar .quicklinks #wp-admin-bar-openlab > a, #wpadminbar .quicklinks #wp-admin-bar-openlab > a > span {
	text-transform: uppercase;
	color: #C84C35;
}

#wpadminbar .quicklinks #wp-admin-bar-openlab > a > span {
	font-weight: bold;
}

#wpadminbar .quicklinks .toolbar-item-name {
	text-indent: -9999px;
	overflow: hidden;
	display: block;
	width: 20px;
}

/* notifications counts */

#wpadminbar .quicklinks .toolbar-item-count {
	position:absolute;
	top: -9px;
	right: 5px;
	color: #FFF;
	background-color: #0fceba;
	border-radius: 9px;
	font-size: 9px;
	font-weight: bold;
	width: 9px;
	height: 9px;
	display:block;
	padding: 2px;
	text-align: center;
}

/* Dropdown menus */

#wpadminbar .menupop .ab-sub-wrapper {
	display: none;
	position: absolute;
	background: url('images/admin-bar-arrow.png') no-repeat #838383;
	background-position: left top;
	opacity: 0.90;
	padding: 10px 0 10px 10px;
	/*width: 100px;*/
	text-transform: none;
	moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border:none;
}



#wpadminbar .menupop #wp-admin-bar-openlab-default {
	width: 100px;
}

#wpadminbar .menupop #wp-admin-bar-my-openlab-default {
	width: 125px;
}

#wpadminbar .menupop #wp-admin-bar-invites, #wpadminbar .menupop #wp-admin-bar-messages-default, #wpadminbar .menupop #wp-admin-bar-activity-default {
 min-width: 25px;
}


#wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop ul li a strong, #wpadminbar .quicklinks .menupop.hover ul li a, #wpadminbar.nojs .quicklinks .menupop:hover ul li a{
	color: #FFF;
}



#wpadminbar .menupop li:hover, #wpadminbar .menupop li.hover, #wpadminbar .quicklinks .menupop .ab-item:focus, #wpadminbar .quicklinks .ab-top-menu .menupop .ab-item:focus {
	background: none;
	text-decoration: underline;
}

#wpadminbar .ab-top-menu>li:hover>.ab-item,#wpadminbar .ab-top-menu>li.hover>.ab-item,#wpadminbar .ab-top-menu>li>.ab-item:focus,#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus {
	color: #717171;
	/*text-decoration: underline;*/
}