/* FILE: global/wp/_alignment.scss */

.align-horizontal-wrap {
	margin-bottom: 0;
}

.alignleft,
.alignright {

	&,
	&:last-child {
		margin-bottom: var(--typography_font_size_base); // Simulating rem unit for block editor.
	}

}

.alignleft {
	float: left;

	&,
	[class*="wp-block-"] & {
		margin-right: var(--typography_font_size_base); // Simulating rem unit for block editor.

		@include media( map_get( $breakpoint, 'l' ) ) {
			margin-right: calc( var(--typography_font_size_base) * 2 ); // Simulating rem unit for block editor.
		}

	}

}

.alignright {
	float: right;

	&,
	[class*="wp-block-"] & {
		margin-left: var(--typography_font_size_base); // Simulating rem unit for block editor.

		@include media( map_get( $breakpoint, 'l' ) ) {
			margin-left: calc( var(--typography_font_size_base) * 2 ); // Simulating rem unit for block editor.
		}

	}

}

.aligncenter {
	float: none;
	clear: both;
	display: block;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.alignnone {
	margin-left: 0;
	margin-right: 0;
}

.alignfull,
.alignwide-wrap {
	clear: both;
	position: relative;
	width: calc( 100vw - var(--scrollbar_width) );
	max-width: calc( 100vw - var(--scrollbar_width) );
	margin-#{$left}: calc( 50% - 50vw + ( var(--scrollbar_width) / 2 ) );
	z-index: 1; // This is for when using negative top margin to stack up over the Cover block overlay.
}

.alignwide {
	width: var(--layout_width_content);
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;

	&-wrap {
		padding-left: var(--body_padding);
		padding-right: var(--body_padding);

		.alignwide-wrap {
			padding-left: 0;
			padding-right: 0;
		}

		> .alignwide {
			margin-left: auto;
			margin-right: auto;
		}

		&:not(:last-child) > .alignwide {
			margin-bottom: var(--gap);
		}

	}

}

.alignfull {

	.alignwide & {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	.alignfull.has-background & {
		width: auto;
		margin-left: calc( -1 * var(--body_padding) );
		margin-right: calc( -1 * var(--body_padding) );
	}

}

.is-singular:not([class*="-content-only"]):not(.has-primary-title) .entry-content-singular > .alignfull:first-child,
.error-404-content > .alignfull:first-child {
	margin-top: var(--content_padding_negative);
}

.is-singular:not([class*="-content-only"]):not(.single-post) .entry-content-singular > .alignfull:not(.mb0):not(.is-style-no-margin-vertical):last-child,
.error-404-content > .alignfull:not(.mb0):not(.is-style-no-margin-vertical):last-child {
	margin-bottom: var(--content_padding_negative);
}
