/* FILE: global/wp/_caption.scss */

.wp-caption {
	max-width: 100%;
	text-align: center;

	img[class*="wp-image-"] {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.wp-caption-text {
		margin: .5em 0;
	}

}
