/* FILE: global/wp/_media.scss */

// Not using nesting for additional wrapper in block editor.
.page-content,
.entry-content,
.comment-content {

	img.wp-smiley {
		display: inline;
		width: auto;
		max-height: 1em;
		margin: 0;
		border-width: 0;
	}

}
