/* FILE: content/page/_header.scss */

.page-header {
	width: calc( 100vw - var(--scrollbar_width) );
	padding: 0 var(--body_padding);
	margin-#{$left}: calc( 50% - 50vw + ( var(--scrollbar_width) / 2 ) );
	margin-bottom: var(--content_padding);

	@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
		margin-top: -6vh;
	}

	&-content {
		margin-left: auto;
		margin-right: auto;

		// Higher specificity for WooCommerce.
		.page-header & {
			max-width: var(--layout_width_content);
		}
	}

	&-text:not(.has-page-summary) {
		max-width: calc( #{ $ratio_maj } * var(--layout_width_content) );
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.page-summary,
	.term-description,
	.page-description {
		font-size: 1.166em;

		@include media( map_get( $breakpoint, 'xxl' ) ) {
			font-size: 1.333em;
		}

	}

	@include media( map_get( $breakpoint, 'xl' ) ) {

		&-text {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.page-title,
		.page-summary,
		.term-description,
		.page-description {
			flex: 1;
		}

		.page-title {
			max-width: calc( #{ $ratio_maj } * var(--layout_width_content) );
			margin-bottom: 0;
		}

		.page-summary,
		.term-description,
		.page-description {
			align-self: flex-end;
			margin-#{$left}: 6%;
		}

	}

	.page-number {
		display: block;
		font-size: calc( var(--typography_font_size_l) * 1rem );
		font-weight: 400;
		text-transform: none;
		white-space: nowrap;
	}

	.page-meta {
		width: 100%;
		margin-top: $ratio + rem;

		@include media( map_get( $breakpoint, 'xl' ) ) {
			order: -1;
			margin-top: 0;
			margin-bottom: $ratio_maj + rem;
		}

	}

	&.not-found,
	.search-results & {
		@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
			margin-top: -6vh;
			margin-bottom: 6vh;
		}
	}

}

.search {

	.page-title {
		font-size: var(--typography_heading_size_2_em);

		span:not(.page-number) {
			display: block;
			font-size: var(--typography_font_size_l_em);
			text-transform: none;

			@include media( map_get( $breakpoint, 'xxl' ) ) {
				font-size: var(--typography_font_size_xl_em);
			}

			&::before {
				content: open-quote;
			}

			&::after {
				content: close-quote;
			}

		}

	}

}
