/* FILE: _extend/_blocks.scss */

%block_inner_container {
	max-width: none;
	margin-left: auto;
	margin-right: auto;

	// Pushing list bullets inwards.
	> ul,
	> ol {

		&:not([class*="wp-block-"]) li {
			margin-#{$left}: 1.25em;
		}

	}

	@if variable-exists( 'selector_editor_wrapper' ) {
	// Editor styles:

		> .wp-block:not([data-align="full"]):not([data-align="wide"]) {
			width: 100%;
			max-width: $max_width_entry_content;
			margin-left: auto;
			margin-right: auto;
		}

		> [data-align="full"] {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}

	} @else {
	// Front-end styles:

		> :not(.alignfull):not(.alignwide):not(.alignwide-wrap) {
			max-width: var(--layout_width_entry_content);
			margin-left: auto;
			margin-right: auto;
		}

		> .alignfull,
		> .alignwide-wrap {
			width: 100%;
			max-width: calc( var(--layout_width_content) + 2 * var(--body_padding) );
			margin-left: auto;
			margin-right: auto;
		}

		> .alignfull {
			width: auto;
			max-width: none;
		}

	}

}
