/* FILE: global/modifiers/_alignment.scss */

// Text

	$important_modifiers: _important( 'modifier_align_text' );

	.has-#{ $left }-text-align,
	.has-#{ $left }-content {
		text-align: $left $important_modifiers;
	}

	.has-center-text-align,
	.has-center-content {
		text-align: center $important_modifiers;
	}

	.has-#{ $right }-text-align,
	.has-#{ $right }-content {
		@include media( map_get( $breakpoint, 'm' ) ) {
			text-align: $right $important_modifiers;
		}
	}

	$important_modifiers: null; // Required reset.

// Vertical

	$important_modifiers: _important( 'modifier_align_vertical' );

	.has-top-vertical-align {
		vertical-align: top $important_modifiers;
	}

	.has-middle-vertical-align {
		vertical-align: middle $important_modifiers;
	}

	.has-baseline-vertical-align {
		vertical-align: baseline $important_modifiers;
	}

	.has-bottom-vertical-align {
		vertical-align: bottom $important_modifiers;
	}

	$important_modifiers: null; // Required reset.
