.single,
.page-template-default{
    #primary,
    #secondary{
        padding: 0 15px 15px;
    }
    #secondary{
        display: flex;
        flex-wrap: wrap;
        background-color: $color_light_gray;
        @include media(lg){
            display: block;
        }
       
        section{
            flex: 0 0 100%;
            max-width: 100%;
            padding-top: 15px;
            &:nth-child(odd){
                @include media(lg){
                    background-color: rgba($color_dark_gray,0.1);
                }
            }
           
            @include media(xs){
                flex: 0 0 50%;
                max-width: 50%;
            }
            @include media(lg){
                max-width: 100%;
            }
        }
    }
}