/* FILE: global/typography/_headings.scss */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	clear: both;
	margin-top: 0;
	margin-bottom: var(--gap);
	font-family: var(--typography_font_headings);
	font-weight: 700;
	word-wrap: break-word;
	color: var(--color_body_headings);

	&:last-child {
		margin-bottom: 0;
	}

}

h1, h2, h3,
.h1, .h2, .h3 {
	font-weight: 300;
}

h1, .h1 {
	text-transform: uppercase;
}

h2, h3, h4, h5, h6 {

	&,
	&[class] {
		margin-top: var(--heading_space);

		&:first-child {
			margin-top: 0;
		}
	}
}

$specificity : '';
@if variable-exists( 'selector_editor_wrapper' ) {
	$specificity : '[class]';
}
@for $heading from 1 through 6 {
	h#{ $heading },
	#{ $specificity }.h#{ $heading },
	#{ $specificity }.has-heading-#{ $heading }-font-size {
		font-size: var(--typography_heading_size_#{ $heading }_em);
		line-height: calc( 1 + var(--typography_line_height_headings) / var(--typography_heading_size_#{ $heading }) / var(--responsive_scale) );
	}

	@if variable-exists( 'selector_editor_wrapper' ) {
		.has-heading-#{ $heading }-font-size {
			font-size: var(--typography_heading_size_#{ $heading }_em) _important( 'modifier_font_size' );
		}
	}
}
