/* FILE: editor/_accessibility.scss */

.wp-block.screen-reader-text,
.wp-block > .screen-reader-text,
.wp-block.is-style-screen-reader-text,
.wp-block > .is-style-screen-reader-text {
	position: relative !important;
	clip: auto !important;
	clip-path: none !important;
	width: auto !important;
	height: 2em !important;
	padding: 0 !important;
	margin-block: 0 !important;
	font-size: 1rem;
	line-height: 1;
	background: none !important;
	color: inherit !important;

	&:not(:hover):not(:focus):not(:focus-within) {
		opacity: .5;
	}

	&::before {
		content: "🎧";
		display: inline-block;
		margin-inline-end: .5em;
		speak: none;
	}
}

.wp-block:hover > .screen-reader-text,
.is-selected > .screen-reader-text,
.wp-block:hover > .is-style-screen-reader-text,
.is-selected > .is-style-screen-reader-text {
	@extend %a11y_hover_focus;
}

.screen-reader-text,
.is-style-screen-reader-text {

	&:hover,
	&:focus,
	&:focus-within {
		@extend %a11y_hover_focus;
	}
}

%a11y_hover_focus {
	opacity: 1 !important;
}
