/* FILE: editor-block/_typography.scss */

html #{ $selector_editor_wrapper } {
	font-family: var(--typography_font_global);
	font-size: var(--typography_font_size_base);
	line-height: var(--typography_line_height);
}

.block-editor-default-block-appender textarea.block-editor-default-block-appender__content {
	font-family: inherit;
}

// @see global/typography/_headings.scss
h2, h3, h4, h5, h6 {

	&.wp-block:not(:first-child) {
		margin-top: var(--heading_space);
	}

}
