/* Style adjustments - all color schemes */

/* 1. Header */

.title-area-link {
	position: relative;
}

div.title-area {
    position: absolute;
	top: 50%;
	transform: translateY(-50%);
    width: 100%;
	box-shadow: none;
	background-color: inherit;
}

.site-header .widget-area {
    float: right;
    text-align: right;
    width: 640px;
}

.site-header {
    background-color: #fff;
}

.header-image .site-header {
	background-color: #000;
}

.site-title {
	margin-bottom: 12px;
}

.site-header .wrap {
	max-width: none;
}

p.site-title {
    font-size: 30px;
}

a.title-area-link:hover div.title-area .site-title {
	color: #ffd5d1;
}

.site-inner {
    clear: both;
    padding-top: 40px;
}

.widget-area.home-top,
.widget-area.home-middle {
	display: none;
}

/* 2. Elements */

h1 {
    font-size: 36px;
}

blockquote {
    background-color: #fff;
    border-left: 10px solid #f5f5f5;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

blockquote:before {
    color: #e3f2fa;
    content: none;
    font-size: 5em;
    line-height: .5em;
    margin-left: -20px;
}

blockquote p {
    font-style: regular;
}

/* 2a. Trying to affect only the content area headings. Sidebar and others should not be affected */

div.entry-content h2 {
    font-weight: 300;
    line-height: 1.2;
    text-align: left;
    width: 100%;
    background-image: linear-gradient(to right, rgba(245, 245, 245, 1), rgba(245, 245, 245, 0));
    padding: .2em .2em .2em .4em;
    border-left: 3px solid #595959;
    margin-bottom: .8em;
}

div.entry-content h1, h2, h3, h4, h5, h6 {
    margin-bottom: .8em;
}


.content h2 + div h2 {
    background-image: none;
    padding: .2em 0 .2em 0;
    border-left: 0px;
    margin-bottom: 1em;
}

.content h2 ~ h3 {
    margin-top: 1em;
}

section.widget.widget_text h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 10px 0;
}


fieldset {
    margin-bottom: 1em;
}


button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
div.wp-block-file__button a {
    background-color: #e3f2fa;
    color: #444;
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .button:hover, div.wp-block-file__button a:hover {
    background-color: #444;
    color: #e3f2fa;
}

h1.entry-title {
    font-size:  36px;
    margin-bottom: .8em;
}


h4.widget-title.widgettitle {
    color: #444444 !important; /* Don't let color schemes override */
}

cite {
    font-size: .8em;
}

/* Specificity required to override scheme-specific colors */
body .site-inner .entry-pings h3,
body .site-inner .comment-respond h3,
body .site-inner .entry-comments h3 {
	color: #444;
}

/* 3. TOC Plugin style. Can we replace the text/link with a fontawesome list icon?
See mockup: https://www.dropbox.com/s/5jl5er5lf4jyn3y/TOCstyle.png?dl=0 OR see below and compare with mockups */

div#toc_container.no_bullets {
    background:  #f9f9f9;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 0;
    margin-bottom: 2em;
    width: 50%;
    text-align: left;
}

div#toc_container.no_bullets.contracted {
    background:  #f9f9f9;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 0;
    margin-bottom: 2em;
    width: auto;
}

#toc_container p.toc_title {
    font-weight: 700;
    padding: .5em;
    text-align: left;
}




/* Color adjustments for Default color scheme */

div.title-area {
    color: #ffffff;
}

.header-image .site-description, .header-image .site-title {
	position: relative;
	text-indent: inherit;
}

.title-area-link {
	/*
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	*/
    background-color: #aa2418;
	position: relative;
	z-index: 2;
	background-position: center top !important;
	background-size: cover !important;
	box-shadow: 0px 3px 7px 0px #80808091;
	display: block;
	min-height: 130px;
	width: 100%;
}

.header-image a.title-area-link {
	padding-top: 20px;
}

body.header-image .title-area {
	background: transparent !important;
}

/*
.header-image .site-description {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 60px;
}
*/

.site-header {
    border-top: 3px solid #e44a3c;
}


.sidebar a {
    color: #aa2418;
}

.sidebar a:hover {
	color: #444;
}

.site-footer {
	padding: 10px 0;
}

a,
div.entry-content a,
.breadcrumb a,
.comment-reply-link,
#ol-print-this-page a,
a.breadcrumb-link {
    color: #aa2418;
}

div.entry-content a,
.breadcrumb a,
#ol-print-this-page a,
a.breadcrumb-link {
	border-bottom: 1px solid #aa2418;
	padding-bottom: 1px;
}

div.entry-content .wp-block-image a {
	border-bottom: 0;
	padding-bottom;
}

.entry-content a:hover,
.breadcrumb a:hover,
#ol-print-this-page a:hover,
a.breadcrumb-link:hover {
    color: #000;
	border-bottom: none;
}

#ez-toc-container a:hover {
	text-decoration: none;
}

.site-footer .wrap a:hover {
	color: inherit;
	text-decoration: underline;
}

#ol-print-this-page a:hover {
	box-shadow: none !important;
}

.content .entry-header .entry-meta .entry-time {
	background-color: #e3f2fa;
	color: #444;
}

.entry-footer .entry-meta a {
    color: #aa2418;
	border-bottom: 1px solid #aa2418;
	padding-bottom: 1px;
}

.entry-footer .entry-meta a:hover {
    color: #000;
	border-bottom: none;
}

/* No icon for Course Profile link */
#menu-item-group-profile-link {
	background: inherit;
	padding-right: inherit;
	margin-right: inherit;
}

.menu-item-has-children {
	position: relative;
}

@media screen and (max-width: 768px) {
	.site-header .wrap {
		padding-left: 0;
		padding-right: 0;
	}

	.title-area-link {
		padding-left: 5%;
		padding-right: 5%;
		width: auto;
	}

	body div.title-area {
		width: 90% !important;
	}
}

@media screen and (min-width: 1023px) {
	.menu-item-has-children > a:after {
		font-family: "fontawesome";
		content: "\f107"; /* angle-down */
		font-size: 15px;
		position: absolute;
		right: 0.625em;
		top: 1.55em;
	}

	.sidebar .menu-item-has-children > a:after {
		content: '' !important;
	}

	.sub-menu .menu-item-has-children > a:after {
		content: "\f105"; /* angle-right */
		top: 14px;
	}

	.menu-primary > .menu-item-has-children > a {
		padding-right: 32px;
	}

	.menu-primary > .menu-item-has-children > a:after {
		top: 1em;
	}
}

.nav-primary .genesis-nav-menu {
	text-align: center;
}

.genesis-nav-menu .menu-item-has-children.menu-item:hover {
	position: relative;
}

.header-widget-area .genesis-nav-menu .menu-item-has-children > a {
	padding-right: 32px;
}

.header-widget-area .genesis-nav-menu .menu-item-has-children > a:after {
	top: 2em;
}

.header-widget-area .genesis-nav-menu .sub-menu .menu-item-has-children > a:after {
	top: 13px;
}

/* Adjustments for header + nav at medium widths */
@media screen and (min-width: 769px) and (max-width: 1023px) {
	.header-image div.title-area {
		margin-bottom: 0;
	}
	div.header-widget-area {
		background: #fff;
	}
}

/* .stacked-nav-header duplicates education-pro media queries so that we can forced stack menus with JS */
body div.title-area {
	margin-bottom: 0;
}
body div.header-widget-area {
	background: #fff;
}

body .site-header .header-widget-area {
    max-width: 100%;
    text-align: center;
    width: 100%;
}
body div.title-area {
	float: none;
	text-align: center;
	width: 100%;
}
body .site-title a {
	background-position: center top !important;
	background-size: contain !important;
}

.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu li.current-menu-item > a {
    background-color: #e3f2fa;
    color: #000;
}

.genesis-nav-menu li.current-menu-item > a,
.genesis-nav-menu .sub-menu li a:hover,
.genesis-nav-menu .sub-menu li.current-menu-item > a {
	background-color: #e3f2fb;
	color: #3b3b3b;
}

.header-widget-area {
	max-width: calc(100% - 500px);
}

.genesis-nav-menu .sub-menu {
	border-left: 3px solid #e44a3d;
}

.site-header .genesis-nav-menu .sub-menu a,
.genesis-nav-menu .sub-menu a {
	background-color: #fff;
	color: #444;
}

.genesis-nav-menu li a:hover,
.genesis-nav-menu li.current-menu-item > a,
.genesis-nav-menu li .sub-menu li a:hover,
.genesis-nav-menu li .sub-menu li.current-menu-item > a {
	background-color: #113f58;
	color: #fff;
}

.header-widget-area .genesis-nav-menu li a:hover,
.header-widget-area .genesis-nav-menu li.current-menu-item > a,
.header-widget-area .genesis-nav-menu li .sub-menu li a:hover,
.header-widget-area .genesis-nav-menu li .sub-menu li.current-menu-item > a {
	background-color: #e3f2fb;
	color: #3b3b3b;
}

.header-widget-area .genesis-nav-menu .sub-menu .sub-menu {
	border-left: none;
}

@media only screen and (max-width: 1023px) {
	div.title-area {
		float: none;
		width: 100%;
	}

	.site-header .header-widget-area {
		max-width: 100%;
		text-align: center;
		width: 100%;
	}

	.site-header .genesis-nav-menu a {
		padding: 32px 32px 32px 16px;
	}
}

/* Hamburger initialize at 1023px */
@media only screen and (max-width: 1023px) {
	.genesis-nav-menu.responsive-menu > .menu-item > .sub-menu,
	.genesis-nav-menu.responsive-menu {
		display: none;
	}

	.genesis-nav-menu.responsive-menu .menu-item,
	.responsive-menu-icon {
		display: block;
	}

	.genesis-nav-menu.responsive-menu .menu-item:hover {
		position: static;
	}

	.genesis-nav-menu.responsive-menu .sub-menu .current-menu-item > a:hover,
	.genesis-nav-menu.responsive-menu li a,
	.genesis-nav-menu.responsive-menu li a:hover,
	.header-widget-area .genesis-nav-menu li .sub-menu li a:hover,
	.genesis-nav-menu.responsive-menu li.current-menu-item > a {
		background: none;
		color: #444;
		display: block;
		line-height: 1;
		padding: 12px 0;
	}

	.header-widget-area .genesis-nav-menu.responsive-menu li,
	.header-widget-area .genesis-nav-menu.responsive-menu li a {
		background-color: rgba(255,255,255,1);
	}

	.genesis-nav-menu.responsive-menu .menu-item-has-children {
		cursor: pointer;
	}

	.genesis-nav-menu.responsive-menu .menu-item-has-children > a {
		margin-right: 60px;
	}

	.genesis-nav-menu.responsive-menu .menu-item-has-children:before {
		content: "\f347";
		float: right;
		font: normal 16px/1 'dashicons';
		height: 16px;
		padding: 11px 0;
		right: 0;
		text-align: right;
		z-index: 9999;
	}

	.genesis-nav-menu.responsive-menu .menu-open.menu-item-has-children:before {
		content: "\f343";
	}

	.genesis-nav-menu.responsive-menu .sub-menu {
		left: auto;
		opacity: 1;
		position: relative;
		-moz-transition:    opacity .4s ease-in-out;
		-ms-transition:     opacity .4s ease-in-out;
		-o-transition:      opacity .4s ease-in-out;
		-webkit-transition: opacity .4s ease-in-out;
		transition:         opacity .4s ease-in-out;
		width: 100%;
		z-index: 99;

		padding-left: 20px;
	}

	.genesis-nav-menu li.current-menu-item > a {
		font-weight: 700;
	}

	.genesis-nav-menu.responsive-menu li a:hover {
		text-decoration: underline;
	}

	.genesis-nav-menu.responsive-menu .sub-menu .sub-menu {
		padding-left: 20px;
		margin: 0;
	}

	.genesis-nav-menu.responsive-menu .sub-menu li a,
	.genesis-nav-menu.responsive-menu .sub-menu li a:hover {
		background: none;
		border: none;
		box-shadow: none;
		color: #444;
		padding: 12px 0;
		position: relative;
		width: auto;
	}

	.genesis-nav-menu.responsive-menu {
		padding-bottom: 16px;
	}

	.nav-primary .genesis-nav-menu.responsive-menu li a {
		background: none;
		color: #fff;
	}

	.nav-primary .genesis-nav-menu.responsive-menu li a:hover {
		background: none;
		color: #e7e7e7;
	}

	.education-pro-home .slide-excerpt {
		display: none;
	}

	.home-top .wrap {
		margin-left: 5%;
		margin-right: 5%;
		padding: 40px;
	}

	body .site-header .header-widget-area {
		max-width: 740px;
		margin: 0 auto;
		float: none;
	}
}

@media only screen and (max-width: 480px) {
	div.title-area {
		max-width: 100%;
	}
}

/** COLOR SCHEMES ********************************************************/

/* Blue */
.education-pro-blue .footer-widgets .wrap a:hover,
.education-pro-blue .slide-excerpt h2 a,
.education-pro-blue .home-middle .entry-title a,
.education-pro-blue .home-top .widget_text,
.education-pro-blue .site-footer .wrap a:hover,
.education-pro-blue .entry-content a,
.education-pro-blue .entry-footer .entry-meta a,
.education-pro-blue #ol-print-this-page a,
.education-pro-blue .comment-reply-link,
.education-pro-blue .entry-title a,
.education-pro-blue a.breadcrumb-link,
.education-pro-blue a {
	border-color: #185a7d;
	color: #185a7d;
}

.education-pro-blue .entry-title a:hover,
.education-pro-blue .entry-footer .entry-meta a:hover,
.education-pro-blue a:hover {
	color: #444;
}

.education-pro-blue button,
.education-pro-blue a.button,
.education-pro-blue input[type="submit"],
.education-pro-blue a.wp-block-file__button,
.education-pro-blue .footer-widgets a.button,
.education-pro-blue .site-footer a.button {
	background-color: #e3f2fa;
	color: #444;
}

.education-pro-blue button:hover,
.education-pro-blue a.button:hover,
.education-pro-blue a.wp-block-file__button:hover,
.education-pro-blue .footer-widgets a.button:hover,
.education-pro-blue .site-footer a.button:hover {
	background-color: #444;
	color: #e3f2fa;
}

.education-pro-blue .archive-description,
.education-pro-blue .author-box,
.education-pro-blue .button:hover,
.education-pro-blue .footer-widgets .wrap .button:hover,
.education-pro-blue .footer-widgets button:hover,
.education-pro-blue .footer-widgets input:hover[type="button"],
.education-pro-blue .footer-widgets input:hover[type="reset"],
.education-pro-blue .footer-widgets input:hover[type="submit"],
.education-pro-blue .home-bottom .widget .button:hover,
.education-pro-blue .home-bottom button:hover,
.education-pro-blue .home-bottom input:hover[type="button"],
.education-pro-blue .home-bottom input:hover[type="reset"],
.education-pro-blue .home-bottom input:hover[type="submit"],
.education-pro-blue .home-featured #genesis-responsive-slider .more-link:hover,
.education-pro-blue button:hover,
.education-pro-blue .title-area,
.education-pro-blue input:hover[type="button"],
.education-pro-blue input:hover[type="reset"],
.education-pro-blue input:hover[type="submit"] {
	background-color: #bad0de;
	color: #113f58;
}

.education-pro-blue .title-area-link {
	background-color: #bad0de;
}

.education-pro-blue a.title-area-link:hover div.title-area .site-title {
	color: #185a7d;
}

.education-pro-blue .content .entry-header .entry-meta .entry-time {
	background-color: #e3f2fa;
	color: #444;
}

.education-pro-blue button:hover,
.education-pro-blue input[type="button"]:hover,
.education-pro-blue input[type="reset"]:hover,
.education-pro-blue input[type="submit"]:hover,
.education-pro-blue .button:hover,
.education-pro-blue div.wp-block-file__button a:hover {
    background-color: #444;
    color: #e3f2fa;
}

.education-pro-blue .genesis-nav-menu li a:hover,
.education-pro-blue .genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.education-pro-blue .genesis-nav-menu .sub-menu a,
.education-pro-blue .genesis-nav-menu li.current-menu-item > a {
	background-color: #113f58;
	color: #fff;
}

.education-pro-blue .header-widget-area .genesis-nav-menu li a:hover,
.education-pro-blue .header-widget-area .genesis-nav-menu li .sub-menu li a:hover,
.education-pro-blue .header-widget-area .genesis-nav-menu li.current-menu-item > a,
.education-pro-blue .header-widget-area .genesis-nav-menu li .sub-menu li.current-menu-item > a {
	background-color: #e3f2fb;
	color: #3b3b3b;
}

.education-pro-blue .genesis-nav-menu .sub-menu a {
	background-color: #fff;
	color: #113f58;
}

.education-pro-blue .genesis-nav-menu .sub-menu,
.education-pro-blue .after-entry .widget,
.education-pro-blue .home-top .wrap,
.education-pro-blue .sidebar .widget,
.education-pro-blue .site-header {
	border-color: #2192da;
}

.education-pro-blue .enews-widget .enews input:hover[type="submit"],
.education-pro-blue .footer-widgets,
.education-pro-blue .home-middle,
.education-pro-blue .nav-primary,
.education-pro-blue .site-footer {
	background-color: #185a7d;
}

.education-pro-blue .site-footer .wrap a:hover {
	color: inherit;
	text-decoration: underline;
}

.education-pro-blue .site-header .site-title a:hover {
	color: #185a7d;
}

@media only screen and (max-width: 1023px) {
	.education-pro-blue .header-widget-area .genesis-nav-menu li a:hover,
	.education-pro-blue .header-widget-area .genesis-nav-menu li .sub-menu li a:hover {
		background-color: inherit;
		color: inherit;
	}

	.education-pro-blue .header-widget-area .genesis-nav-menu li.current-menu-item > a,
	.education-pro-blue .header-widget-area .genesis-nav-menu li .sub-menu li.current-menu-item > a {
		background: none;
		color: inherit;
	}
}

/* Green */
.education-pro-green .footer-widgets .wrap a:hover,
.education-pro-green .slide-excerpt h2 a,
.education-pro-green .home-middle .entry-title a,
.education-pro-green .home-top .widget_text,
.education-pro-green .site-footer .wrap a:hover,
.education-pro-green .entry-content a,
.education-pro-green .entry-footer .entry-meta a,
.education-pro-green #ol-print-this-page a,
.education-pro-green .archive-pagination a,
.education-pro-green .comment-reply-link,
.education-pro-green .entry-title a,
.education-pro-green a.breadcrumb-link,
.education-pro-green a {
	border-color: #3e6120;
	color: #3e6120;
}

.education-pro-green .entry-title a:hover,
.education-pro-green .entry-footer .entry-meta a:hover,
.education-pro-green a:hover {
	color: #444;
}

.education-pro-green button,
.education-pro-green a.button,
.education-pro-green input[type="submit"],
.education-pro-green a.wp-block-file__button,
.education-pro-green .footer-widgets a.button,
.education-pro-green .site-footer a.button {
	background-color: #d1deba;
	color: #444;
}

.education-pro-green button:hover,
.education-pro-green a.button:hover,
.education-pro-green a.wp-block-file__button:hover,
.education-pro-green .footer-widgets a.button:hover,
.education-pro-green .site-footer a.button:hover {
	background-color: #444;
	color: #d1deba;
}

.education-pro-green .archive-description,
.education-pro-green .author-box,
.education-pro-green .button:hover,
.education-pro-green .footer-widgets .wrap .button:hover,
.education-pro-green .footer-widgets button:hover,
.education-pro-green .footer-widgets input:hover[type="button"],
.education-pro-green .footer-widgets input:hover[type="reset"],
.education-pro-green .footer-widgets input:hover[type="submit"],
.education-pro-green .home-bottom .widget .button:hover,
.education-pro-green .home-bottom button:hover,
.education-pro-green .home-bottom input:hover[type="button"],
.education-pro-green .home-bottom input:hover[type="reset"],
.education-pro-green .home-bottom input:hover[type="submit"],
.education-pro-green .home-featured #genesis-responsive-slider .more-link:hover,
.education-pro-green button:hover,
.education-pro-green input:hover[type="button"],
.education-pro-green input:hover[type="reset"],
.education-pro-green input:hover[type="submit"] {
	background-color: #444;
	color: #d1deba;
}

.education-pro-green .title-area,
.education-pro-green a.title-area-link {
	background-color: #d1deba;
}

.education-pro-green .title-area {
	color: #234326;
}

.education-pro-green a.title-area-link:hover div.title-area .site-title {
	color: #336136;
}

.education-pro-green .content .entry-header .entry-meta .entry-time {
	background-color: #d1deba;
	color: #444;
}

.education-pro-green button:hover,
.education-pro-green input[type="button"]:hover,
.education-pro-green input[type="reset"]:hover,
.education-pro-green input[type="submit"]:hover,
.education-pro-green .button:hover,
.education-pro-green div.wp-block-file__button a:hover {
    background-color: #444;
    color: #d1deba;
}

.education-pro-green .genesis-nav-menu li a:hover,
.education-pro-green .genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.education-pro-green .genesis-nav-menu .sub-menu a,
.education-pro-green .genesis-nav-menu li .sub-menu li a:hover,
.education-pro-green .genesis-nav-menu li.current-menu-item > a {
	background-color: #234326;
	color: #fff;
}

.education-pro-green .header-widget-area .genesis-nav-menu li a:hover,
.education-pro-green .header-widget-area .genesis-nav-menu li .sub-menu li a:hover,
.education-pro-green .header-widget-area .genesis-nav-menu li.current-menu-item > a,
.education-pro-green .header-widget-area .genesis-nav-menu li .sub-menu li.current-menu-item > a {
	background-color: #d1deba;
	color: #3b3b3b;
}

.education-pro-green .genesis-nav-menu .sub-menu a {
	background-color: #fff;
	color: #234326;
}

.education-pro-green .genesis-nav-menu .sub-menu,
.education-pro-green .after-entry .widget,
.education-pro-green .home-top .wrap,
.education-pro-green .sidebar .widget,
.education-pro-green .site-header {
	border-color: #5ebd67;
}

.education-pro-green .enews-widget .enews input:hover[type="submit"],
.education-pro-green .footer-widgets,
.education-pro-green .home-middle,
.education-pro-green .nav-primary,
.education-pro-green .site-footer {
	background-color: #336136;
}

.education-pro-green .site-footer .wrap a:hover {
	color: inherit;
	text-decoration: underline;
}

.education-pro-green .archive-pagination .active a,
.education-pro-green .archive-pagination li a:hover {
	color: #444;
}

@media only screen and (max-width: 1023px) {
	.education-pro-green .header-widget-area .genesis-nav-menu li a:hover,
	.education-pro-green .header-widget-area .genesis-nav-menu li .sub-menu li a:hover {
		background-color: inherit;
		color: inherit;
	}

	.education-pro-green .header-widget-area .genesis-nav-menu li.current-menu-item > a,
	.education-pro-green .header-widget-area .genesis-nav-menu li .sub-menu li.current-menu-item > a {
		background: none;
		color: inherit;
	}
}

/* Red */
.education-pro-red .footer-widgets .wrap a:hover,
.education-pro-red .slide-excerpt h2 a,
.education-pro-red .home-middle .entry-title a,
.education-pro-red .home-top .widget_text,
.education-pro-red .site-footer .wrap a:hover,
.education-pro-red .entry-content a,
.education-pro-red .entry-footer .entry-meta a,
.education-pro-red #ol-print-this-page a,
.education-pro-red .archive-pagination a,
.education-pro-red .comment-reply-link,
.education-pro-red .entry-title a,
.education-pro-red a.breadcrumb-link,
.education-pro-red a {
	border-color: #aa2418;
	color: #aa2418;
}

.education-pro-red .entry-title a:hover,
.education-pro-red .entry-footer .entry-meta a:hover,
.education-pro-red a:hover {
	color: #444;
}

.education-pro-red button,
.education-pro-red a.button,
.education-pro-red input[type="submit"],
.education-pro-red a.wp-block-file__button,
.education-pro-red .footer-widgets a.button,
.education-pro-red .site-footer a.button {
	background-color: #ffd5d1;
	color: #444;
}

.education-pro-red button:hover,
.education-pro-red a.button:hover,
.education-pro-red a.wp-block-file__button:hover,
.education-pro-red .footer-widgets a.button:hover,
.education-pro-red .site-footer a.button:hover {
	background-color: #444;
	color: #ffd5d1;
}

.education-pro-red .archive-description,
.education-pro-red .author-box,
.education-pro-red .button:hover,
.education-pro-red .footer-widgets .wrap .button:hover,
.education-pro-red .footer-widgets button:hover,
.education-pro-red .footer-widgets input:hover[type="button"],
.education-pro-red .footer-widgets input:hover[type="reset"],
.education-pro-red .footer-widgets input:hover[type="submit"],
.education-pro-red .home-bottom .widget .button:hover,
.education-pro-red .home-bottom button:hover,
.education-pro-red .home-bottom input:hover[type="button"],
.education-pro-red .home-bottom input:hover[type="reset"],
.education-pro-red .home-bottom input:hover[type="submit"],
.education-pro-red .home-featured #genesis-responsive-slider .more-link:hover,
.education-pro-red button:hover,
.education-pro-red input:hover[type="button"],
.education-pro-red input:hover[type="reset"],
.education-pro-red input:hover[type="submit"] {
	background-color: #444;
	color: #ffd5d1;
}

.education-pro-red .title-area,
.education-pro-red a.title-area-link {
	background-color: #db2f1f;
}

.education-pro-red .title-area {
	color: #fff;
}

.education-pro-red a.title-area-link:hover div.title-area .site-title {
	color: #ffd5d1;
}

.education-pro-red .content .entry-header .entry-meta .entry-time {
	background-color: #ffd5d1;
	color: #444;
}

.education-pro-red button:hover,
.education-pro-red input[type="button"]:hover,
.education-pro-red input[type="reset"]:hover,
.education-pro-red input[type="submit"]:hover,
.education-pro-red .button:hover,
.education-pro-red div.wp-block-file__button a:hover {
    background-color: #444;
    color: #ffd5d1;
}

.education-pro-red .genesis-nav-menu li a:hover,
.education-pro-red .genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.education-pro-red .genesis-nav-menu .sub-menu a,
.education-pro-red .genesis-nav-menu li .sub-menu li a:hover,
.education-pro-red .genesis-nav-menu li.current-menu-item > a {
	background-color: #62231d;
	color: #fff;
}

.education-pro-red .header-widget-area .genesis-nav-menu li a:hover,
.education-pro-red .header-widget-area .genesis-nav-menu li .sub-menu li a:hover,
.education-pro-red .header-widget-area .genesis-nav-menu li.current-menu-item > a,
.education-pro-red .header-widget-area .genesis-nav-menu li .sub-menu li.current-menu-item > a {
	background-color: #ffd5d1;
	color: #3b3b3b;
}

.education-pro-red .genesis-nav-menu .sub-menu a {
	background-color: #fff;
	color: #444;
}

.education-pro-red .genesis-nav-menu .sub-menu,
.education-pro-red .after-entry .widget,
.education-pro-red .home-top .wrap,
.education-pro-red .sidebar .widget,
.education-pro-red .site-header {
	border-color: #e44a3d;
}

.education-pro-red .enews-widget .enews input:hover[type="submit"],
.education-pro-red .footer-widgets,
.education-pro-red .home-middle,
.education-pro-red .nav-primary,
.education-pro-red .site-footer {
	background-color: #812e26;
}

.education-pro-red .site-footer .wrap a:hover {
	color: inherit;
	text-decoration: underline;
}

.education-pro-red .archive-pagination .active a,
.education-pro-red .archive-pagination li a:hover {
	color: #444;
}

@media only screen and (max-width: 1023px) {
	.education-pro-red .header-widget-area .genesis-nav-menu li a:hover,
	.education-pro-red .header-widget-area .genesis-nav-menu li .sub-menu li a:hover {
		background-color: inherit;
		color: inherit;
	}

	.education-pro-red .header-widget-area .genesis-nav-menu li.current-menu-item > a,
	.education-pro-red .header-widget-area .genesis-nav-menu li .sub-menu li.current-menu-item > a {
		background: none;
		color: inherit;
	}
}
