<!-- wp:template-part {"slug":"header","theme":"cv-portfolio-blocks","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"60px","bottom":"60px"}}},"backgroundColor":"background","className":"wp-block-group alignfull","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull has-background-background-color has-background" style="padding-top:60px;padding-bottom:60px"><!-- wp:pattern {"slug":"cv-portfolio-blocks/404-page"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"cv-portfolio-blocks","tagName":"footer"} /-->