<!-- wp:template-part {"slug":"header","theme":"cv-portfolio-blocks","tagName":"header"} /-->

<!-- wp:group {"style":{"border":{"top":{"color":"var:preset|color|background","width":"1px"},"right":{},"bottom":{},"left":{}}},"layout":{"type":"constrained","contentSize":"80%"}} -->
<div class="wp-block-group" style="border-top-color:var(--wp--preset--color--background);border-top-width:1px"><!-- wp:cover {"overlayColor":"accent","isUserOverlayColor":true,"minHeight":100,"contentPosition":"center center","isDark":false,"align":"full","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|background"}},"heading":{"color":{"text":"var:preset|color|background"}}}},"textColor":"background","fontSize":"content-heading"} -->
<div class="wp-block-cover alignfull is-light has-background-color has-text-color has-link-color has-content-heading-font-size" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;min-height:100px"><span aria-hidden="true" class="wp-block-cover__background has-accent-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-title {"textAlign":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"500"}},"textColor":"background","fontSize":"content-heading"} /--></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"top":"60px","bottom":"60px"}}},"backgroundColor":"background","layout":{"type":"constrained","contentSize":"80%"}} -->
<div class="wp-block-group has-background-background-color has-background" style="padding-top:60px;padding-bottom:60px"><!-- wp:template-part {"slug":"page-content","theme":"cv-portfolio-blocks","area":"uncategorized","align":"wide"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"cv-portfolio-blocks","tagName":"footer"} /-->