<!-- wp:template-part {"slug":"header","theme":"cv-portfolio-blocks","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:cover {"customOverlayColor":"#7562e0","minHeight":100,"align":"full"} -->
<div class="wp-block-cover alignfull" style="min-height:100px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-100 has-background-dim" style="background-color:#7562e0"></span><div class="wp-block-cover__inner-container"><!-- wp:post-title {"textAlign":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"500"}},"textColor":"background","fontSize":"extra-large"} /--></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"blockGap":"0px","padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} -->
<div class="wp-block-group alignfull" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"60px","bottom":"60px"}}},"backgroundColor":"background","className":"no-margin no-padding","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group alignfull no-margin no-padding has-background-background-color has-background" style="padding-top:60px;padding-bottom:60px"><!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":"60px"}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":"","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} -->
<div class="wp-block-column" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:group {"tagName":"main","className":"animated animated-fadeInUp","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group animated animated-fadeInUp"><!-- wp:group {"align":"wide","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:post-featured-image {"align":"wide","style":{"spacing":{"margin":{"bottom":"0px","top":"0px","right":"0px","left":"0px"}}}} /-->

<!-- wp:group {"align":"wide","layout":{"type":"flex","allowOrientation":false,"justifyContent":"left","flexWrap":"wrap"},"fontSize":"upper-heading"} -->
<div class="wp-block-group alignwide has-upper-heading-font-size"><!-- wp:post-author {"showAvatar":false,"showBio":false} /-->

<!-- wp:post-date /-->

<!-- wp:post-terms {"term":"category","fontSize":"upper-heading"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"15px"}}} -->
<div class="wp-block-group alignwide"><!-- wp:post-content {"align":"wide","layout":{"inherit":false},"fontSize":"upper-heading"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"0px","bottom":"20px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="padding-top:0px;padding-bottom:20px"><!-- wp:group {"align":"wide","layout":{"type":"flex","justifyContent":"space-between"},"fontSize":"upper-heading"} -->
<div class="wp-block-group alignwide has-upper-heading-font-size"><!-- wp:post-terms {"term":"post_tag","fontSize":"small"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"80px","padding":{"top":"40px","right":"40px","bottom":"40px","left":"40px"}}},"backgroundColor":"background-secondary","className":"has-no-hover-shadow-dark animated animated-fadeInUp fadeInUp","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignwide has-no-hover-shadow-dark animated animated-fadeInUp fadeInUp has-background-secondary-background-color has-background" style="padding-top:40px;padding-right:40px;padding-bottom:40px;padding-left:40px"><!-- wp:comments {"legacy":true,"align":"wide","className":"no-margin no-padding"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"30%"} -->
<div class="wp-block-column" style="flex-basis:30%"><!-- wp:template-part {"slug":"sidebar","theme":"cv-portfolio-blocks","tagName":"div"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></main>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"cv-portfolio-blocks","tagName":"footer"} /-->