body#tinymce.wp-editor {
	font-family: 'Droid Sans', Arial, sans-serif;
	color: #071f2e;
	font-size: 15px;
	line-height: 1.5;
	word-wrap: break-word;
}

body#tinymce.wp-editor p {
	margin-bottom: 1.5em;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

body#tinymce.wp-editor a {
	color: #cd4444;
	font-weight: 700;
	text-decoration: none;
	border-bottom: 2px solid #eee;
}

body#tinymce.wp-editor blockquote {
	display: inline-block;
	font-family: 'Droid Serif', Georgia, Times, serif;
	line-height: 1.6em;
	margin: 0 1.5em;
	background-color: #eee;
	border-radius: 1em;
	padding: 14px 25px 0;
}

body#tinymce.wp-editor blockquote:before {
	content: "\""!important;
	color: #466d95;
	font-size: 2em;
	padding: 15px 10px 0 0;
	float: left;
}