/* FILE: editor-block/blocks/_button.scss */

.wp-block-button.is-style-outline .wp-block-button__link {
	background-color: transparent;
	border: 1px solid;
}

.wp-block-buttons > .wp-block-button {
	width: auto !important;
}
