/* FILE: editor-block/blocks/_columns.scss */

.wp-block[data-align="full"] .wp-block-columns > .block-editor-inner-blocks {
	padding-left: var(--block_ui_margin);
	padding-right: var(--block_ui_margin);
}

[data-align="full"] > .wp-block-columns:not(.is-style-no-gaps) {
	padding-left: var(--body_padding);
	padding-right: var(--body_padding);
}

.block-editor-block-list__block.wp-block-column.wp-block-column {
	margin-bottom: $ratio + em;
}

.wp-block-column {
	max-width: none;

	> .wp-block {
		max-width: none !important;
	}

}

#{ $selector_editor_wrapper } .wp-block-columns.is-style-no-gaps > .wp-block-column.wp-block-column {
	margin: 0;
}
