/* FILE: editor-block/blocks/_list.scss */

[data-align="center"] [data-type="core/list"] {
	margin-#{$left}: 0;
	list-style: none;

	li:not(:first-child) {
		margin-top: .5em;
	}

}

// WP6.1+
.wp-block-list {

	.wp-block-list {
		margin-#{$left}: $ratio + em;
	}

	&-item {
		margin-bottom: 0;
	}

}
