/* FILE: editor-block/blocks/_post-title.scss */

.edit-post-visual-editor__post-title-wrapper[class] {
	padding-inline: 6%;
	margin-block: 2rem !important;

	.wp-block-post-title {
		max-width: $max_width_content;
		font-size: 2em;
	}
}
