/* FILE: editor-block/blocks/_quote.scss */

.wp-block-quote__citation,
.wp-block-pullquote__citation {
	margin-top: $ratio_maj +em;
	font-size: var(--typography_font_size_S_em);
	font-weight: 400;
	text-transform: none;

	&::before {
		content: '\2014\2002'; // &mdash; + &ensp;
	}

}
