$color_palette: (
	// @link  https://www.pantone.com/color-of-the-year-2021
	// @link  https://www.pantone.com/color-finder/13-0647-TCX
	// @link  https://www.pantone.com/color-finder/17-5104-TCX
	'color_palette_1': #f5df4d,
	'color_palette_2': #030507,

	// Basic global colors.
	'color_palette_3': #ffffff,
);

$customize_options: (
	// @see  WebManDesign\Michelle\Customize\Options::set()

	'custom_logo_height': 100px,

	'background_color': #ffffff,

	'color_border_decorative': #f5df4d,

	'color_body_background': var(--background_color),
	'color_body_text': #434547,
	'color_body_headings': #030507,
	'color_body_border': rgba( #434547, var(--border_opacity) ),

	'color_accent': #6340a7,

	'color_button_background': #f5df4d,
	'color_button_text': #030507,

	'color_header_background': transparent,
	'color_header_text': var(--color_body_text),

	'color_navigation_background': #f5df4d,
	'color_navigation_text': #030507,

	'color_search_background': #f5df4d,
	'color_search_text': #030507,

	'color_footer_background': #030507,
	'color_footer_text': #ffffff,
	'color_footer_link': #ffffff,

	'layout_width_content': 1400px,
	'layout_width_entry_content': 640px,

	'typography_size_html': 19px,
	'typography_size_header': 16px,
	'typography_size_footer': 16px,
	'typography_font_global':     ( Inter, sans-serif ),
	'typography_font_headings':   ( Inter, sans-serif ),
	'typography_font_site_title': ( Inter, sans-serif ),
	'typography_font_alt':        ( Inter, sans-serif ),
	// NOT CUSTOMIZABLE:
	'typography_font_monospace': ( Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace ),

);

$customize_options: map-merge( $customize_options, $color_palette );
