$selectors_margin_bottom: (
	'p',
	'ol', 'ul', 'dl',
	'hr',
	'form',
	'blockquote',
	'table',
	'figure',
	'iframe',
	'address',
	'pre',
	'[class*="wp-block-"]',
);

$selectors_button: (
	'.button',
	'.wp-block-button__link',
	'.wp-block-search .wp-block-search__button',
	'button',
	'[type="button"]',
	'[type="reset"]',
	'[type="submit"]',
	'.page-numbers:not(.current):not(.dots)',
	'.post-page-numbers:not(.current):not(.dots)',

	// WooCommerce
	'.cart_totals .checkout-button',
);

$selectors_sticky_header_mobile: '.has-sticky-header-mobile.has-scrolled';
