/* FILE: global/menu/_mobile.scss */

.menu-toggle {
	position: relative;
	padding: .5em 1em;
	font-size: 1em;
	border: 0;
	z-index: 999;

	.site &,
	.site &:hover,
	.site &:focus,
	.site &:active {
		background: none;
		color: inherit;
		box-shadow: none;
	}

	.toggled & {
		// See below for .no-js. Basically, we are creating faux button for such case.
		position: fixed;
		width: 100%;
		#{$left}: 0;
		top: 0;
		padding: 1em;

		.site & {
			background: var(--color_navigation_background);
			box-shadow: var(--drop_shadow);
		}

		.admin-bar & {
			@media screen and (min-width: 601px) and (max-width: #{ map_get( $breakpoint, $mobile_menu_breakpoint ) + px }) {
				top: var(--wp-admin--admin-bar--height);
			}
		}

	}

	.svg-icon {
		font-size: $ratio + em;
		vertical-align: middle;
	}

		.menu-open {

			.toggled &,
			.no-js:not(.is-amp) .main-navigation:focus-within & {
				display: none;
			}

		}

		.menu-close {
			display: none;

			.toggled &,
			.no-js:not(.is-amp) .main-navigation:focus-within & {
				display: inline;
			}

		}

	@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
		display: none;
	}

	// Accessibility helper: last accessible focusable element.
	&-skip-link {
		font-size: 16px !important;
		font-weight: 400 !important;

		&:not(:focus) {
			@extend %screen_reader--hide;
		}

		&-container {

			@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
				display: none !important;
			}

		}

	}

}

// Normal menu style overrides:
.has-navigation-mobile {

	.main-navigation-container {
		display: none;

		@include media( map_get( $breakpoint, $mobile_menu_breakpoint ) ) {
			display: flex;
		}

	}

	@include media( ( map_get( $breakpoint, $mobile_menu_breakpoint ), 'max-width' ) ) {

		.main-navigation {
			margin: 0;

			&.toggled {
				// See below for .no-js.
				color: var(--color_navigation_text); // For menu toggle button.
			}

			li {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
			}

			a {
				flex: 1 1 auto;
				display: block;
				padding: .25em ( $ratio_maj + em );
			}

			&-container {
				position: fixed;
				width: 100vw; // No need to mitigate for scrollbar width here.
				height: 100vh;
				#{$left}: 0;
				top: 0;
				padding: 6em 6% 3em;
				margin-bottom: 0;
				background: var(--color_navigation_background);
				color: var(--color_navigation_text);
				overflow-y: auto;
				z-index: 998;
			}

			.sub-menu {
				position: relative;
				width: 100%;
				#{$left}: auto;
				top: auto;
				padding: 0;
				padding-#{$left}: $ratio_maj + em;
				background: transparent;
				box-shadow: none;

				a {
					padding-top: $ratio_min + em;
					padding-bottom: $ratio_min + em;
				}

				.sub-menu {
					#{$left}: auto;
					top: auto;
				}

			}

			.sub-menu::before,
			.sub-menu .sub-menu::before {
				opacity: .05;
			}

		}

		.menu-primary {
			display: block;

			// Top level menu items.
			> li {
				font-size: $ratio + em;

				&,
				&:not(:last-child) {
					margin-#{$right}: 0;
				}

				> .sub-menu {
					font-size: $ratio_maj + em;
				}

			}

		}

		.toggle-sub-menus {

			.button-toggle-sub-menu {
				position: relative;
				#{$right}: auto;
				top: auto;
				transform: none;
			}

		}

		.toggled .main-navigation-container {
			// See below for .no-js.
			display: block;
		}

	}

	&.admin-bar .main-navigation-container {
		@media screen and (min-width: 601px) and (max-width: #{ map_get( $breakpoint, $mobile_menu_breakpoint ) + px }) {
			padding-top: calc( var(--wp-admin--admin-bar--height) + 6em );
		}
	}

}

// No JavaScript.
.no-js:not(.is-amp) .main-navigation:focus-within .menu-toggle {
	z-index: auto;
}
.no-js.has-navigation-mobile:not(.is-amp) .main-navigation:focus-within {
	@include media( ( map_get( $breakpoint, $mobile_menu_breakpoint ), 'max-width' ) ) {
		color: var(--color_navigation_text); // For menu toggle button.

		.main-navigation-container {
			display: block;

			// Faux un-focusable close button.
			&::before {
				content: '\00d7'; // &times;
				position: absolute;
				width: 100%;
				left: 0;
				top: 0;
				font-size: 3em;
				text-align: center;
				speak: none;
			}

		}

	}
}
