:root {
	/* -----------------------------------------------------------------------------
	 * Borders - Radius
	 * ----------------------------------------------------------------------------- */

	--border-radius-default: 4px;

}
