:root {
	/* -----------------------------------------------------------------------------
	 * Layers of z-index
	 * ----------------------------------------------------------------------------- */

	--z-index-spinner-container: 100;
	--z-index-views-selector: 30;
	--z-index-events-bar-button: 20;
	--z-index-search: 10;
	--z-index-week-event-hover: 5;
	--z-index-map-event-hover: 5;
}
