/*--------------------------------------------------------------
   Typography
--------------------------------------------------------------*/

html {
  font-size: 62.5%;
}

body {
  line-height: 1.625;
}

html,
html a {
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 28.8px;
  margin-bottom: 16.8px;
  line-height: 1.2;
}

p {
  margin-top: 0;
}

.text-center {
  text-align: center;
}

.text-left,
.section-head.text-left {
  text-align: left;
}

.vertical-gutter-flow,
p,
.entry-content > ul,
.entry-content > ol,
.comment-content > ul,
.comment-content > ol,
.wp-block-table,
.wp-block-quote,
blockquote,
.wp-block-quote.is-style-large,
.wp-block-pullquote.is-style-solid-color blockquote p,
.wp-block-image,
.wp-block-cover,
.wp-block-cover-image {
  margin-bottom: 15px;
}

.has-huge-font-size {
  line-height: 1.3;
}

.has-large-font-size {
  line-height: 1.4;
}

.display-1 {
  line-height: 1.1;
  margin-top: 0;
}

/** === Drop Cap and Subhead Block === */

p.has-drop-cap:not(:focus)::first-letter {
  font-size: 120px;
  float: left;
  line-height: 0.68;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.wp-block-subhead {
  font-size: 24px;
  font-weight: 900;
}

/** === Preformatted Block, Verse Block === */

.wp-block-preformatted,
.wp-block-verse,
pre,
address {
  font-size: 16px;
  line-height: 1.6;
  padding: 25px 30px;
}

/** === List Block === */

.entry-content > ol,
.comment-content > ol {
  padding: 0;
  list-style: decimal inside;
}

.entry-content > ol li,
.comment-content > ol li {
  margin: 0 0 5px;
  padding: 0;
}

.entry-content li > ol,
.comment-content li > ol {
  padding: 0 0 0 20px;
  margin-top: 5px;
}

.entry-content > ul,
.comment-content > ul {
  padding: 0;
}

.entry-content > ul li,
.comment-content > ul li {
  margin-bottom: 5px;
}

.entry-content li > ul,
.comment-content li > ul {
  padding: 0 0 0 20px;
  margin-top: 5px;
}

.entry-content > ul li:before,
.entry-content > ol ul li:before,
.comment-content > ul li:before,
.comment-content > ol ul li:before {
  content: "\2022";
  margin-right: 5px;
  display: inline-block;
  vertical-align: 2px;
}

.entry-content > ul > li > ul li:before,
.entry-content .children > li:before,
.comment-content > ul > li > ul li:before,
.comment-content .children > li:before {
  content: "\25E6";
  font-size: 25px;
  vertical-align: -3px;
  line-height: 1;
}

/** === Separator Block === */

.wp-block-separator.is-style-dots {
  background: none;
  border: none;
  height: auto;
  line-height: 1;
  max-width: none;
  text-align: center;
}

.wp-block-separator.is-style-dots:before {
  content: ". . . . . . . . . . . . . . . . . . . . ";
  font-family: serif;
  font-size: 20px;
  letter-spacing: 0;
  padding-left: 0;
  opacity: .3;
}

hr {
  border: none;
  height: 1px;
  width: 100%;
  display: block;
}

/** === Table Block === */

table {
  table-layout: inherit;
  width: 100%;
  max-width: 100%;
}

td,
th {
  padding: 10px 20px;
  min-height: 45px;
  text-align: left;
}

th {
  font-weight: bold;
}

audio,
canvas,
progress,
video {
  width: 100%;
}

.wp-block-table.is-style-stripes tr,
.wp-block-table.is-style-stripes {
  border-bottom: none;
}

/** === Blockquote Block === */

.wp-block-quote:before,
blockquote:before {
  content: "\201D";
  font-family: serif;
}

.wp-block-quote:before,
blockquote:before {
  position: absolute;
  display: block;
  text-align: center;
  opacity: .1;
  top: 20px;
  left: 0;
  font-size: 100px;
  line-height: 55px;
  font-weight: 700;
}

.wp-block-quote,
blockquote,
.wp-block-quote.is-style-large {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 900;
  position: relative;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  padding: 25px;
}

blockquote p + cite {
  margin-top: -10px;
  display: block;
  font-size: 18px;
}

.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p {
  line-height: 1.4;
  font-style: normal;
}

.wp-block-quote.is-large cite,
.wp-block-quote.is-large footer,
.wp-block-quote.is-style-large cite,
.wp-block-quote.is-style-large footer {
  text-align: left;
}

/** === Pullquote Block === */

.wp-block-pullquote p,
.wp-block-pullquote.is-style-solid-color blockquote p {
  font-size: 18px;
}

.wp-block-pullquote.is-style-solid-color blockquote cite {
  font-style: italic;
}

cite {
  font-style: italic;
  font-weight: normal;
}

.wp-block-pullquote {
  font-size: 18px;
  line-height: 1.66;
  font-weight: 900;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

body.johannes-sidebar-left .wp-block-pullquote,
body.johannes-sidebar-right .wp-block-pullquote {
  margin-left: 0;
  margin-right: 0;
}

.wp-block-pullquote.alignfull.is-style-default > *,
.wp-block-pullquote.alignwide > *,
.wp-block-pullquote.alignwide.is-style-solid-color > *,
.wp-block-pullquote.alignfull.is-style-solid-color > *,
.wp-block-pullquote.is-style-solid-color blockquote {
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.wp-block-pullquote.alignwide {
  margin-left: 0;
  margin-right: 0;
}

.wp-block-pullquote > blockquote:before {
  display: none;
}

.wp-block-pullquote > blockquote {
  margin-bottom: 0;
}

.wp-block-pullquote {
  border-top: 4px solid;
  border-bottom: 4px solid;
  text-align: left;
}

.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
  margin-top: 10px;
  margin-bottom: 15px;
  max-width: 100%;
}

.wp-block-pullquote.alignleft p,
.wp-block-pullquote.alignright p,
.wp-block-pullquote.is-style-solid-color.alignleft blockquote p,
.wp-block-pullquote.is-style-solid-color.alignright blockquote p {
  font-size: 18px;
}

.entry-content .wp-block-pullquote p:last-child {
  margin-bottom: 0;
}

/** === Image Block === */

.wp-block-image {
  font-size: 0;
  max-width: 100%;
}

.wp-block-image.alignwide {
  display: table;
}

.wp-block-image.alignfull {
  max-width: initial;
}

.wp-block-image figcaption {
  color: inherit;
  margin: 8px 0 0;
  font-size: 12px;
}

.wp-block-cover-image {
  position: relative;
}

.wp-block-cover-image:after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  position: absolute;
}

/** === Embed Block === */

.wp-block-embed.alignwide figcaption {
  text-align: center;
}

/** === Gallery Block === */

.wp-block-cover,
.wp-block-cover-image {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  background-position: 50%;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 300px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.entry-content .wp-block-cover.alignleft,
.entry-content .wp-block-cover.alignright {
  margin-top: 0;
}

.wp-block-cover-image,
.wp-block-gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.entry-content li.blocks-gallery-item:before {
  display: none;
}

li.blocks-gallery-item figure {
  margin-bottom: 0;
}

.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover-image h2,
.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
.wp-block-cover h2 {
  color: #fff;
  line-height: 1.25;
  margin-bottom: 0;
  max-width: 540px;
  z-index: 1;
  padding: 0 20px;
}

.johannes-sidebar-right .wp-block-cover-image .wp-block-cover-image-text,
.johannes-sidebar-right .wp-block-cover-image .wp-block-cover-text,
.johannes-sidebar-right .wp-block-cover-image h2,
.johannes-sidebar-right .wp-block-cover .wp-block-cover-image-text,
.johannes-sidebar-right .wp-block-cover .wp-block-cover-text,
.johannes-sidebar-right .wp-block-cover h2,
.johannes-sidebar-left .wp-block-cover-image .wp-block-cover-image-text,
.johannes-sidebar-left .wp-block-cover-image .wp-block-cover-text,
.johannes-sidebar-left .wp-block-cover-image h2,
.johannes-sidebar-left .wp-block-cover .wp-block-cover-image-text,
.johannes-sidebar-left .wp-block-cover .wp-block-cover-text,
.johannes-sidebar-left .wp-block-cover h2 {
  padding: 14px 48px;
}

.wp-block-gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.entry-content > .wp-block-gallery {
  margin-bottom: 15px;
}

.wp-block-gallery .blocks-gallery-image,
.wp-block-gallery .blocks-gallery-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 12px 12px 0;
  position: relative;
}

.wp-block-gallery .blocks-gallery-image figure,
.wp-block-gallery .blocks-gallery-item figure {
  height: 100%;
  margin: 0;
}

/** === Cover Image Block === */

.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover-image h2,
.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
.wp-block-cover h2 {
  color: #fff;
  margin-bottom: 0;
  max-width: 610px;
  padding: 14px;
  z-index: 1;
}

.wp-block-cover-image .wp-block-cover-image-text a,
.wp-block-cover-image .wp-block-cover-image-text a:active,
.wp-block-cover-image .wp-block-cover-image-text a:focus,
.wp-block-cover-image .wp-block-cover-image-text a:hover,
.wp-block-cover-image .wp-block-cover-text a,
.wp-block-cover-image .wp-block-cover-text a:active,
.wp-block-cover-image .wp-block-cover-text a:focus,
.wp-block-cover-image .wp-block-cover-text a:hover,
.wp-block-cover-image h2 a,
.wp-block-cover-image h2 a:active,
.wp-block-cover-image h2 a:focus,
.wp-block-cover-image h2 a:hover,
.wp-block-cover .wp-block-cover-image-text a,
.wp-block-cover .wp-block-cover-image-text a:active,
.wp-block-cover .wp-block-cover-image-text a:focus,
.wp-block-cover .wp-block-cover-image-text a:hover,
.wp-block-cover .wp-block-cover-text a,
.wp-block-cover .wp-block-cover-text a:active,
.wp-block-cover .wp-block-cover-text a:focus,
.wp-block-cover .wp-block-cover-text a:hover,
.wp-block-cover h2 a,
.wp-block-cover h2 a:active,
.wp-block-cover h2 a:focus,
.wp-block-cover h2 a:hover {
  color: #fff;
}

.johannes-sidebar-none .alignwide.wp-block-cover.has-parallax {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  max-width: 100%;
  margin-left: 0;
  left: 0;
}

/** === Code Block === */

.wp-block-code code {
  background: transparent;
}

/** === Media Text Block === */

.wp-block-media-text .wp-block-media-text__content {
  padding: 0 0 0 48px;
}

.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
  padding: 0 48px 0 0;
}

.wp-block-media-text.alignfull .wp-block-media-text__content,
.wp-block-media-text.alignwide .wp-block-media-text__content {
  padding: 0 10% 0 10%;
}

.wp-block-media-text__content > *:last-child {
  margin-bottom: 0;
}

.wp-block-media-text__content .wp-block-button {
  margin-top: 10px;
}

.mce-content-body {
  line-height: 1.625;
}

.editor-post-title__block .editor-post-title__input {
  line-height: 1.2;
}

/** === Alignments === */

.wp-block[data-align="left"]:not([data-type="core/button"]) .editor-block-list__block-edit {
  margin-left: 0;
}

.wp-block[data-align="right"]:not([data-type="core/button"]) .editor-block-list__block-edit {
  margin-right: 0;
}

/** === Blockquote and Pullquote Block === */

.wp-block-quote:not(.is-large):not(.is-style-large) {
  border-left: none;
  padding-left: 0;
}

.wp-block-quote p:last-child {
  margin-bottom: 0;
}

.wp-block-quote p {
  font-size: 22px;
}

.wp-block-quote cite,
.wp-block-quote footer,
.wp-block-quote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote footer,
.wp-block-pullquote__citation {
  color: inherit;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  text-transform: none;
}

code,
kbd,
pre,
samp {
  font-family: monospace,monospace;
}

.wp-block-preformatted pre,
.wp-block-verse pre {
  padding: 0;
}

.wp-block[data-align="left"] .wp-block-pullquote,
.wp-block[data-align="right"] .wp-block-pullquote,
.wp-block[data-align="left"] .wp-block-cover,
.wp-block[data-align="right"] .wp-block-cover {
  max-width: 305px;
  margin-top: 0;
  margin-bottom: 0;
}

.editor-block-list__block[data-align=left] .editor-block-list__block-edit .wp-block-pullquote {
  margin-right: 24px;
}

.editor-block-list__block[data-align=right] .editor-block-list__block-edit .wp-block-pullquote {
  margin-left: 24px;
}

.wp-block-pullquote p:last-child {
  margin-bottom: 24px;
}

.wp-block-table__cell-content {
  padding: 0;
}

.wp-block-cover .wp-block-cover-text {
  padding: 14px 48px;
}

/** === Column Block === */

/** === Cover Block === */

.wp-block[data-align="left"] .wp-block-cover,
.wp-block[data-align="right"] .wp-block-cover {
  width: 305px;
}

/** === Button Block === */

.wp-block-button .wp-block-button__link {
  padding: 14.4px 36px;
  min-height: 47px;
  font-size: 14px;
  line-height: 1.2;
}

@media only screen and (min-width: 359px) {
  .wp-block-quote,
  blockquote,
  .wp-block-quote.is-style-large {
    font-size: 20px;
  }

  .wp-block-pullquote.alignfull.is-style-default > *,
  .wp-block-pullquote.alignwide > *,
  .wp-block-pullquote.alignwide.is-style-solid-color > *,
  .wp-block-pullquote.alignfull.is-style-solid-color > *,
  .wp-block-pullquote.is-style-solid-color blockquote {
    max-width: 375px;
  }
}

@media only screen and (min-width: 600px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    margin-top: 24px;
    margin-bottom: 18px;
  }

  .vertical-gutter-flow,
  p,
  .entry-content > ul,
  .entry-content > ol,
  .comment-content > ul,
  .comment-content > ol,
  .wp-block-table,
  .wp-block-quote,
  blockquote,
  .wp-block-quote.is-style-large,
  .wp-block-pullquote.is-style-solid-color blockquote p,
  .wp-block-image,
  .wp-block-cover,
  .wp-block-cover-image {
    margin-bottom: 30px;
  }

  ul + h1,
  ul + h2,
  ul + h3,
  ul + h4,
  ul + h5,
  ul + h6,
  ol + h1,
  ol + h2,
  ol + h3,
  ol + h4,
  ol + h5,
  ol + h6 {
    margin-top: 0;
  }

  .wp-block-preformatted,
  .wp-block-verse,
  pre,
  address {
    padding: 30px 35px;
  }

  .entry-content > ol li,
  .comment-content > ol li {
    margin: 0 0 10px;
  }

  .entry-content li > ol,
  .comment-content li > ol {
    margin-top: 10px;
  }

  .entry-content > ul li,
  .comment-content > ul li {
    margin-bottom: 10px;
  }

  .entry-content li > ul,
  .comment-content li > ul {
    margin-top: 10px;
  }

  .entry-content > ul li:before,
  .entry-content > ol ul li:before,
  .comment-content > ul li:before,
  .comment-content > ol ul li:before {
    margin-right: 10px;
  }

  .wp-block-separator.is-style-dots:before {
    letter-spacing: 5px;
  }

  .wp-block-quote:before,
  blockquote:before {
    top: 13px;
    left: -44px;
    font-size: 150px;
  }

  .wp-block-quote,
  blockquote,
  .wp-block-quote.is-style-large {
    padding: 0;
  }

  blockquote p + cite {
    margin-top: -25px;
  }

  .wp-block-pullquote p,
  .wp-block-pullquote.is-style-solid-color blockquote p {
    font-size: 22px;
  }

  .wp-block-pullquote {
    padding: 30px 35px;
    margin-left: -30px;
    margin-right: -30px;
  }

  .wp-block-pullquote {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .wp-block-pullquote.alignfull.is-style-default > *,
  .wp-block-pullquote.alignwide > *,
  .wp-block-pullquote.alignwide.is-style-solid-color > *,
  .wp-block-pullquote.alignfull.is-style-solid-color > *,
  .wp-block-pullquote.is-style-solid-color blockquote {
    max-width: 530px;
  }

  .wp-block-pullquote.alignleft,
  .wp-block-pullquote.alignright {
    max-width: 305px;
    margin-bottom: 30px;
  }

  .wp-block-pullquote.alignleft p,
  .wp-block-pullquote.alignright p,
  .wp-block-pullquote.is-style-solid-color.alignleft blockquote p,
  .wp-block-pullquote.is-style-solid-color.alignright blockquote p {
    font-size: 22px;
  }

  .wp-block-cover,
  .wp-block-cover-image {
    min-height: 430px;
  }

  .entry-content > .wp-block-gallery {
    margin-bottom: 30px;
  }
}

@media (min-width: 600px) {
  .wp-block-columns > .editor-inner-blocks > .editor-block-list__layout > [data-type="core/column"] {
    margin-left: 0;
    margin-right: 0;
  }

  .wp-block-columns > .editor-inner-blocks > .editor-block-list__layout > [data-type="core/column"]:nth-child(odd) {
    margin-right: 37px;
  }

  .wp-block-columns > .editor-inner-blocks > .editor-block-list__layout > [data-type="core/column"]:nth-child(even) {
    margin-left: 37px;
  }

  .wp-block-columns > .editor-inner-blocks > .editor-block-list__layout > [data-type="core/column"]:not(:first-child) {
    margin-left: 37px;
  }

  .wp-block-columns > .editor-inner-blocks > .editor-block-list__layout > [data-type="core/column"]:not(:last-child) {
    margin-right: 37px;
  }
}

@media only screen and (min-width: 900px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    margin-top: 57.6px;
    margin-bottom: 33.6px;
  }

  .vertical-gutter-flow,
  p,
  .entry-content > ul,
  .entry-content > ol,
  .comment-content > ul,
  .comment-content > ol,
  .wp-block-table,
  .wp-block-quote,
  blockquote,
  .wp-block-quote.is-style-large,
  .wp-block-pullquote.is-style-solid-color blockquote p,
  .wp-block-image,
  .wp-block-cover,
  .wp-block-cover-image {
    margin-bottom: 30px;
  }

  .wp-block-preformatted,
  .wp-block-verse,
  pre,
  address {
    padding: 50px;
  }

  .wp-block-quote,
  blockquote,
  .wp-block-quote.is-style-large {
    font-size: 22px;
  }

  .wp-block-pullquote p,
  .wp-block-pullquote.is-style-solid-color blockquote p {
    font-size: 24px;
  }

  .wp-block-pullquote {
    padding: 40px 45px;
    margin-left: -48px;
    margin-right: -48px;
  }

  .wp-block-pullquote {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .wp-block-pullquote.alignfull.is-style-default > *,
  .wp-block-pullquote.alignwide > *,
  .wp-block-pullquote.alignwide.is-style-solid-color > *,
  .wp-block-pullquote.alignfull.is-style-solid-color > *,
  .wp-block-pullquote.is-style-solid-color blockquote {
    max-width: 540px;
  }

  .entry-content > .wp-block-gallery {
    margin-bottom: 30px;
  }

  .johannes-sidebar-none .alignwide.wp-block-cover.has-parallax {
    max-width: 930px;
    margin-left: -465px;
    left: 50%;
  }

  .wp-block[data-align="left"]:not([data-type="core/button"]) .editor-block-list__block-edit {
    margin-left: -148px;
  }

  .wp-block[data-align="right"]:not([data-type="core/button"]) .editor-block-list__block-edit {
    margin-right: -148px;
  }
}

@media only screen and (min-width: 1128px) {
  .vertical-gutter-flow,
  p,
  .entry-content > ul,
  .entry-content > ol,
  .comment-content > ul,
  .comment-content > ol,
  .wp-block-table,
  .wp-block-quote,
  blockquote,
  .wp-block-quote.is-style-large,
  .wp-block-pullquote.is-style-solid-color blockquote p,
  .wp-block-image,
  .wp-block-cover,
  .wp-block-cover-image {
    margin-bottom: 40.8px;
  }

  .wp-block-pullquote {
    margin-left: -48px;
    margin-right: -48px;
  }

  .wp-block-pullquote {
    margin-bottom: 48px;
    margin-top: 48px;
  }

  .entry-content > .wp-block-gallery {
    margin-bottom: 24px;
  }

  .johannes-sidebar-none .alignwide.wp-block-cover.has-parallax {
    max-width: 1128px;
    margin-left: -564px;
    left: 50%;
  }
}