/* Copy paste everything in this file into style.css before lunch */
.home #new-members { position: relative; }
.home .home-new-member-avatar { height: 127px; overflow: hidden }
.home .home-new-member-avatar img { border: none; height: 127px!important; width: 127px!important;}
#home-new-member-wrap { width: 163px; }
.home-new-member-info { width: 115px; margin: 5px 0 0 0; }
.registered { color: #c1c1c1; line-height: 12px; }
.new-member-navigation { position: absolute; bottom: 10px; right: 10px; width: 40px; height: 16px; z-index: 1000 }
.new-member-navigation button { border: none; width: 17px; height: 16px; display: block; cursor: pointer; text-indent: -9999px;}
.new-member-navigation button.prev { background: url(images/new-members-arrow-left.png) no-repeat; float: left; }
.new-member-navigation button.next { background: url(images/new-members-arrow-right.png) no-repeat; float: right; } 


/* UNLESS YOU KNOW WHAT YOU'RE DOING, DO NOT CHANGE THE FOLLOWING RULES */

.easy-accordion{display:block;position:relative;overflow:hidden;padding:0;margin:0}
.easy-accordion dt,.easy-accordion dd{margin:0;padding:0}
.easy-accordion dt,.easy-accordion dd{position:absolute}
.easy-accordion dt{margin-bottom:0;margin-left:0;z-index:5;/* Safari */ -webkit-transform: rotate(-90deg); /* Firefox */ -moz-transform: rotate(-90deg);-moz-transform-origin: 20px 0px;  /* Internet Explorer */ filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);cursor:pointer;}
.easy-accordion dd{z-index:1;opacity:0;overflow:hidden}
.easy-accordion dd.active{opacity:1;}
.easy-accordion dd.no-more-active{z-index:2;opacity:1}
.easy-accordion dd.active{z-index:3}
.easy-accordion dd.plus{z-index:4}
.easy-accordion .slide-number{position:absolute;bottom:0;left:10px;font-weight:normal;font-size:1.1em;/* Safari */ -webkit-transform: rotate(90deg); /* Firefox */ -moz-transform: rotate(90deg);  /* Internet Explorer */ filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);}
 
 
/* FEEL FREE TO CUSTOMIZE THE FOLLOWING RULES */

dd p{line-height:120%}

#wds-accordion-slider{width:950px;height:360px;padding:0; background: #929292}
.slider-shadow { background: url(images/slider-shadow.png) no-repeat center; height: 25px; clear: both; }
#wds-accordion-slider dl{width:950px;height:360px;background:#929292;}	
#wds-accordion-slider dt{height:46px;line-height:44px;text-align:center;padding:0;font-size:18px;font-family: Georgia, sans-serif;text-transform:uppercase;letter-spacing:1px;background:#717171; color:#26526c; color: #fff; border-bottom: 5px solid #929292; }
#wds-accordion-slider dt.active{cursor:pointer;color:#fff;background:#717171; border-bottom: 5px solid #717171; }
#wds-accordion-slider dt.hover{color:#68889b;}
#wds-accordion-slider dt.active.hover{color:#fff}
#wds-accordion-slider dd{background:#929292;}
#wds-accordion-slider .slide-number{color:#68889b;left:10px;font-weight:bold}
#wds-accordion-slider .active .slide-number{color:#fff;}
#wds-accordion-slider a{color:#68889b}
#wds-accordion-slider dd img{margin: 0; padding: 0; position: relative;}
#wds-accordion-slider .post-info { padding: 5px 15px; position: absolute; bottom: 0; background: url(images/transBlackBG.png) repeat; }
#wds-accordion-slider .post-info h4.slide-title{font-size:18px; margin: 0 0 5px 0; line-height: 18px; color: #fff; font-family: Arial; text-transform: none; }
#wds-accordion-slider .post-info p { font-size: 12px; color: #fff; line-height: 14px; text-transform: none; }
#wds-accordion-slider .more{padding-top:10px;display:block}

/* Single Course */
#single-course-header { margin: 0 0 10px 0 }
#single-course-header h1.title, #sidebar #item-buttons h2.sidebar-header { font-size: 14px; line-height: 14px; padding: 0 0 10px; margin: 0 0 10px 0; border-bottom: 1px solid #242424; font-weight: normal; color: #666 }
#single-course-header .header-image { margin: 0 0 10px; }
#single-course-header h2.course-title { font-size:  24px; font-family: Arial; font-weight: bold; line-height: 24px; font-weight: bold; letter-spacing: 1px; margin: 0; padding: 0; }
#single-course-header h2 a.rss { line-height: 24px; margin: 0 0 0 10px }
#single-course-header .course-byline { color: #9d9d9d; font-size: 11px; line-height: 11px; margin: 0 0 15px 0 }
#single-course-header .course-description, #single-course-header .course-html-block { margin: 0 0 10px; padding: 0 0 10px; border-bottom: 1px solid #eee; }
#single-course-header p { color: #6d6d6d; line-height: 16px; font-size: 11px; }

/* Sidebar */
#sidebar #item-buttons ul { list-style-type: none; margin: 0; padding: 0; }
#sidebar #item-buttons li { list-style-type: none; }
#sidebar #item-buttons li a { font-family: 'Arvo',arial,serif; font-size: 13px; color: #666; text-decoration: none; line-height: 13px; padding: 3px 5px; }
#sidebar #item-buttons li.current { background: #f0f0f0; }

/* Recent Course Stuff */
#recent-course { margin: 0 0 10px 0; }
#recent-course .recent-posts { float: left; width: 315px; margin: 0 39px 0 0 }
#recent-course .recent-discussions { float: left; width: 315px; margin: 0; border-left: 1px solid #EDEEEF; padding-left: 10px }
#recent-course li { border-bottom: 1px solid #EDEEEF; margin: 0 0 10px 0; }
#recent-course h5 { font-family: Arial; font-size: 11px; font-weight: bold; line-height: 11px; color: #666; margin: 0 0 3px; }
#recent-course p { font-family: Arial; font-size: 11px; color: #666; line-height: 15px;  }
#recent-course a.read-more, #recent-course .view-more a { color: #6d6d6d!important; font-size: 11px!important; font-weight: bold; font-style: italic; text-decoration: none; padding: 0!important; margin: 0 0 0 5px; }
#recent-course a.read-more:hover, #recent-course .view-more a:hover { color: #9d9d9d; }
#recent-course .view-more a { float: right; }

/* Activity & Site Pages */
.activity #content h3, .sites #content h3 {
	border-bottom: 1px solid #000;
	color: #717171;
	font-size: 14px;
	font-weight: normal;
	margin: 0 0 5px;
	padding: 0 0 10px;
}

.activity #content .activity-type-tabs {
	float: left;
}

.activity #content #bpsubnav {
	float: right;
}

.activity #content #bpsubnav ul li{
	list-style-type: none;
	border: none;
	float: right;
}

.activity #content #bpsubnav ul li.feed a {
	display: block;
	width: 17px;
	height: 17px;
	text-indent: -9999px;
	background: url(images/icon-RSS.png) no-repeat;
	cursor: pointer;
	padding: 0;
	margin: 2px 0 0 5px;
}

.activity #content .activity-type-tabs li {
	float: left;
	margin: 0 10px 0 0;
	padding: 0 10px 0 0;
}

.activity #content .activity-type-tabs li a {
	padding: 3px 0;
}

.activity #content .activity { 
	overflow: hidden;
	clear: both;
	margin: 10px 0 0 0;
}

.activity #content img.avatar {
	/*width: 50px!important;
	height: 50px!important;*/
	margin: 0 15px 0 0;
}

.activity #content .activity-avatar {
	clear: both;
}

.activity #content ul.item-list li, .sites #content ul.item-list li {
	padding: 10px 0;
	overflow: hidden;
	width: 100%;
}

.activity #content div.activity-meta, div.activity-comments {
	clear: none!important;
}

.whos-online .ribbon-case {
	margin: 0 !important;
}

#whos-online .avatar-block .item-avatar {
	margin: 0 3px 0 0!important;
}

#whos-online {
	padding: 10px 10px 3px 10px !important;
}

#blog-dir-search { 
	margin-top: 0; 
	margin-bottom: 10px;
	float: none; 
}

.sites #sidebar .item-list-tabs {
	clear: both;
}

.sites #sidebar .item-list-tabs ul li {
	float: none;
	margin: 0 0 5px 0;
	border-right: none;
}

.sites #sidebar .item-list-tabs li a { 
	font-size: 12px;
	padding: 0;
}

.activity #content #whats-new-content { margin-left: 0; }

#whats-new-options {
	margin: 10px 0; 	
}

#footer-widgets li.rss a {
	padding-left: 20px;
	background: url(images/rss.png) no-repeat left;
}