<!-- wp:template-part {"slug":"header","theme":"simple-nova","tagName":"header"} /-->

<!-- wp:pattern {"slug": "simple-nova/simple-nova-hero-002"} /-->

<!-- wp:pattern {"slug": "simple-nova/simple-nova-featured-007"} /-->

<!-- wp:pattern {"slug": "simple-nova/simple-nova-team-001"} /-->

<!-- wp:pattern {"slug": "simple-nova/simple-nova-featured-005"} /-->

<!-- wp:pattern {"slug": "simple-nova/simple-nova-cta-001"} /-->

<!-- wp:template-part {"slug":"footer","theme":"simple-nova","area":"footer"} /-->