<!-- wp:template-part {"slug":"header","theme":"simple-nova","tagName":"header"} /-->

<!-- wp:pattern {"slug": "simple-nova/simple-nova-hero-001"} /-->

<!-- wp:pattern {"slug": "simple-nova/simple-nova-featured-002"} /-->

<!-- wp:pattern {"slug": "simple-nova/simple-nova-featured-003"} /-->

<!-- wp:pattern {"slug": "simple-nova/simple-nova-featured-004"} /-->

<!-- wp:pattern {"slug": "simple-nova/simple-nova-testimonial-001"} /-->

<!-- wp:pattern {"slug": "simple-nova/simple-nova-cta-001"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|superbspacing-xsmall","bottom":"var:preset|spacing|superbspacing-large","left":"var:preset|spacing|superbspacing-small","right":"var:preset|spacing|superbspacing-small"}}},"backgroundColor":"base","className":"blog-two-columns","layout":{"type":"constrained"}} -->
<main class="wp-block-group blog-two-columns has-base-background-color has-background" style="padding-top:var(--wp--preset--spacing--superbspacing-xsmall);padding-right:var(--wp--preset--spacing--superbspacing-small);padding-bottom:var(--wp--preset--spacing--superbspacing-large);padding-left:var(--wp--preset--spacing--superbspacing-small)"><!-- wp:heading {"style":{"spacing":{"margin":{"bottom":"50px"}}},"textColor":"contrast","fontSize":"superbfont-xlarge"} -->
<h2 class="wp-block-heading has-contrast-color has-text-color has-superbfont-xlarge-font-size" style="margin-bottom:50px">Recent Posts</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":0,"query":{"perPage":"3","pages":0,"offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[]},"align":"wide","layout":{"type":"constrained","wideSize":"100%"}} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|superbspacing-medium"}},"layout":{"type":"default","columnCount":2}} -->
<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"bottom":"0"},"blockGap":"var:preset|spacing|superbspacing-small"},"border":{"bottom":{"width":"0px","style":"none"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group alignwide" style="border-bottom-style:none;border-bottom-width:0px;margin-bottom:0;padding-top:0;padding-bottom:0"><!-- wp:post-featured-image {"isLink":true,"width":"","height":"400px","align":"wide","style":{"border":{"radius":"8px"}}} /-->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"top":"0px"}},"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"mono-1","fontSize":"superbfont-large"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|superbspacing-xxsmall"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:post-date {"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"primary","fontSize":"superbfont-xsmall"} /-->

<!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"primary"} -->
<p class="has-primary-color has-text-color" style="font-style:normal;font-weight:600">•</p>
<!-- /wp:paragraph -->

<!-- wp:post-author-name {"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"primary","fontSize":"superbfont-xsmall"} /--></div>
<!-- /wp:group -->

<!-- wp:post-excerpt {"excerptLength":50,"style":{"spacing":{"margin":{"top":"20px","right":"0px","bottom":"0px","left":"0px"}}},"textColor":"contrast"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></main>
<!-- /wp:group -->


<!-- wp:template-part {"slug":"footer","theme":"simple-nova","area":"footer"} /-->
