<!-- wp:template-part {"slug":"header","theme":"simple-nova","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|superbspacing-large","bottom":"var:preset|spacing|superbspacing-large","left":"var:preset|spacing|superbspacing-small","right":"var:preset|spacing|superbspacing-small"}}},"className":"blog-two-columns","layout":{"type":"constrained"}} -->
<main class="wp-block-group blog-two-columns" style="padding-top:var(--wp--preset--spacing--superbspacing-large);padding-right:var(--wp--preset--spacing--superbspacing-small);padding-bottom:var(--wp--preset--spacing--superbspacing-large);padding-left:var(--wp--preset--spacing--superbspacing-small)"><!-- wp:query-title {"type":"search","align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50"}},"typography":{"fontStyle":"normal","fontWeight":"600"}},"fontSize":"superbfont-large"} /-->

<!-- wp:search {"label":"","buttonText":"Search","style":{"border":{"radius":"10px"}},"fontSize":"superbfont-xsmall"} /-->

<!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[]},"align":"wide","layout":{"type":"constrained","wideSize":"100%"}} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|superbspacing-medium"}},"layout":{"type":"default","columnCount":2}} -->
<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"bottom":"0"},"blockGap":"var:preset|spacing|superbspacing-small"},"border":{"bottom":{"width":"0px","style":"none"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group alignwide" style="border-bottom-style:none;border-bottom-width:0px;margin-bottom:0;padding-top:0;padding-bottom:0"><!-- wp:post-featured-image {"isLink":true,"width":"","height":"400px","align":"wide","style":{"border":{"radius":"8px"}}} /-->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"top":"0px"}},"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"contrast","fontSize":"superbfont-large"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|superbspacing-xxsmall"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:post-date {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"primary","fontSize":"superbfont-xsmall"} /-->

<!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"primary"} -->
<p class="has-primary-color has-text-color" style="font-style:normal;font-weight:600">•</p>
<!-- /wp:paragraph -->

<!-- wp:post-author-name {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"primary","fontSize":"superbfont-xsmall"} /--></div>
<!-- /wp:group -->

<!-- wp:post-excerpt {"excerptLength":50,"style":{"spacing":{"margin":{"top":"20px","right":"0px","bottom":"0px","left":"0px"}}},"textColor":"contrast"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"29px","bottom":"60px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="margin-top:29px;margin-bottom:60px"><!-- wp:query-pagination {"paginationArrow":"arrow","align":"wide","textColor":"base","layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:query-pagination-previous {"style":{"typography":{"fontSize":"1.53rem"}}} /-->

<!-- wp:query-pagination-next {"style":{"typography":{"fontSize":"1.53rem"}}} /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:group -->

<!-- wp:query-pagination {"paginationArrow":"arrow","align":"wide","textColor":"primary","layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:query-pagination-previous {"fontSize":"superbfont-medium"} /-->

<!-- wp:query-pagination-next {"fontSize":"superbfont-medium"} /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"simple-nova","tagName":"footer"} /-->