body .components-button.has-icon.redux-templates-insert-library-button {
    display: none !important;
}
body .meta-box-sortables select {
    box-sizing: border-box;
}


/* Admin options */

input.typology-hidden, .typology-hidden { display: none; }
img.typology-img-select { border: 2px solid #eee; cursor: pointer; border-radius: 4px; background: #fff;}
img.typology-img-select.selected {border: 2px solid #0074a2;}
ul.typology-img-select-wrap {float: left; width: 100%; display: block; margin: 5px 0;}
ul.typology-img-select-wrap li {float: left; margin-right: 1px;}


/* Welcome panel */

.welcome-panel.typology-welcome-panel{
    margin: 33px 20px 0 0;
}

.welcome-panel.typology-welcome-panel .welcome-panel-content{
    min-height:  200px;
}

.welcome-panel.typology-welcome-panel:before{
    display:  none;
}
.welcome-panel.typology-welcome-panel .welcome-panel-column,
.welcome-panel.typology-welcome-panel .welcome-panel-column:first-child{
     max-width: 340px;
     margin-right: 40px;
     display:  block;
}

.typology-welcome-panel  .welcome-panel-column.important h3 {
    color: #F44336;
}

.typology-welcome-panel  .welcome-panel-column.important h3 .dashicons{
    margin-top: 4px;
}

.welcome-panel.typology-welcome-panel h2{
    padding:  30px 30px 0;
    font-size:  38px;
    color: rgba(255,255,255,0.9);
}

.welcome-panel.typology-welcome-panel h2+p{
    padding:  0 30px;
    font-size:  20px;
    margin: 5px 0 30px;
    color: rgba(255,255,255,0.7);
}

@media only screen and (min-width: 1600px){
    .welcome-panel.typology-welcome-panel .welcome-panel-column-container {
        display: flex;
        justify-content: start;
    }
}

.welcome-panel.typology-welcome-panel .welcome-panel-column-container {
    padding: 30px;
}

.welcome-panel.typology-welcome-panel .howto {
    margin: 15px 30px;
color: #efefef;
font-style: italic;
}

/* Widgets */
.typology-widget-content-sortable label{
    width: 100%;
    display: block;
    margin-bottom: 5px;
}