.wp-block:not([data-align=wide]):not([data-align=full]) {
  max-width: 100%;
}

.sidebar-full-width .wp-block[data-align=wide], .sidebar-full-width .wp-block[data-align=full] {
  padding: 0;
}

.sidebar-full-width .wp-block:not([data-align=wide]):not([data-align=full]), .header-default:not(.sidebar-full-width) .hestia-block-list-wrap, .header-no-content:not(.sidebar-full-width) .hestia-writing-flow-inside, .header-classic-blog:not(.sidebar-full-width) .hestia-writing-flow-inside {
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 749px) {
  .sidebar-full-width .wp-block:not([data-align=wide]):not([data-align=full]), .header-default:not(.sidebar-full-width) .hestia-block-list-wrap, .header-no-content:not(.sidebar-full-width) .hestia-writing-flow-inside, .header-classic-blog:not(.sidebar-full-width) .hestia-writing-flow-inside {
    max-width: 748px;
  }
}
@media (min-width: 768px) {
  .sidebar-full-width .wp-block:not([data-align=wide]):not([data-align=full]), .header-default:not(.sidebar-full-width) .hestia-block-list-wrap, .header-no-content:not(.sidebar-full-width) .hestia-writing-flow-inside, .header-classic-blog:not(.sidebar-full-width) .hestia-writing-flow-inside {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .sidebar-full-width .wp-block:not([data-align=wide]):not([data-align=full]), .header-default:not(.sidebar-full-width) .hestia-block-list-wrap, .header-no-content:not(.sidebar-full-width) .hestia-writing-flow-inside, .header-classic-blog:not(.sidebar-full-width) .hestia-writing-flow-inside {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .sidebar-full-width .wp-block:not([data-align=wide]):not([data-align=full]), .header-default:not(.sidebar-full-width) .hestia-block-list-wrap, .header-no-content:not(.sidebar-full-width) .hestia-writing-flow-inside, .header-classic-blog:not(.sidebar-full-width) .hestia-writing-flow-inside {
    max-width: 1170px;
  }
}
.hestia-gtb .editor-block-list__layout .editor-block-list__block {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

.editor-styles-wrapper {
  padding-top: 0;
}
.editor-styles-wrapper .editor-post-title__block .editor-post-title__input {
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 700;
  font-size: 42px;
  color: #3C4858;
}
.editor-styles-wrapper .wp-block.editor-post-title__block {
  max-width: 100%;
}
.editor-styles-wrapper .hestia-featured-background {
  background-position: center;
  background-size: cover;
}
.editor-styles-wrapper .hestia-featured-background.classic-blog-featured {
  display: none;
  max-height: 300px;
  width: 100%;
  background-size: cover;
  height: 300px;
  max-width: 100%;
  margin: 40px auto;
}
.editor-styles-wrapper .no-content {
  display: none !important;
  width: 100%;
  background: linear-gradient(45deg, #a81d84 0%, #ea396f 100%);
  min-height: 230px;
}
.editor-styles-wrapper.header-no-content .no-content {
  display: block !important;
}
.editor-styles-wrapper.header-no-content .hestia-featured-background.title-container {
  background: none !important;
}
.editor-styles-wrapper.header-no-content .hestia-featured-background.title-container:before {
  content: none;
}
.editor-styles-wrapper.header-classic-blog.has-featured-image .hestia-featured-background.classic-blog-featured {
  display: block !important;
}
.editor-styles-wrapper.header-classic-blog .hestia-featured-background.title-container {
  background: none !important;
}
.editor-styles-wrapper.header-classic-blog .hestia-featured-background.title-container:before {
  content: none;
}
.editor-styles-wrapper.header-default .editor-post-title__block .editor-post-title__input {
  text-align: center;
  color: #fff;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  font-size: 42px;
  padding: 0;
}
.editor-styles-wrapper.header-default .wp-block.editor-post-title__block {
  max-width: 83.33333333%;
  width: 100%;
}
.editor-styles-wrapper.header-default .editor-writing-flow .hestia-featured-background.title-container {
  width: 100%;
  padding: 80px 0 110px;
  background: linear-gradient(45deg, #a81d84 0%, #ea396f 100%) no-repeat center center;
  background-size: cover;
  min-height: 300px;
  text-align: center;
  align-items: center;
  display: flex;
}
.editor-styles-wrapper.header-default .editor-post-title {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}
.editor-styles-wrapper.has-featured-image .hestia-featured-background {
  background-size: cover;
  background-position: center;
  position: relative;
}
.editor-styles-wrapper.has-featured-image .hestia-featured-background:before {
  background-color: rgba(0, 0, 0, 0.5);
  content: " ";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}
.editor-styles-wrapper.has-featured-image.header-classic-blog .classic-blog-featured {
  min-height: 500px;
  max-width: 100%;
}
.editor-styles-wrapper.has-featured-image.header-classic-blog .classic-blog-featured:before {
  content: none;
}

.hestia-gtb.sidebar-full-width .hestia-block-list-wrap > .editor-block-list__layout > .wp-block:not([data-align=wide]):not([data-align=full]) > *:not(.editor-block-mover):not(.editor-inserter-with-shortcuts) {
  max-width: 66.6666666%;
  width: 66.6666666%;
  margin-left: auto;
  margin-right: auto;
}
.hestia-gtb.sidebar-full-width.header-default .hestia-block-list-wrap > .editor-block-list__layout > .wp-block.editor-post-title__block > * {
  max-width: 100% !important;
  width: 100% !important;
}
.hestia-gtb.sidebar-full-width.editor-styles-wrapper.has-featured-image.header-classic-blog .classic-blog-featured {
  margin-left: auto;
  margin-right: auto;
  max-width: 66.6666666%;
}

.hestia-gtb .hestia-sidebar-dummy {
  /* Use for inline */
  min-width: 25%;
  background-color: rgba(231, 231, 231, 0.25);
  display: none;
  margin-top: 40px;
  text-align: center;
}
.hestia-gtb.header-default .hestia-sidebar-dummy.full-width {
  display: none;
}
.hestia-gtb.header-default .hestia-block-list-wrap {
  display: flex;
}
.hestia-gtb.header-default .hestia-block-list-wrap > .editor-block-list__layout {
  flex-grow: 1;
}
.hestia-gtb.header-classic-blog .hestia-sidebar-dummy:not(.full-width), .hestia-gtb.header-no-content .hestia-sidebar-dummy:not(.full-width) {
  display: none;
}
.hestia-gtb.header-classic-blog .hestia-writing-flow-inside, .hestia-gtb.header-no-content .hestia-writing-flow-inside {
  display: flex;
  flex-direction: row;
}
.hestia-gtb.header-classic-blog .hestia-writing-flow-inside > div:not(.hestia-sidebar-dummy), .hestia-gtb.header-no-content .hestia-writing-flow-inside > div:not(.hestia-sidebar-dummy) {
  flex-grow: 1;
}

.post-type-page .editor-post-title__block > div:first-child:after {
  content: none;
}

.editor-post-title__block > div:first-child:after {
  content: ' ';
  width: 350px;
  height: 15px;
  display: block;
  background: linear-gradient(90deg, #3C4858 0%, #3C4858 6%, transparent 6.01%, transparent 7.5%, #3C4858 7.51%, #3C4858 24%, transparent 24.01%, transparent 26%, #3C4858 26.01%, #3C4858 43%, transparent 43.01%, transparent 45%, #3C4858 45.01%, #3C4858 75%, transparent 75.01%, transparent 77%, #3C4858 77.01%);
  margin: 0 0 40px 15px;
}
.header-default .editor-post-title__block > div:first-child:after {
  margin: 20px auto 0;
  opacity: .75;
  background: linear-gradient(90deg, #fff 0%, #fff 6%, transparent 6.01%, transparent 7.5%, #fff 7.51%, #fff 24%, transparent 24.01%, transparent 26%, #fff 26.01%, #fff 43%, transparent 43.01%, transparent 45%, #fff 45.01%, #fff 75%, transparent 75.01%, transparent 77%, #fff 77.01%);
}

.editor-styles-wrapper .editor-default-block-appender textarea.editor-default-block-appender__content {
  font-family: Roboto, Arial, Helvetica, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.editor-styles-wrapper .editor-writing-flow {
  font-family: Roboto, Arial, Helvetica, Verdana, sans-serif;
  color: #3C4858;
  font-size: 18px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.editor-styles-wrapper .editor-writing-flow p {
  font-size: 18px;
}
.editor-styles-wrapper .editor-writing-flow h1, .editor-styles-wrapper .editor-writing-flow h2, .editor-styles-wrapper .editor-writing-flow h3, .editor-styles-wrapper .editor-writing-flow h4, .editor-styles-wrapper .editor-writing-flow h5, .editor-styles-wrapper .editor-writing-flow h6 {
  font-weight: 500;
  line-height: 1.618;
}
.editor-styles-wrapper .editor-writing-flow a {
  color: #e91e63;
  text-decoration: none;
}
.editor-styles-wrapper .editor-writing-flow a:hover {
  opacity: .75;
}
.editor-styles-wrapper .editor-writing-flow h1 {
  font-size: 42px;
}
.editor-styles-wrapper .editor-writing-flow h2 {
  font-size: 37px;
}
.editor-styles-wrapper .editor-writing-flow h3 {
  font-size: 32px;
}
.editor-styles-wrapper .editor-writing-flow h4 {
  font-size: 27px;
}
.editor-styles-wrapper .editor-writing-flow h5 {
  font-size: 23px;
}
.editor-styles-wrapper .editor-writing-flow h6 {
  font-size: 18px;
}
.editor-styles-wrapper .editor-writing-flow pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.editor-styles-wrapper .wp-block-cover {
  font-size: inherit;
}
.editor-styles-wrapper .wp-block-cover p.wp-block-cover-text {
  font-size: 2em;
}
.editor-styles-wrapper .wp-block-quote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;
}
.editor-styles-wrapper .wp-block-quote p {
  font-style: italic;
}
.editor-styles-wrapper .wp-block-quote:not(.is-large):not(.is-style-large) {
  padding: 10px 20px;
  border-left: 5px solid #eee;
}
.editor-styles-wrapper .wp-block-quote:not(.is-large):not(.is-style-large) .wp-block-quote__citation {
  font-size: .8em;
  color: #777;
  font-style: normal;
  font-weight: 400;
}
.editor-styles-wrapper .wp-block-quote.is-style-large p {
  font-size: 24px;
}
.editor-styles-wrapper .wp-block-quote.is-style-large .wp-block-quote__citation {
  font-size: 18px;
  color: #777;
  font-style: normal;
  font-weight: 400;
}
.editor-styles-wrapper .wp-block-table td {
  border: none;
}
.editor-styles-wrapper .wp-block-table tr {
  border-bottom: 1px solid #eee;
}
.editor-styles-wrapper .wp-block-separator {
  border-color: #eee;
  padding-top: 5px;
}
.editor-styles-wrapper .wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  max-width: 150px;
  border-bottom: 1px solid #eee;
}

@media (min-width: 768px) {
  .hestia-gtb .hestia-sidebar-dummy {
    display: block;
  }
}
