/* FILE: global/accessibility/_screen-reader.scss */

// Text meant only for screen readers.
.screen-reader-text,
.is-style-screen-reader-text {
	@extend %screen_reader--hide;
	padding: 0;
	margin: -1px;
	border: 0;

	&:focus {
		@extend %screen_reader--show;
		display: block;
		margin: 5px;
		padding: 1em 1.5em;
		font-size: 14px;
		font-weight: 700;
		text-decoration: none;
		background: var( --color_button_background, #36b );
		color: var( --color_button_text, #fff );
		z-index: 100000; // Above WP toolbar.
	}

}

// Do not show the outline on the skip link target.
#content[tabindex="-1"]:focus {
	outline: 0;
}
