.post-content .searchform input.s {
	-webkit-appearance: none;
	width: 99%;
	padding: 18px 95px 18px 18px;
	background: #FFF;
	border: 1px solid #DDD;
	border-right: none;
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	border-radius: 3px 0 0 3px;
}

.post-content .searchform .s:focus {
	outline: none;
	background: #EEE;
	color: #444;
}

.post-content .searchform .searchsubmit {
	-webkit-appearance: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 85px;
	line-height: 1;
	border: none;
	background: #1abc9c;
	border: 1px solid #1abc9c;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.8rem;
	font-family: 'Lato', sans-serif;
	border-radius: 0 3px 3px 0;
}

.post-content .searchform .searchsubmit:hover {
	cursor: pointer;
	background-color: #089D80;
	border-color: #089D80;
}

.widget_search input.s {
	-webkit-appearance: none;
	width: 99%;
	padding: 18px 95px 18px 18px;
	background: #FFF;
	border: 1px solid #DDD;
	border-right: none;
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	border-radius: 3px 0 0 3px;
}

.widget_search .s:focus {
	outline: none;
	background: #EEE;
	color: #444;
}

.widget_search .searchsubmit {
	-webkit-appearance: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 85px;
	line-height: 1;
	border: none;
	background: #1abc9c;
	border: 1px solid #1abc9c;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.8rem;
	font-family: 'Lato', sans-serif;
	border-radius: 0 3px 3px 0;
}

.widget_search .searchsubmit:hover {
	cursor: pointer;
	background-color: #089D80;
	border-color: #089D80;
}
/**contrast error fixing**/
body .tagcloud a{
	background: #595959;
}
body .comment-meta-content p a{
	color: #595959;
}
body .post-meta{
	color: #595959;
}
body .post-meta a{
	color: #595959;
}
body .post-categories {
	color: #595959;
}
body .post-nav h5 {
	color: #595959;
}
body .pingbacklist .comment-edit-link {
	color: #595959;
}
body .bypostauthor .comment-meta-content cite .post-author {
	color: #595959;
}
body .page-title h4 {
	color: #595959;
}
body .page-template-template-archives-php .post-content ul li a span {
	color: #595959;
}
body .widget-content ul li .post-date {
	color: #595959;
}
body #wp-calendar tfoot a {
	color: #595959;
}
body .post-meta .date-sep {
	color: #595959;
}
body .credits,
body .credits a {
	color: #fff;
}
body .blog-description:before {
	background: #fff;
}
body .blog-description {
	color: #fff;
}
body .blog-menu a {
	color: #fff;
}
body .blog-menu li:hover > a {
	color: #1abc9c;
}
@media print {
}

.comment-metadata {
	color: #515151;
	line-height: 1.25;
}

.meta {
	color: #515151;
}
