.home #content ul , .home-page #content ul{
	padding: 0; margin: 0; list-style: none;
}

.home #content p , .home-page #content p { margin: 0; }

.cutoff_img {
	overflow: hidden;
	margin-bottom: 10px;
	height: 70px;
	border: 1px solid #c8c6b3;
}

.cutoff_img img { margin-top: -35px; }

.home #content h3 , .home-page #content h3 {
	font-weight: bold;
}

/* two column layout */

.twocol li, .fourcol li {
	float: left;
	width: 300px;
	margin-right: 15px;
}

.twocol li:last-child, .fourcol li:last-child {
	margin: 0;
}

.fourcol li {
	width: 137px;
}

/* widgets */

.home #sidebar , .home-page #sidebar {
	border: none;
}

.home .widget , .home-page .widget {
	padding: 0 0 15px 0;
	margin: 0;
	border: none;
	margin-bottom: 15px;
	background: #fbf9f3;
}

.home .widget h3 , .home-page .widget h3 {
	background: #b6b6b0;
	font-family: 'Candal', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	padding: 5px 10px;
}

.home .brownbox .readmore , .home-page .brownbox .readmore { display: none; }
.home .brownbox p , .home-page .brownbox p { font-size: 12px; }

.home .widget.brownbox p , .home-page .widget.brownbox p { padding: 0 15px; line-height: 18px; }
.home .widget.brownbox , .home-page .widget.brownbox { color: #72736e; }
.home .widget.brownbox h4 , .home-page .widget.brownbox h4 {  padding: 0 15px; letter-spacing: -1px; font-size: 16px; }
.home .widget.brownbox h4 a , .home-page .widget.brownbox h4 a { color: #176481; }
.home .widget.brownbox ul ul li , .home-page .widget.brownbox ul ul li { padding: 0 0 6px 25px; font-size: 12px; line-height: 16px; }
