/* Intentionally hiding the other NPS popups when enabled at the same time with Astra. */
body:has([data-id="nps-survey-astra"]) .nps-survey-root:not([data-id="nps-survey-astra"]) {
    display: none;
}

/* Bring the Astra NPS popup in front on the theme builder pages. */
.ast-theme-builder [data-id="nps-survey-astra"] {
    position: relative;
    z-index: 9999999;
}

/* Prevent stacking of the Astra NPS popup, make it placed correctly */
[data-id="nps-survey-astra"] .nps-survey-wrapper > div {
    right: auto !important;
    left: 8px !important;
    bottom: 8px !important;
    max-width: min(30rem, calc(100vw - 16px));
}
